{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "vhod" %}{% endblock %}

{% block navbar_all %}{% endblock %}
{% block footer_all %}{% endblock %}

{% block content %}
    <style>
        .asteriskField {
            display: none;
        }
    </style>

    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
            <div class="card">
                <div class="card-block">
                    <h5 class="card-title">{% trans "vhod" %}</h5>
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block social_buttons %}{% endblock %}
