{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "novyj_parol" %}{% endblock %}
{% block content %}
    <style>
        .asteriskField {
            display: none;
        }
    </style>

    <div class="card card-block" style="width: 40%">
        <h5 class="card-title">{% trans "vvedite_novyj_parol" %}</h5>
        <p class="card-text">{% trans "vvedite_parol_dvazhdy" %}</p>
        {% crispy form %}
    </div>
{% endblock %}

{% block social_buttons %}{% endblock %}
