{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Изменение пароля{% endblock %}
{% block content %}
    <style>
        .asteriskField {
            display: none;
        }
    </style>

    <div class="card card-block" style="width: 40%">
        <h3 class="card-title">Изменение пароля</h3>
        <p class="card-text">В целях безопасности, пожалуйста, введите свой старый пароль, затем введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
        {% crispy form %}
    </div>
{% endblock %}

{% block social_buttons %}{% endblock %}
