{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Изменение пароля" %}{% endblock %}
{% block content %}
    <style>
        .asteriskField {
            display: none;
        }
    </style>

    <div class="card card-block" style="width: 40%">
        <h5 class="card-title">{% trans "Изменение пароля" %}</h5>
        <p class="card-text">{% trans "В целях безопасности, пожалуйста, введите свой старый пароль, затем введите новый пароль дважды, чтобы мы могли убедиться в правильности написания." %}</p>
        {% crispy form %}
    </div>
{% endblock %}

{% block social_buttons %}{% endblock %}
