{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Новый пароль{% endblock %}
{% block content %}
    <style>
        .asteriskField {
            display: none;
        }
    </style>

    <div class="card card-block" style="width: 40%">
        <h5 class="card-title">Введите новый пароль</h5>
        <p class="card-text">Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</p>
        {% crispy form %}
    </div>
{% endblock %}

{% block social_buttons %}{% endblock %}
