{% extends "base_email.html" %}
{% load i18n %}
{% load mail_func %}
{% block content %}
    <table cellspacing="0" cellpadding="0" width="100%" style="color:#373a3c;border-collapse:separate">
        <tbody>
        <tr>
            <td>
                <p style="line-height:20px;margin:0 0 15px 0">
                    {% trans "zdravstvujte" %},&nbsp;{{ user.get_full_name }}!
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="line-height:20px;margin:0 0 15px;text-align: justify">
                    {% autoescape off %}
                        {% with site_name=site_name|get_html_url:domain %}
                            {% blocktrans %}You're receiving this e-mail because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
                        {% endwith %}
                    {% endautoescape %}
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="line-height:20px;margin:0 0 30px;text-align: justify">
                    {% trans "Please go to the following page and choose a new password:" %}
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" style="border-collapse: separate;width: 100%;">
                    <tbody>
                    <tr>
                        <td style="width: 50%"></td>
                        <td style="border: 1px solid #0275d8;background-color: #0275d8;border-radius: 4px;white-space: nowrap">
                            <a href="{{ domain }}{% url 'auth_password_reset_confirm' uidb64=uid token=token %}"
                               target="_blank"
                               style="color:#fff;padding: 8px 16px;font-size:17px;line-height:20px;font-weight:normal;text-decoration:none;display:block;height:20px;"
                            >{% trans "smenit_parol" %}</a>
                        </td>
                        <td style="width: 50%"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <p style="line-height:20px;margin:30px 0 0 0;text-align: justify">
                    {% trans "Your username, in case you've forgotten:" %} {{ user.username }}
                </p>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
