.loading {
    text-align: center;
}

.table-queue {
    width: 100%;
}

.table-queue th {
    white-space: nowrap
}

.table-queue td,
.table-queue th {
    vertical-align: middle;
}

.table-queue td.centered {
    text-align: center;
}

.table-queue td.mark-td span.label {
    font-size: 1rem;
}

.btn-square {
    padding: .375rem .375rem;
}

.main-table {
    display: none;
}

.dataTables_paginate .fa {
    line-height: 1.5;
}

#button_filter,
#button_clear {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-queue-info {
    margin-top: 1rem;
}

.dataTables_processing {
    color: #333;
    background-color: rgba(0, 0, 0, 0.09);
}
