{% extends "base_email.html" %}
{% load i18n %}
{% block main_width %}475px{% endblock %}
{% block content %}
    <p style="color:#373a3c;line-height:20px;margin:0 0 20px">У
        вас {{ unread_count }} {{ unread_count_string }}.</p>
    <table cellpadding="0" cellspacing="0" style="border-collapse: separate;">
        <tbody>
        <tr>
            <td bgcolor="#0275d8"
                style="border: 1px solid #0275d8;background-color: #0275d8;border-radius: 4px">
                <a href="{{ domain }}{% url mail.views.mail_page %}"
                   target="_blank"
                   style="color:#fff;padding: 8px 16px;font-size:17px;line-height:20px;font-weight:normal;text-decoration:none;display:block;height:20px;"
                >{% trans "Перейти к сообщениям" %}</a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
