<style>
    .text_info p {
        margin-bottom: 0 !important;
    }

    .text_info blockquote:not(.replay-quote) {
        margin: 0 0 0 1rem !important;
        font-style: italic;
        color: #555;
    }

    .mce-content-body li,
    #text_info li {
        padding: 0;
    }

    .text_info ul li {
        list-style-type: disc;
    }

    .text_info img {
        max-width: 100%;
        height: auto;
    }

    .text_info .table-comment td {
        border-color: #373a3c
    }
</style>

<div style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color: #373a3c;margin: 0;padding:40px 10px;background-color: #f5f8fa;">
    <table cellpadding="0" cellspacing="0"
           style="border-collapse:collapse;color:#373a3c;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;margin:0 auto;padding:0;table-layout:fixed;width:768px;">
        <tbody>
        <tr>
            <td style="border-collapse:collapse;">
                <div style="background:#fff;padding:20px 30px 20px 30px;border: 1px solid rgba(0,0,0,.125);">
                    <table cellpadding="0" cellspacing="0" style="border-collapse: separate;width: 100%">
                        <tbody>
                        <tr>
                            <td style="text-align: justify" class=".text_info">
                                {% autoescape off %}
                                    {{ message_text }}
                                {% endautoescape %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
