{% extends "base.html" %}
{% load i18n %}
{% load sanitize_html icon %}
{% load dict_func %}
{% load task_taken_func %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{% trans "import" %} | {{ course.name }} | {{ course.year }}{% endblock %}

{% block scripts %}
    <link href="{{ STATIC_URL }}task.css" rel='stylesheet'/>
    <link href="{{ STATIC_URL }}task_import.css" rel='stylesheet'/>

    {% include "task_import_js.html" %}
{% endblock scripts %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if school %}
        {% breadcrumb school.name school.get_absolute_url %}
    {% endif %}
    {% breadcrumb course.name course.get_absolute_url %}
    {% breadcrumb_for "" %}{% trans "import_sorevnovanija" %}{% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" id="course_url" href="{{ course.get_absolute_url }}">{% trans "spisok_zadach" %}</a>
        </li>
    </ul>
{% endblock navbar %}


{% block content %}
    {{ block.super }}

    <style type="text/css">
        #task_max_score {
            margin-bottom: 0;
        }

        #task_contest_body .label-get-from-contest {
            font-weight: normal;
            white-space: nowrap;
            padding: 0 3px 0 0;
        }
        #task_contest_body .label-get-from-contest input{
            margin-left: 3px;
        }
        .form-group .date {
            margin-bottom: 0;
        }

    </style>

    <div id="task_edit" class="card card-block">
        <h5 class="card-title">{% trans "import_sorevnovanija" %}</h5>

        <form id="contest_task_form">
            {% csrf_token %}
            <input id='course_id' name="course_id" type='hidden' value="{{ course.id }}">
            <div class="form-group row">
                <label class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" for="task_contest_id">{% trans "id_kontesta" %}</label>
                <div class="controls col-lg-4 col-md-6 col-sm-7 col-xs-7">
                    <div id="task_contest_id_editable">
                        <input class="form-control" id='task_contest_id' name="contest_id" type='text' maxlength='25' size='20'>
                        <small class="text-help" id="task_contest_id_error_text"></small>
                    </div>
                    <div class="input-group hidden" id="task_contest_id_readonly">
                        <input class="form-control" name="contest_id_for_task" type='text' maxlength='25' size='20' readonly>
                        <span class="input-group-addon" id='button_task_contest_id_clear'><i class="fa fa-times fa-lg"></i></span>
                    </div>
                </div>
                <div id="get_tasks" class="in collapse">
                    <button id="button_get_tasks" type="submit" class="btn btn-secondary">{% trans "poluchit_spisok_zadach" %}</button>
                </div>
                <div id="loading_contest_img" class="col-sm-1 collapse loading-img">
                    <span class="fa fa-circle-o-notch fa-spin fa-lg fa-fw"></span>
                </div>
            </div>

            <div class="collapse" id="task_contest_body">
                <div class="form-group row">
                    <div class="controls col-lg-offset-3 col-md-offset-3 col-sm-offset-4 col-lg-9 col-md-9 col-sm-8 col-xs-12">
                        <ol id='contest_problems' name="contest_problems_id"></ol>
                        <small class="text-help" id="contest_problems_error_text"></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" for="task_max_score">{% trans "max_ball" %}</label>
                    <div class="controls col-lg-4 col-md-6 col-sm-7 col-xs-7">
                        <input disabled class="form-control" id='task_max_score'name='max_score' type='text' maxlength='25' size='20'>
                        <label class="form-control-label label-get-from-contest" for="task_edit_get_max_score_from_contest">
                            <input checked type="checkbox" name="get_max_score_from_contest"
                                   id="task_edit_get_max_score_from_contest">
                            <small class="text-muted">{% trans "brat_iz_kontesta" %}</small>
                        </label>
                        <br/>
                        <small class="text-help" id="task_max_score_error_text"></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" for="task_group">{% trans "gruppa" %}</label>
                    <div class="controls col-lg-4 col-md-6 col-sm-7 col-xs-7">
                        <select class="form-control" id='task_group' name="task_group_id[]" multiple="multiple">
                            {% for group in course.groups.all %}
                                <option value="{{ group.id }}" selected>{{ group.name }}</option>
                            {% endfor %}
                        </select>
                        <small class="text-help" id="task_group_id_error_text"></small>
                    </div>
                </div>
                <div id='parent_body'>
                    <div class="form-group row">
                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" for="task_edit_parent">{% trans "roditelskaja_zadacha" %}</label>
                        <div class="controls no-validate col-lg-4 col-md-6 col-sm-7 col-xs-7">
                            <select class="form-control" name="parent_id" id="task_edit_parent">
                                <option value=""> ---</option>
                                {% for seminar in seminar_tasks %}
                                    <option value="{{ seminar.id }}"
                                            {% ifequal seminar.id task.parent_task.id %}selected{% endifequal %}>{{ seminar.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" for="task_edit_datepicker">{% trans "data_sdachi" %}</label>
                    <div class="controls col-lg-4 col-md-6 col-sm-7 col-xs-7">
                        <div class="input-group date task_datetime">
                            <input disabled class="form-control" id='task_edit_datepicker' name='deadline' type='text' readonly value="{{task.deadline_time|date:'d-m-Y H:i'}}">
                            <span class="input-group-addon"><i class="fa fa-times fa-lg"></i></span>
                            <span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
                        </div>
                        <small class="text-help" id="task_edit_datepicker_error_text"></small>
                        <label class="form-control-label label-get-from-contest" for="task_edit_get_deadline_from_contest">
                            <input checked type="checkbox" name="get_deadline_from_contest"
                                   id="task_edit_get_deadline_from_contest">
                            <small class="text-muted">{% trans "brat_iz_kontesta" %}</small>
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" for="task_edit_rb_integrated">{% trans "integracija_s_rb" %}</label>
                    <div class="controls no-validate col-lg-4 col-md-6 col-sm-7 col-xs-7">
                        <input type="checkbox" name="rb_integrated" id="task_edit_rb_integrated"  {% if rb_integrated %}checked{% endif %}>
                    </div>
                </div>
                {% if course.show_task_one_file_upload %}
                    <div class="form-group row collapse {% if rb_integrated %}in{% endif %}">
                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" for="task_edit_one_file_upload">{% trans "otpravljat_tolko_odin_fajl" %}
                            <a tabindex="0" data-toggle="popover" data-trigger="hover" data-content='{% trans "imja_fajla_budet_izmeneno" %}' type="button"><i class="fa fa-question-circle help-button" aria-hidden="true"></i></a>
                        </label>
                        <div class="controls no-validate col-lg-4 col-md-6 col-sm-7 col-xs-7">
                            <input type="checkbox" name="one_file_upload" id="task_edit_one_file_upload"  {% if task.one_file_upload or is_create and course.default_task_one_file_upload %}checked{% endif %}>
                        </div>
                    </div>
                {% endif %}
                {% if course.show_accepted_after_contest_ok %}
                    <div class="form-group row">
                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" for="task_edit_accepted_after_contest_ok">{% trans "perevodit_v_zachteno" %}</label>
                        <div class="controls no-validate col-lg-4 col-md-6 col-sm-7 col-xs-7">
                            <input type="checkbox" name="accepted_after_contest_ok" id="task_edit_accepted_after_contest_ok"  {% if task.accepted_after_contest_ok or is_create and course.default_accepted_after_contest_ok %}checked{% endif %}>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" for="task_edit_score_after_deadline">
                            {% trans "uchityvat_bally_dedlajn" %}</label>
                        <div class="controls col-lg-4 col-md-6 col-sm-7 col-xs-7" style="padding-top: 5px">
                            <input type="checkbox" name="score_after_deadline"
                                   id="task_edit_score_after_deadline"
                                   {% if task.score_after_deadline or is_create and course.default_accepted_after_contest_ok %}checked{% endif %}>
                        </div>
                    </div>
                {% endif %}
                <div class="form-group row" id="task_edit_label_for_changed_task">
                    <label class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" for="task_edit_changed_task">{% trans "uvedomit_o_sozdanii_zadach" %}</label>
                    <div class="controls no-validate col-lg-4 col-md-6 col-sm-7 col-xs-7">
                        <input type="checkbox" name="changed_task" id="task_edit_changed_task" {% if course.default_task_send_to_users %}checked{% endif %}>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" for="task_edit_hidden_task">{% trans "skryt_zadachi" %}</label>
                    <div class="controls no-validate col-lg-4 col-md-6 col-sm-7 col-xs-7">
                        <input type="checkbox" name="hidden_task" id="task_edit_hidden_task">
                    </div>
                </div>
                <div class="form-group row footer-buttons">
                    <div id="task_submit_error_text" class="col-xs-12"></div>
                    <div class="col-lg-offset-2 col-sm-12 col-lg-10">
                        <div class="btn-group pull-xs-right" role="group">
                            <button type="button" id="button_cancel_quit" class="btn btn-secondary">{% trans "otmenit_i_vyjti" %}</button>
                            <button type="submit" id="button_save_quit" class="btn btn-primary">{% trans "sohranit_i_vyjti" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
