{% extends "base.html" %}
{% load sanitize_html icon %}
{% load dict_func %}
{% load task_taken_func %}

{% block title %}{% if is_create %}Создание задачи{% else %}{{ task.title }}{% endif %} | {{ course.name }} | {{ course.year }}{% endblock %}

{% block scripts %}
    {% include "task_create_or_edit_js.html" %}
{% endblock scripts %}

{% block navbar %}
    <ul class="nav">
        <li>
            <a id="course_url" href="{{ course.get_absolute_url }}">Список задач</a>
        </li>
    </ul>
{% endblock navbar %}


{% block content %}
    <div id="task_edit" class="profile_part">
        <h1 style="margin-bottom:20px;">{% if is_create %}Создание задачи{% else %}Редактирование задачи{% endif %}</h1>

        <form method="post" id="task_edit_form" class="form-horizontal" style="margin-bottom:0px;">
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label" for="task_edit_header">Название:</label>
                <div class="controls">
                    <input id='task_edit_header' name='task_title' type='text' size='20' value="{{task.title}}" />
                    <span class="help-inline" id="task_edit_header_error_text"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="task_edit_max_score">Максимальный балл:</label>
                <div class="controls">
                    <input id='task_edit_max_score' name='max_score' type='text' maxlength='25' size='20' value="{{ task.score_max }}">
                    <span class="help-inline" id="task_edit_max_score_error_text"></span>
                </div>
            </div>
            {% if course.contest_integrated %}
                <div class="control-group">
                    <label class="control-label" for="task_edit_contest_id">ID контеста:</label>
                    <div class="controls">
                        <input id='task_edit_contest_id' name='contest_id' type='text' maxlength='25' size='20' value="{{ task.contest_id }}">
                        <span class="help-inline" id="task_edit_contest_id_error_text"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="task_edit_problem_id">Литера задачи в контесте:</label>
                    <div class="controls">
                        <input id='task_edit_problem_id' name='problem_id' type='text' maxlength='25' size='20' value="{{ task.problem_id }}">
                        <span class="help-inline" id="task_edit_problem_id_error_text"></span>
                    </div>
                </div>
            {% endif %}
            <div class="control-group">
                <label class="control-label" for="task_edit_group"> Группа:</label>
                <div class="controls">
                    <select id='task_edit_group' name="task_group_id">
                        <option value=""> Для всех групп </option>
                        {% for group in course.groups.all %}
                            <option value="{{ group.id }}" {% ifequal group.id task.group.id %}selected{% endifequal %}>{{ group.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="control-group input-append date">
                <label class="control-label" for="task_edit_datepicker">Дата сдачи:</label>
                <div class="controls">
                    <div class="input-append date task_datetime">
                        <input id='task_edit_datepicker' name='deadline' type='text'  maxlength='25' size='20' readonly value="{{task.deadline_time|date:'d-m-Y H:i'}}" style="width: 153px; background-color: white; cursor: pointer">
                        <span class="add-on"><i class="icon-remove"></i></span>
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                    <span class="help-inline" id="task_edit_datepicker_error_text"></span>
                    <label id="task_edit_label_for_changed_task" class="checkbox inline hide">
                        <input type="checkbox" name="changed_task" id="task_edit_changed_task"> Уведомить студентов об изменении срока сдачи
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="task_edit_type"> Тип задачи:</label>
                <div class="controls">
                    <select id='task_edit_type' name="task_type">
                        {% for type_id, type in task_types %}
                            <option value="{{ type_id }}" {% ifequal type_id task.type %}selected{% endifequal %}>{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="checkbox inline">
                    <input type="checkbox" name="hidden_task" id="task_edit_hidden_task" {% if task.is_hidden %}checked{% endif %}>Скрыть задачу
                </label>
            </div>
            <div class="control-group">
                <p>Формулировка:</p>
                <textarea class='input-xlarge' style="max-width:98%;width:98%;height:200px;" id='task_edit_body' name='task_text'>{{ task.task_text }}</textarea>
            </div>
            <div class="control-group" style="margin-bottom:10px;">
                <div id="task_submit_error_text"></div>
                <button type="button" id="button_preview" class="btn pull-left">Предпросмотр</button>
                <div class="btn-group pull-right" role="group">
                    <button type="button" id="button_cancel_quit" class="btn">Отменить и выйти</button>
                    <button type="button" id="button_save" class="btn">Сохранить и продолжить редактирование</button>
                    <button type="button" id="button_save_quit" class="btn btn-primary">Сохранить и выйти</button>
                </div>
            </div>
        </form>
    </div>

    <div id="modal_task_preview" class="modal modal-lg hide">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3 id="modal_task_header"></h3>
            <div id="modal_task_deadline"></div>
        </div>
        <div class="modal-body">
            <div id="modal_task_body"></div>
        </div>
    </div>

{% endblock %}
