{% extends "base.html" %}
{% load sanitize_html icon %}
{% load dict_func %}
{% load task_taken_func %}

{% block title %}Импорт | {{ course.name }} | {{ course.year }}{% endblock %}

{% block scripts %}
    {% include "task_import_js.html" %}
{% endblock scripts %}

{% block navbar %}
    <ul class="nav">
        <li>
            <a id="course_url" href="{{ course.get_absolute_url }}">Список задач</a>
        </li>
    </ul>
{% endblock navbar %}


{% block content %}
    <div id="task_import" class="profile_part">
        <h1 style="margin-bottom:20px;">Импорт задач из Яндекс.Контеста</h1>

        <form id="contest_task_form" class="form-horizontal" style="margin-bottom: 0px;">
            {% csrf_token %}
            <input id='course_id' name="course_id" type='hidden' value="{{ course.id }}">
            <div class="control-group">
                <label class="control-label" for="task_contest_id">ID контеста:</label>
                <div class="controls">
                    <input id='task_contest_id' name="contest_id" type='text' maxlength='25' size='20'>
                    <span class="help-inline" id="task_contest_id_error_text"></span>
                    <div id="get_tasks" style="margin-top: 10px">
                        <button id="button_get_tasks" type="submit" class="btn">Получить список задач</button>
                    </div>
                </div>
            </div>

            <div class="hide" id="task_contest_body">
                <div class="control-group">
                    <div class="controls">
                        <ol id='contest_problems' name="contest_problems_id"></ol>
                        <span class="help-inline" id="contest_problems_error_text"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="task_max_score">Максимальный балл:</label>
                    <div class="controls">
                        <input id='task_max_score' name='max_score' type='text' maxlength='25' size='20'>
                        <span class="help-inline" id="task_max_score_error_text"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="task_group"> Группа:</label>
                    <div class="controls">
                        <select id='task_group' name="task_group_id">
                            <option value=""> Для всех групп </option>
                            {% for group in course.groups.all %}
                                <option value="{{ group.id }}">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group input-append date">
                    <label class="control-label" for="task_datepicker">Дата сдачи:</label>
                    <div class="controls">
                        <div class="input-append date task_datetime">
                            <input id='task_datepicker' name='deadline' type='text'  maxlength='25' size='20' readonly style="width: 153px; background-color: white; cursor: pointer">
                            <span class="add-on"><i class="icon-remove"></i></span>
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                        <span class="help-inline" id="task_datepicker_error_text"></span>
                        <label id="task_label_for_changed_task" class="checkbox inline hide">
                            <input type="checkbox" name="changed_task" id="task_changed_task"> Уведомить студентов об изменении срока сдачи
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="checkbox inline">
                        <input type="checkbox" name="hidden_task" id="task_hidden_task">Скрыть задачу
                    </label>
                </div>
                <div class="control-group" style="margin-bottom:10px;">
                    <div id="task_submit_error_text"></div>
                    <div class="btn-group pull-right" role="group">
                        <button type="button" id="button_cancel_quit" class="btn">Отменить и выйти</button>
                        <button type="submit" id="button_save_quit" class="btn btn-primary">Сохранить и выйти</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
