<script src="{{ STATIC_URL }}jquery.validate.min.js"></script>
<script src="http://malsup.github.io/jquery.form.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.task_datetime').datetimepicker({
            format: 'dd-mm-yyyy hh:ii',
            language: "ru",
            todayBtn: true,
            autoclose: true,
            todayHighlight: true,
            pickerPosition: "bottom-left",
            startDate: null,
            minuteStep: 30
        }).on("input change", function (e) {
            $('#task_edit_label_for_changed_task').show()
        });

        $('#button_task_contest_id_clear').click(function() {
            $('#get_tasks').show();
            $('#task_contest_body').hide();
            $('#task_contest_id_editable').show();
            $('#task_contest_id_readonly').hide();
            $('#contest_problems').empty();
            $('#task_contest_id').removeAttr("readonly");
            $('#contest_problems').closest('.form-group').removeClass('has-success has-danger');
            $('#task_contest_id_error_text').closest('.form-group').removeClass('has-success has-danger');
            $('#task_contest_id').removeClass('form-control-success form-control-danger');
            $('#task_contest_id').val('').show().focus().select();
            $('#task_max_score').val('').closest('.form-group').removeClass('has-success has-danger');
            $("#task_group").val($("#task_group option:first").val());
            $('#task_datepicker').val('');
            $('#task_changed_task').attr('checked', false);
            $('#task_edit_rb_integrated').attr('checked', false);
            $('#task_edit_hidden_task').attr('checked', false);

        });

        $('#contest_problems').change(function() {
            $.post('{% url tasks.views.get_contest_problems %}', $('#contest_task_form').serialize(), function (data) {
                var problems = data.problems;
                if (data.is_error == false) {
                    for (i = 0; i < problems.length; i++) {
                        if($('input:radio:checked').val() == problems[i].id){
                            $('#task_max_score').val(problems[i].score);
                        }
                        if($('input:radio:checked').val() == problems[i].problemId){
                            $('#task_edit_body').val(problems[i].statement);
                        }
                    }
                    $('#task_contest_body').show();
                    $('#task_contest_id_editable').hide();
                    $('#task_contest_id_readonly').show();
                    $('#task_contest_id_readonly').find('input').val($('#task_contest_id').val());
                    $('#task_contest_id').hide();
                }
                else {
                    $('#get_tasks').show();
                    $('#task_contest_id_error_text').empty().append(data.error);
                    $('#task_contest_id_error_text').closest('.form-group').removeClass('has-success').addClass('has-danger');
                    $('#task_contest_id').removeClass('form-control-success').addClass('form-control-danger');
                }
                remove_disabled();
                $('#loading_contest_img').hide();
                $('#task_contest_id').removeAttr('readonly');
            });
        });

        $('#task_edit_get_max_score_from_contest').change(function(){
            if ( $('#task_max_score').prop('disabled') ){
                $('#task_max_score').prop('disabled', false)
            }
            else {
                $('#task_max_score').prop('disabled', true).val('').closest('.form-group').removeClass('has-success has-danger');
                $('#task_max_score_error_text').text('')
            }
        });

        $('#contest_task_form').validate({
            rules: {
                max_score: {
                    required : true,
                    number : true,
                    min : 0,
                    digits : true
                },
                contest_id: {
                    required : true,
                    number : true,
                    digits: true,
                },
                'contest_problems[]': {
                    required : true
                }
            },

            highlight: function(input) {
                $(input).removeClass('form-control-success').addClass('form-control-danger');
                $(input).closest('.form-group').removeClass('has-success').addClass('has-danger');
            },

            success: function(label) {
                label.addClass('valid');
                label.closest('.text-help').siblings('.form-control').removeClass('form-control-danger').addClass('form-control-success');
                label.closest('.form-group').removeClass('has-danger').addClass('has-success');
            },

            messages: {
                max_score: {
                    required : "Необходимо указать максимальный балл",
                    number : "Максимальный балл должен быть натуральным числом",
                    min : "Максимальный балл должен быть больше или равен 0",
                    digits : "Максимальный балл должен быть натуральным числом"
                },
                contest_id: {
                    required : "Необходимо указать номер контеста",
                    number : "Номер контеста должен натуральным числом",
                    digits : "Номер контеста должен натуральным числом"
                },
                'contest_problems[]': {
                    required : "Необходимо выбрать хотя бы одну задачу"
                }
            },

            errorPlacement: function(error, element) {
                if (element.attr('id') == 'task_contest_id')
                    $('#task_contest_id_error_text').empty().append(error);
                else if (element.attr('id') == 'task_max_score')
                    $('#task_max_score_error_text').empty().append(error);
                else if (element.attr('name') == 'contest_problems[]')
                    $('#contest_problems_error_text').empty().append(error);
            }
        });

        $('#contest_task_form').submit(function(e){
            if ($('#contest_task_form').valid()) {
                set_disabled();
                if ($('#contest_problems').is(':empty')) {
                    $('#get_tasks').hide();
                    $('#loading_contest_img').show();
                    $('#task_contest_id').attr('readonly', 'readonly');

                    $.post('{% url tasks.views.get_contest_problems %}', $(this).serialize(), function(data){
                        var problems = data.problems;
                        if (data.is_error == false) {
                            for (i = 0; i < problems.length; i++) {
                                if (problems[i].title){
                                    $('#contest_problems').append('<li><label class="checkbox" style="padding-top: 1px;' +
                                            'font-weight: normal;margin-left:15px;"><input class="checkbox_contest_problem" ' +
                                            'style="margin-left:-18px;" name="contest_problems[]" type="{% if contest_import %}checkbox" checked{% else %}radio"{% endif %} value="'
                                            + problems[i].id + '">' +
                                            ' ' + problems[i].title +
                                            ': ' + problems[i].name + '</input></label></li>');
                                }
                            }
                            $('#task_contest_body').show();
                            $('#task_contest_id_editable').hide();
                            $('#task_contest_id_readonly').show();
                            $('#task_contest_id_readonly').find('input').val($('#task_contest_id').val());
                            $('#task_contest_id').hide();
                        }
                        else {
                            $('#get_tasks').show();
                            $('#task_contest_id_error_text').empty().append(data.error);
                            $('#task_contest_id_error_text').closest('.form-group').removeClass('has-success').addClass('has-danger');
                            $('#task_contest_id').removeClass('form-control-success').addClass('form-control-danger');
                        }
                        remove_disabled();
                        $('#loading_contest_img').hide();
                        $('#task_contest_id').removeAttr('readonly');
                    });
                }
                else {
                    $.post('{% url tasks.views.contest_task_import %}', $(this).serialize(), function(data){
                        if (data.is_error == true) {
                            $('#get_tasks').show();
                            $('#task_contest_body').hide();
                            $('#task_contest_id_editable').show();
                            $('#task_contest_id_readonly').hide();
                            $('#task_contest_id').show();
                            $('#contest_problems').empty();
                            $('#task_contest_id_error_text').empty().append(data.error);
                            $('#task_contest_id_error_text').closest('.form-group').removeClass('has-success').addClass('has-danger');
                            $('#task_contest_id').removeClass('form-control-success').addClass('form-control-danger');
                            remove_disabled();
                        }
                        else {
                            redirect();
                        }
                    });
                }
            }
            e.preventDefault();
        });

        $('#button_cancel_quit').click(function() {
            redirect();
        });
    });

    function set_disabled() {
        $('#button_cancel_quit').attr('disabled', 'disabled');
        $('#button_save_quit').attr('disabled', 'disabled');
    }

    function remove_disabled() {
        $('#button_cancel_quit').removeAttr('disabled');
        $('#button_save_quit').removeAttr('disabled');
    }

    function redirect() {
        window.location.href = $('#course_url').attr('href');
    }
</script>
