{% load i18n %}
<script src="{{ STATIC_URL }}jquery.validate.min.js"></script>
<script src="http://malsup.github.io/jquery.form.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover({
            trigger: 'hover',
            template: '<div class="popover" role="tooltip">' +
            '<div class="popover-arrow"></div>' +
            '<div class="popover-content"></div>' +
            '</div>'
        });

        var maps_suggest_api = '{{ geo_suggest_url|safe }}';
        var location_bloodhound = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                prepare: function(query, settings) {
                    settings.dataType = "jsonp";
                    settings.url = settings.url.replace('%QUERY', query);
                    return settings;
                },
                url: maps_suggest_api + '&part=%QUERY',
                transform: function(response) {
                    var locations = [];
                    for (var i=0; i < response[1].length; i++) {
                        if ('geoid' in response[1][i])
                            locations.push(response[1][i]);
                    }
                    return locations;
                }
            }
        });

        $('#location_search').typeahead({
                highlight: true,
                hint: false,
                minLength: 3
            },
            {
                name: 'locations',
                displayKey: 'name',
                source: location_bloodhound
            }
        ).on('typeahead:select', function(ev, suggestion) {
            $('#geoid').val(suggestion.geoid);
        });

        {%if not contest_import %}
            $('.task_datetime').datetimepicker({
                format: 'dd-mm-yyyy hh:ii',
                language: '{{ user.get_profile.language }}',
                todayBtn: true,
                autoclose: true,
                todayHighlight: true,
                pickerPosition: "bottom-left",
                startDate: null,
                minuteStep: 30
            });
        {% endif %}

        $("#task_edit_hidden_task").change(function () {
            var $task_edit_label_for_changed_task = $('#task_edit_label_for_changed_task');
            $task_edit_label_for_changed_task.toggle();
            toggle_inputs($task_edit_label_for_changed_task);
        });

        $('#task_edit_rb_integrated').change(function() {
            if ($(this).is(':checked')) {
                $("#task_edit_one_file_upload").show().closest('div.form-group').collapse('show');
            }
            else {
                $("#task_edit_one_file_upload").hide().closest('div.form-group').collapse('hide');
            }
        });

        $("#task_edit_one_file_upload").closest('div.form-group').on('show.bs.collapse hide.bs.collapse', function(e) {
            $('#task_edit_rb_integrated').attr('disabled', 'disabled').css('cursor', 'default');
        }).on('shown.bs.collapse hidden.bs.collapse', function(e) {
            $('#task_edit_rb_integrated').removeAttr('disabled');
        });

        $('#button_task_contest_id_clear').click(function() {
            $('#get_tasks').show();
            $('#task_contest_body').hide();
            $('#task_contest_id_editable').show();
            $('#task_contest_id_readonly').addClass('hidden');
            $('#task_group').removeClass('need-validate');
            $('#contest_problems').empty();
            $('#task_contest_id').removeAttr("readonly");
            $('#contest_problems').closest('.form-group').removeClass('has-success has-danger');
            $('#task_contest_id_error_text').closest('.form-group').removeClass('has-success has-danger');
            $('#task_contest_id').removeClass('form-control-success form-control-danger');
            $('#task_contest_id').val('').show().focus().select();
            $('#task_max_score').val('').closest('.form-group').removeClass('has-success has-danger');
            $("#task_group").val($("#task_group option:first").val());
            $('#task_datepicker').val('');
            $('#task_edit_datepicker').val('');
            $('#task_edit_body').val('');
            $('#task_changed_task').attr('checked', false);
            $('#task_edit_rb_integrated').attr('checked', false);
            $('#task_edit_hidden_task').attr('checked', false);

        });

        $('.radio_problems').change(function() {
            $('#loading_max_score_img').show();
            $('#task_edit_short_header').attr('readonly', 'readonly');
            $('#task_max_score').attr('readonly', 'readonly');
            $('#task_edit_body').attr('readonly', 'readonly');
            $('#task_edit_datepicker').css("background-color", "#eceeef");
            $.post('{% url tasks.views.get_contest_problems %}', $('#contest_task_form').serialize(), function (data) {
                var problems = data.problems;
                if (data.is_error == false) {
                    for (i = 0; i < problems.length; i++) {
                        if($('input:radio:checked').val() == problems[i].id){
                            var deadline = problems[problems.length-1].deadline;
                            if (deadline != null){
                                deadline = deadline.split(',')
                                var date_deadline = new Date(deadline[0], deadline[1], deadline[2], deadline[3], deadline[4]);
                                $('.task_datetime').datetimepicker('update', date_deadline);
                            }
                            $('#modal_task_header').text(problems[i].name);
                            $('#task_edit_short_header').val(problems[i].title);
                            $('#task_max_score').val(problems[i].score);
                        }
                        if($('input:radio:checked').val() == problems[i].problemId){
                            $('#task_edit_body').val(problems[i].statement.replace(/<table/g, '<table class="table table-sm"').replace(/src="/g, 'src="https://contest.yandex.ru'));
                        }
                    }
                    $('#task_contest_body').show();
                    $('#task_contest_id_editable').hide();
                    $('#task_contest_id_readonly').removeClass('hidden');
                    $('#task_group').addClass('need-validate');
                    $('#task_contest_id_readonly').find('input').val($('#task_contest_id').val());
                    $('#task_contest_id').hide();
                }
                else {
                    $('#get_tasks').show();
                    $('#task_contest_id_error_text').empty().append('<label for="task_contest_id" generated="true" class="error">' + data.error + '</label>');
                    $('#task_contest_id_error_text').closest('.form-group').removeClass('has-success').addClass('has-danger');
                    $('#task_contest_id').removeClass('form-control-success').addClass('form-control-danger');
                }
                remove_disabled();
                $('#loading_max_score_img').hide();
                $('#task_edit_short_header').removeAttr('readonly');
                $('#task_max_score').removeAttr('readonly');
                $('#task_edit_body').removeAttr('readonly');
                $('#task_edit_datepicker').css("background-color", "white");
            });
        });

        $('#task_edit_get_max_score_from_contest').change(function(){
            if ( $('#task_max_score').prop('disabled') ){
                $('#task_max_score').prop('disabled', false)
            }
            else {
                $('#task_max_score').prop('disabled', true).val('').closest('.form-group').removeClass('has-success has-danger');
                $('#task_max_score_error_text').text('')
            }
        });

        $('#task_edit_get_deadline_from_contest').change(function(){
            if ( $('#task_edit_datepicker').prop('disabled') ){
                $('#task_edit_datepicker').prop('disabled', false);
                $('.task_datetime').datetimepicker({
                    format: 'dd-mm-yyyy hh:ii',
                    language: "ru",
                    todayBtn: true,
                    autoclose: true,
                    todayHighlight: true,
                    pickerPosition: "bottom-left",
                    startDate: null,
                    minuteStep: 30
                });
                $('#location_search').show().closest('div.form-group').collapse('show');;
            }
            else {
                $('#task_edit_datepicker').prop('disabled', true).val('').closest('.form-group').removeClass('has-success has-danger');
                $('#task_edit_datepicker_error_text').text('');
                $('.task_datetime').datetimepicker('remove');
                $('#location_search').show().closest('div.form-group').collapse('hide');;
{#                $('#task_edit_datepicker').css("background-color", "#eceeef");#}
            }
        });

        var form_validator = $('#contest_task_form').validate({
            ignore: ':hidden:not(".need-validate")',
            rules: {
                task_short_title: {
                    maxlength: 15
                },
                max_score: {
                    required : true,
                    number : true,
                    min : 0,
                    digits : true
                },
                contest_id: {
                    required : true,
                    number : true,
                    digits: true
                },
                'contest_problems[]': {
                    required : true
                },
                'task_group_id[]': {
                    required : true
                }
            },

            highlight: function(input) {
                $(input).removeClass('form-control-success').addClass('form-control-danger');
                $(input).closest('.form-group').removeClass('has-success').addClass('has-danger');
            },

            success: function(label) {
                label.addClass('valid');
                label.closest('.text-help').siblings('.form-control').removeClass('form-control-danger').addClass('form-control-success');
                label.closest('.form-group').removeClass('has-danger').addClass('has-success');
            },

            messages: {
                task_short_title: {
                    maxlength: "{% trans 'ne_tak_mnogo' %}"
                },
                max_score: {
                    required : "{% trans "ukazat_maxball" %}",
                    number : "{% trans "maxball_naturalnoe_chislo" %}",
                    min : "{% trans "maxball_bolshe_0" %}",
                    digits : "{% trans "maxball_naturalnoe_chislo" %}"
                },
                contest_id: {
                    required : "{% trans "ukazat_nomer_kontesta" %}",
                    number : "{% trans "nomer_kontesta_naturalnoe_chislo" %}",
                    digits : "{% trans "nomer_kontesta_naturalnoe_chislo" %}"
                },
                'contest_problems[]': {
                    required : "{% trans "neobhodimo_vybrat_zadachu" %}"
                },
                'task_group_id[]': {
                    required : "{% trans "neobhodimo_vybrat_gruppu" %}"
                }
            },

            errorPlacement: function(error, element) {
                if (element.attr('name') == 'contest_problems[]')
                    $('#contest_problems_error_text').empty().append(error);
                else
                    $(element).closest("div.controls").find('small.text-help').empty().append(error);
            }
        });

        $('#contest_task_form').submit(function(e){
            if ($('#contest_task_form').valid()) {
                set_disabled();
                if ($('#contest_problems').is(':empty')) {
                    $('#get_tasks').hide();
                    $('#loading_contest_img').show();
                    $('#task_contest_id').attr('readonly', 'readonly');

                    $.post('{% url tasks.views.get_contest_problems %}', $(this).serialize(), function(data){
                        var problems = data.problems;
                        if (data.is_error == false) {
                            for (i = 0; i < problems.length; i++) {
                                if (problems[i].title){
                                    $('#contest_problems').append('<li><label class="checkbox" style="padding-top: 1px;' +
                                            'font-weight: normal;margin-left:15px;"><input class="checkbox_contest_problem" ' +
                                            'style="margin-left:-18px;" name="contest_problems[]" type="{% if contest_import %}checkbox" checked{% else %}radio"{% endif %} value="'
                                            + problems[i].id + '">' +
                                            ' ' + problems[i].title +
                                            ': ' + problems[i].name + '</input></label></li>');
                                }
                            }
                            $('#task_contest_body').show();
                            $('#task_contest_id_editable').hide();
                            $('#task_contest_id_readonly').removeClass('hidden');
                            $('#task_contest_id_readonly').find('input').val($('#task_contest_id').val());
                            $('#task_contest_id').hide();
                            $('#task_group').addClass('need-validate');
                        }
                        else {
                            $('#get_tasks').show();
                            $('#task_contest_id_error_text').empty().append('<label for="task_contest_id" generated="true" class="error">' + data.error + '</label>');
                            $('#task_contest_id_error_text').closest('.form-group').removeClass('has-success').addClass('has-danger');
                            $('#task_contest_id').removeClass('form-control-success').addClass('form-control-danger');
                        }
                        remove_disabled();
                        $('#loading_contest_img').hide();
                        $('#task_contest_id').removeAttr('readonly');
                    });
                }
                else {
                    $.post('{% url tasks.views.contest_task_import %}', $(this).serialize(), function(data){
                        if (data.is_error == true) {
                            $('#get_tasks').show();
                            $('#task_contest_body').hide();
                            $('#task_contest_id_editable').show();
                            $('#task_contest_id_readonly').addClass('hidden');
                            $('#task_group').removeClass('need-validate');
                            $('#task_contest_id').show();
                            $('#contest_problems').empty();
                            $('#task_contest_id_error_text').empty().append('<label for="task_contest_id" generated="true" class="error">' + data.error + '</label>');
                            $('#task_contest_id_error_text').closest('.form-group').removeClass('has-success').addClass('has-danger');
                            $('#task_contest_id').removeClass('form-control-success').addClass('form-control-danger');
                            remove_disabled();
                        }
                        else {
                            redirect();
                        }
                    });
                }
            }
            e.preventDefault();
        });

        $('#task_group').multiselect({
            buttonClass: 'btn btn-secondary btn-block',
            templates: {
                ul: '<ul class="multiselect-container dropdown-menu" style="left:inherit;top: inherit;"></ul>',
                li: '<li><a tabindex="0" class="dropdown-item"><label></label></a></li>'
            },
            includeSelectAllOption: true,
            selectAllText: '{% trans "dlja_vseh_grupp" %}',
            allSelectedText: '{% trans "dlja_vseh_grupp" %}',
            selectAllName: 'task_group_id_all',
            selectAllValue: 'on',
            maxHeight: 200,
            buttonContainer: '<div style="width:100%;" class="multiselect-dropdown"/>',
            buttonWidth: '100%',
            buttonTitle: function(options, select) {
                var labels = [];

                if (options.length === 0) {
                    return '{% trans "ne_vybrano_ni_odnoj_gruppy" %}';
                }
                else if (options.length === $('option', select).length) {
                    return '{% trans "dlja_vseh_grupp" %}';
                }
                else {
                    options.each(function () {
                        labels.push($(this).text());
                    });
                }
                return labels.join(', ');
            },
            buttonText: function(options, select) {
                if (options.length === 0) {
                    return '{% trans "ne_vybrano_ni_odnoj_gruppy" %}';
                }
                else if (options.length === $('option', select).length) {
                    return '{% trans "dlja_vseh_grupp" %}';
                }
                else if (options.length > 1) {
                    return '{% trans "vybrano_neskolko_grupp" %} - ' + options.length;
                }
                else {
                    var labels = [];
                    options.each(function() {
                        var $this = $(this)
                        if ($this.attr('label') !== undefined) {
                            labels.push($this.attr('label'));
                        }
                        else {
                            labels.push($this.text());
                        }
                    });
                    return labels.join(', ') + '';
                }
            },
            onInitialized: function(option, checked, select) {
                var input = $('#task_group');
                $('label.error', input).removeClass('valid');
                input.removeClass('form-control-success');
                input.closest('.form-group').removeClass('has-success');
            },
            onChange: function(option, checked, select) {
                form_validator.element('#task_group');
            },
            onSelectAll: function() {
                form_validator.element('#task_group');
            },
            onDeselectAll: function() {
                form_validator.element('#task_group');
            }

        });


        $('#button_cancel_quit').click(function() {
            redirect();
        });

        $('#button_preview').click(function() {
            description_preview();
        });
    });

    function toggle_inputs($div) {
        $("input, select, textarea", $div).each(function () {
            var $this= $(this);
            if ($this.is(':disabled'))
                $this.prop('disabled', false);
            else
                $this.prop('disabled', true);
        });
    }

    function description_preview() {
        var description_html = $('#task_edit_body').val();
        var deadline = $('#task_edit_datepicker').val();
        $('#modal_task_header').show();
        if (deadline) {
            $('#modal_task_deadline').html('<strong>{% trans "data_sdachi" %}: ' + deadline);
        }
        else {
            $('#modal_task_deadline').empty();
        }
        $('#modal_task_body').html(description_html);
        $('#modal_task_preview').modal('show');
    }

    function set_disabled() {
        $('#button_cancel_quit').attr('disabled', 'disabled');
        $('#button_save_quit').attr('disabled', 'disabled');
    }

    function remove_disabled() {
        $('#button_cancel_quit').removeAttr('disabled');
        $('#button_save_quit').removeAttr('disabled');
    }

    function redirect() {
        window.location.href = $('#course_url').attr('href');
    }
</script>
