<style>
    .help-button {
        opacity:0.2;
        filter: alpha(opacity=20);
        color:#000000;
    }
    .help-button:hover {
        opacity:0.7;
        filter: alpha(opacity=70);
    }
    a[data-toggle="popover"]:focus {
        outline: 0;
    }
    div.controls input,
    div.controls .input-group,
    div.controls select,
    div.controls .multiselect-dropdown{
        margin-bottom: 1.2rem;
    }
    #task_edit_label_for_changed_task input{
        margin-bottom: 0;
    }
    small.text-help .error{
        margin: -1.2rem 0 0 0;
    }
    div.controls .input-group.task_datetime {
        margin-bottom: 1.6rem;
    }
    #task_edit_label_for_changed_task {
        margin: -1.7rem 0 0 0;
    }
    input[type=checkbox], input[type=radio] {
        margin-top: 7px;
    }
    .multiselect-container label.radio {
        padding-left: 20px;
    }
    .multiselect-container input[type=radio] {
        display: none;
    }
    .has-success .controls button.multiselect {
        color: #5cb85c;
        border-color: #5cb85c;
    }
    .has-danger .controls button.multiselect {
        color: #d9534f;
        border-color: #d9534f;
    }
    .controls .multiselect-container li .checkbox{
        color: #2b2d2f;
    }
    .controls .multiselect-container li.disabled .checkbox{
        color: #777;
    }

    .multiselect-dropdown .dropdown-toggle{
        text-align: left;
    }

{#    .multiselect-dropdown .dropdown-toggle::after{#}
{#        position: absolute;#}
{#        left: 87%;#}
{#        top: 30%;#}
{#    }#}
{##}
{#    @media (min-width: 595px) {#}
{#        .multiselect-dropdown .dropdown-toggle::after{#}
{#            position: absolute;#}
{#            left: 90%;#}
{#            top: 30%;#}
{#        }#}
{#    }#}
{#    @media (min-width: 1700px) {#}
{#        .multiselect-dropdown .dropdown-toggle::after{#}
{#            position: absolute;#}
{#            left: 92%;#}
{#            top: 30%;#}
{#        }#}
{#    }#}
</style>
