[submodule "StickyTableHeaders"]
	path = dependencies/StickyTableHeaders
	url = https://github.com/jmosbech/StickyTableHeaders.git
[submodule "jquery-metadata"]
	path = dependencies/jquery-metadata
	url = https://github.com/jquery-archive/jquery-metadata.git
[submodule "tablesorter"]
	path = dependencies/jquery.tablesorter
	url = https://github.com/christianbach/tablesorter.git
[submodule "django-bootstrap"]
	path = dependencies/django-bootstrap
	url = https://github.com/earle/django-bootstrap.git
[submodule "bootbox"]
	path = dependencies/bootbox
	url = https://github.com/makeusabrew/bootbox.git
