version: '3.7'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.prod
    command: gunicorn anytask.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/home/app/web/anytask/static
      - media_volume:/home/app/web/anytask/media
    expose:
      - 8000
    env_file:
      - ./.env.prod
    depends_on:
      - db
  db:
    image: postgres:12.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db

  nginx:
    build: ./nginx
    volumes:
      - static_volume:/home/app/web/anytask/static
      - media_volume:/home/app/web/anytask/media
    ports:
      - 1337:80
    depends_on:
      - web


volumes:
  postgres_data:
  static_volume:
  media_volume:

