dateutils==0.6.12
django-bootstrap-breadcrumbs==0.9.1
django-colorfield==0.1.14
django-crispy-forms==1.6.0
django-debug-toolbar==1.3.2
django-extensions==1.6.7
django-filemanager==0.0.5
django-filter==1.1.0
django-haystack==2.8.1
django-htmlmin==0.10.0
django-dprog-jfu==2.2.3
django-recaptcha==1.4.0
django-reversion==1.10
django==1.11.29
django_premailer==0.2.0
django-storages==1.9.1
boto3==1.20.41
flup==1.0.3
ipdb==0.13.9
Pillow==9.0.0
psycopg2==2.9.9
python-gettext==3.0
python-magic==0.4.15
requests==2.27.1
sqlparse==0.4.2
tornado==5
text-unidecode==1.3
werkzeug==0.15.3
whoosh==2.7.4
xmltodict==0.11.0
mysqlclient==1.4.6
nose==1.3.7
rbtools==1.0.3

