tornado<4.6
ipykernel==4.5.2
django==1.5.12
south
pillow
django-recaptcha
python-gettext
beautifulsoup
Werkzeug
django-extensions==1.6.7
ipython[notebook]==5.3.0
ipdb==0.10.2
django-debug-toolbar==1.3.2
django-bootstrap-breadcrumbs
pycrypto
python-magic
django-filemanager
requests==2.18.4
flup
unidecode
django-jfu==1.0.7
django-filter==0.10.0
yandex-oauth-py
xmltodict
django-crispy-forms==1.6.0
django-htmlmin
django-colorfield
django-haystack==2.4.1
Whoosh
sqlparse==0.1.19
django-reversion==1.8
dateutils
psycopg2
django_premailer==0.2.0
