django==1.4.14
south
pillow
django-recaptcha
python-gettext
beautifulsoup
Werkzeug
django-extensions==1.6.7
ipython[notebook]
ipdb
django-debug-toolbar==1.3.2
django-bootstrap-breadcrumbs
pycrypto
python-magic
django-filemanager
requests
flup
unidecode
django-jfu==1.0.7
django-filter==0.10.0
yandex-oauth-py
xmltodict
django-crispy-forms
mock
