django==1.4.14
south
pillow
django-recaptcha
python-gettext
beautifulsoup
Werkzeug
django-extensions
ipython[notebook]
ipdb
django-debug-toolbar
django-bootstrap-breadcrumbs
pycrypto
python-magic
django-filemanager
requests
flup