{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{{ school.name }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb school.name url schools.views.school_page school.link %}
  {% breadcrumb "Архив" "" %}
{% endblock breadcrumbs %}

{% block content %}
  {{ block.super }}

<div class="row">
  <div class="span6">
    <h2>Архив</h2>
      <ul type="circle">
        {% for course in courses %}
        <li><a href="{{ course.get_absolute_url }}">{{ course.name }}</a></li>
        {% endfor %}
      </ul>
  </div>
</div>
{% endblock %}
