{% extends 'base_email.html' %}
{% load i18n %}
{% load info %}

{% block style %}
    <style>
        .text_info p {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

        .text_info blockquote:not(.replay-quote) {
            margin: 0 0 0 16px !important;
            font-style: italic;
            color: #555;
        }

        .text_info li {
            padding: 0;
        }

        .text_info ul li {
            list-style-type: disc;
        }

        .text_info img {
            max-width: 100%;
            height: auto;
        }

        .text_info .table-comment {
            width: 100%;
            max-width: 100%;
            margin-bottom: 16px;
            border: 1px solid #eceeef;
            background-color: transparent;
            border-spacing: 0;
            border-collapse: collapse;
        }
        .text_info .table-comment td {
            border: 1px solid #373a3c;
            padding: 12px;
            line-height: 1.5;
            vertical-align: top;
        }

        .text_info .pre-replay-quote {
            font-style: normal;
        }

        .text_info blockquote.replay-quote {
            border-left: 1px solid #ccc;
            margin: 0 0 0 16px;
            padding-left: 16px;
        }
        pre {
            overflow: auto;
        }
        hr {
            margin-top: 16px;
            margin-bottom: 16px;
            border: 0;
            border-top: 1px solid rgba(0,0,0,.1);
            height: 0;
            box-sizing: content-box;
            cursor: default;
        }
    </style>
{% endblock %}
{% block content %}
    <table cellspacing="0" cellpadding="0" width="100%" style="color:#373a3c;border-collapse:separate">
        <tbody>
        <tr>
            <td>
                <p style="line-height:20px;margin:0 0 15px 0">
                    {% trans "zdravstvujte" %},&nbsp;{{ user.get_full_name }}!
                </p>
                <p style="line-height:20px;margin:0;text-align: justify;">
                    {% trans "v_zadache" %} <a target="_blank" href="{{ domain }}{{ issue.get_absolute_url }}">"{% get_text_from_json issue.task 'get_title' LANGUAGE_CODE %}"</a>, {% trans "vy_javljaetes" %} <strong>{% trans user_type %}</strong>, {% trans "pojavilis_novye_kommentarii" %}:
                </p>
            </td>
        </tr>
        {% for event in events %}
            <tr>
                <td style="padding-top: 20px">
                    <table cellpadding="0" cellspacing="0" style="border-collapse: separate;width: 100%;table-layout: fixed;">
                        <tbody>
                        {% if event.author == user %}
                            <tr>
                                <td>
                                    <table cellpadding="0" cellspacing="0" style="border-collapse: separate;width: 100%;">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <table cellpadding="0" cellspacing="0" style="border-collapse: separate;">
                                                    <tbody>
                                                    <tr>
                                                        <td style="color: #373a3c">
                                                            <strong>{{ event.author.last_name }}&nbsp;{{ event.author.first_name }}</strong>&nbsp;
                                                        </td>
                                                        <td>
                                                            <img src="{{ domain }}{{ STATIC_URL }}clock.png" height="14" width="14"/>
                                                        </td>
                                                        <td style="color: #818a91;font-weight: 400;font-size: 12px">
                                                            &nbsp;{{ event.timestamp|date:"d M H:i" }}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 100%;background-color: #add8e6;border-radius: 9px;padding: 10px 15px;">
                                                <table cellpadding="0" cellspacing="0" style="border-collapse: separate;width: 100%;table-layout: fixed;">
                                                    <tbody>
                                                    <tr>
                                                        <td class="text_info" style="color: #373a3c;word-wrap: break-word;">
                                                            {% autoescape off %}
                                                                {{ event.get_message }}
                                                            {% endautoescape %}
                                                        </td>
                                                    </tr>
                                                    {% if event.file_set.exists %}
                                                        <tr>
                                                            <td>
                                                                <table cellpadding="0" cellspacing="0" style="border-collapse: separate;margin-left: auto;width: auto;margin-right: 0px;">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <img src="{{ domain }}{{ STATIC_URL }}file.png" height="17" width="15"/>&nbsp;
                                                                        </td>
                                                                        <td style="color: #373a3c">
                                                                            <div style="overflow: hidden; text-overflow: ellipsis;max-width: 410px">
                                                                                {% for file in event.file_set.all %}
                                                                                    {{ file.filename }}&nbsp;
                                                                                {% endfor %}
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td style="vertical-align: top;padding-top: 20px;">
                                                <div style="width: 0;height: 0;vertical-align: middle;border-top: 6px solid transparent;border-bottom: 6px solid transparent;border-left: 6px solid #add8e6;"></div>
                                            </td>
                                            <td style="vertical-align: top;padding-left: 7px">
                                                <div style="width: 50px; height: 50px;border-radius: 50%;border: 1px solid #c3c3c3;vertical-align: middle;background-size: cover;background-image: url({{ domain }}{% if not event.author.get_profile.avatar %}{{ STATIC_URL }}default_avatar.png{% else %}{{ event.author.get_profile.avatar.url }}{% endif %});background-position: center center;"></div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    <table cellpadding="0" cellspacing="0" style="border-collapse: separate;width: 100%;">
                                        <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <table cellpadding="0" cellspacing="0" style="border-collapse: separate;">
                                                    <tbody>
                                                    <tr>
                                                        <td style="color: #373a3c">
                                                            <strong>{{ event.author.last_name }}&nbsp;{{ event.author.first_name }}</strong>&nbsp;
                                                        </td>
                                                        <td>
                                                            <img src="{{ domain }}{{ STATIC_URL }}clock.png" height="14" width="14"/>
                                                        </td>
                                                        <td style="color: #818a91;font-weight: 400;font-size: 12px">
                                                            &nbsp;{{ event.timestamp|date:"d M H:i" }}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="vertical-align: top;padding-right: 7px">
                                                <div style="width: 50px; height: 50px;border-radius: 50%;border: 1px solid #c3c3c3;vertical-align: middle;background-size: cover;background-image: url({{ domain }}{% if not event.author.get_profile.avatar %}{{ STATIC_URL }}default_avatar.png{% else %}{{ event.author.get_profile.avatar.url }}{% endif %});background-position: center center;"></div>
                                            </td>
                                            <td style="vertical-align: top;padding-top: 20px;">
                                                <div style="width: 0;height: 0;vertical-align: middle;border-top: 6px solid transparent;border-bottom: 6px solid transparent;border-right: 6px solid #f5f8fa;"></div>
                                            </td>
                                            <td style="width: 100%;background-color: #f5f8fa;border-radius: 9px;padding: 10px 15px;">
                                                <table cellpadding="0" cellspacing="0" style="border-collapse: separate;width: 100%;table-layout: fixed;">
                                                    <tbody>
                                                    <tr>
                                                        <td class="text_info" style="color: #373a3c;word-wrap: break-word;">
                                                            {% autoescape off %}
                                                                {{ event.get_message }}
                                                            {% endautoescape %}
                                                        </td>
                                                    </tr>
                                                    {% if event.file_set.exists %}
                                                        <tr>
                                                            <td>
                                                                <table cellpadding="0" cellspacing="0" style="border-collapse: separate;margin-left: auto;width: auto;margin-right: 0px;">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <img src="{{ domain }}{{ STATIC_URL }}file.png" height="17" width="15"/>&nbsp;
                                                                        </td>
                                                                        <td style="color: #373a3c">
                                                                            <div style="overflow: hidden; text-overflow: ellipsis;max-width: 410px">
                                                                                {% for file in event.file_set.all %}
                                                                                    {{ file.filename }}&nbsp;
                                                                                {% endfor %}
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" style="border-collapse: separate;padding-top: 30px;width: 100%;">
                    <tbody>
                    <tr>
                        <td style="width: 50%"></td>
                        <td style="border: 1px solid #0275d8;background-color: #0275d8;border-radius: 4px;">
                            <a href="{{ domain }}{{ issue.get_absolute_url }}"
                               target="_blank"
                               style="color:#fff;padding: 8px 16px;font-size:17px;line-height:20px;font-weight:normal;text-decoration:none;display:block;height:20px;"
                            >{% trans "perejti" %}</a>
                        </td>
                        <td style="width: 50%"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
