{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "obshaja_vedomost" %}{% endblock %}

{% block scripts %}
    {% include "gradebook_js.html" %}
{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url staff.views.staff_page %}">Staff</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url staff.views.user_filter_by_status_page %}">{% trans "filtry_po_statusam" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="">{% trans "obshaja_vedomost" %}</a>
        </li>
    </ul>
{% endblock navbar %}

{% block content %}

    <style>
        .table_tasks th {
            white-space: nowrap
        }
        .multiselect-native-select {
            display: inline-block;
            width: 20rem;
            vertical-align: middle;
        }
    </style>

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-block">
                    <h5 class="card-title">{% trans "sgenerirovat_obshuu_vedomost" %}</h5>
                    {% if statuses %}
                        <select class="form-control" id="edit_statuses" multiple>
                            {% for status in statuses %}
                                <option value="{{ status.id }}">{{ status.name }}</option>
                            {% endfor %}
                        </select>
                        <button id="btn-generate" class="btn btn-secondary">{% trans "sgenerirovat" %}</button>
                    {% else %}
                        <p class="card-text">{% trans "ne_najdeno_kursov" %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
