{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %} Staff{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}jquery.stickytableheaders.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".table_users").stickyTableHeaders({fixedOffset: $('.navbar')});

            $('select[multiple]').multiselect({
                buttonClass: 'btn btn-secondary btn-block',
                templates: {
                    ul: '<ul class="multiselect-container dropdown-menu" style="left:inherit;top: inherit;"></ul>',
                    li: '<li><a tabindex="0" class="dropdown-item"><label></label></a></li>',
                    filter: '<li class="multiselect-item filter"><div class="input-group"><input class="form-control multiselect-search" type="text"></div></li>',
                    filterClearBtn: '<span class="input-group-btn"><button class="btn btn-secondary btn-block multiselect-clear-filter" type="button"><i class="fa fa-times"></i></button></span>'

                },
                includeSelectAllOption: true,
                enableCaseInsensitiveFiltering: true,
                filterPlaceholder: "{% trans "Найти..." %}",
                selectAllText: '{% trans "Выбрать все" %}',
                allSelectedText: '{% trans "Все выбрано" %}',
                maxHeight: 200,
                buttonContainer: '<div style="width:100%;" class="multiselect-dropdown"/>',
                buttonWidth: '100%',
                buttonTitle: function(options, select) {
                    var labels = [];

                    if (options.length === 0) {
                        return '---';
                    }
                    else if (options.length === $('option', select).length) {
                        return '{% trans "Все выбрано" %}';
                    }
                    else {
                        options.each(function () {
                            labels.push($(this).text());
                        });
                    }
                    return labels.join(', ');
                },
                buttonText: function(options, select) {
                    if (options.length === 0) {
                        return '---';
                    }
                    else if (options.length === $('option', select).length) {
                        return '{% trans "Все выбрано" %}';
                    }
                    else {
                        var labels = [];
                        options.each(function() {
                            if ($(this).attr('label') !== undefined) {
                                labels.push($(this).attr('label'));
                            }
                            else {
                                labels.push($(this).text());
                            }
                        });
                        return labels.join(', ') + '';
                    }
                }
            });
        });
    </script>

{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">Staff</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">{% trans "Фильтры по статусам" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url staff.views.get_gradebook %}">{% trans "Общая ведомость" %}</a>
        </li>
    </ul>
{% endblock navbar %}

{% block content %}

    <style>
        .table_tasks th {
            white-space: nowrap
        }
    </style>

    <div class="row">
        {% if filter.count or filter.form.data %}
            <div class="col-md-2 col-xs-12">
                <div class="card card-block" id="filters" style="min-width:11.5rem;">
                    <div style="padding: 0px 15px 0px 15px;">
                        {% crispy filter.form %}
                    </div>
                </div>
            </div>

            <div class="col-md-10 col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h5 class="card-title">{% trans "Пользователи" %}</h5>
                        {% if filter.users_info %}
                            <table class="table table_users">
                                <thead>
                                <tr style="background-color: #ffffff;">
                                    <th>{% trans "Имя" %}<i class="fa fa-fw fa-sort"></i></th>
                                    <th>{% trans "Почта" %}<i class="fa fa-fw fa-sort"></i></th>
                                    <th>{% trans "Статус" %}<i class="fa fa-fw fa-sort"></i></th>
                                    <th>{% trans "Курс" %}<i class="fa fa-fw fa-sort"></i></th>
                                    <th>{% trans "Балл" %}<i class="fa fa-fw fa-sort"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for info in filter.users_info.values %}
                                    <tr>
                                        <td>
                                            <a href="/users/{{ info.user_profile.user }}">{{ info.user_profile.user.get_full_name }}</a>
                                        </td>
                                        <td>{{ info.user_profile.user.email }}</td>
                                        <td>
                                            {% for user_status in info.user_profile.user_status.all %}
                                                <span class="label" style="font-size: 1rem; background-color: {{ user_status.color }}">{{ user_status.name }}</span>
                                            {% endfor %}
                                        </td>
                                        <td>{{ info.course.name }}</td>
                                        <td>{{ info.sum_score }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p class="card-text">{% trans "Не найдено ни одного пользователя" %}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-block">
                        <h5 class="card-title">{% trans "Пользователи" %}</h5>
                        <p class="card-text">{% trans "Нет пользователей" %}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
