{% extends "base.html" %}

{% block title %}Создание инвайтов{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}jquery.validate.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#invites-form').validate(
                    {
                        /*submitHandler: function(form) {
                         $(form).ajaxSubmit();
                         },*/

                        rules: {
                            number_of_invites: {
                                required : true,
                                digits : true,
                                range : [1, 50],
                            },
                        },

                        highlight: function(label) {
                            $(label).closest('.form-group').removeClass('success').addClass('has-error');
                        },

                        success: function(label) {
                            label.addClass('valid').closest('.form-group').addClass('has-success');
                        },

                        messages: {
                            number_of_invites: {
                                required: "Необходимо указать, какое число инвайтов вы хотите сгенерировать",
                                range : "Число инвайтов не может быть больше 50",
                                digits : "Количество инвайтов должно быть целым числом"
                            },
                        },

                        errorPlacement: function(error, element) {
                            $('#error_text').append(error);
                        }
                    });
        });

    </script>
{% endblock %}

{% block content %}

    <div>
        <h2>Создание инвайтов</h2>
        <form action="{% url invites.views.generate_invites %}" method="post" id="invites-form" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group" style="display: inherit;">
                <label for="number_of_invites" class="col-sm-3">Количество инвайтов</label>
                <div class="controls col-sm-3">
                    <input class="form-control" type="text" value="1" name="number_of_invites" class="input-sm" id="number_of_invites">
                    <span class="help-block" id="error_text"></span>
                </div>
            </div>
            <div class="form-group" id="group_options">
                <label for="groups" class="col-sm-3">Группа, для которой создаем инвайт</label>
                <div class="controls col-sm-3">
                    <select id="groups" name="group_id" class="form-control">
                        {% for group in groups %}
                            <option value="{{ group.id }}">{{ group.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-3">
                    <button type="submit" class="btn btn-default">Создать</button>
                </div>
            </div>
        </form>
        <p class="help-block">Если необходимой группы нет в списке, обратитесь к <a href="mailto:anytask@yandex.ru">администратору</a>.</p>
    </div>

{% endblock %}
