{% extends "base.html" %}

{% block title %}Создание инвайтов{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}jquery.validate.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#invites-form').validate(
                    {
                        /*submitHandler: function(form) {
                         $(form).ajaxSubmit();
                         },*/

                        rules: {
                            number_of_invites: {
                                required : true,
                                digits : true,
                                range : [1, 50],
                            },
                            group_id: {
                                required : true,
                            },
                        },

                        highlight: function(input) {
                            $(input).removeClass('form-control-success').addClass('form-control-danger');
                            $(input).closest('.form-group').removeClass('has-success').addClass('has-danger');
                        },

                        success: function(label) {
                            label.addClass('valid');
                            label.closest('.text-help').siblings('.form-control').removeClass('form-control-danger').addClass('form-control-success');
                            label.closest('.form-group').removeClass('has-danger').addClass('has-success');
                        },

                        messages: {
                            number_of_invites: {
                                required: "Необходимо указать, какое число инвайтов вы хотите сгенерировать",
                                range : "Число инвайтов должно быть больше 0 и меньше 50",
                                digits : "Количество инвайтов должно быть целым числом"
                            },
                            group_id: {
                                required: "Необходимо указать группу",
                            },
                        },

                        errorPlacement: function(error, element) {
                            $(element).siblings('small.text-help').empty().append(error);
                        }
                    });
        });

    </script>
{% endblock %}

{% block content %}

    <div class="card card-block" >
        <h3 class="card-title">Создание инвайтов</h3>
        <form action="{% url invites.views.generate_invites %}" method="post" id="invites-form">
            {% csrf_token %}
            <div class="form-group row" style="display: none;"i>
                <label class="form-control-label col-sm-3" for="number_of_invites">Количество инвайтов</label>
                <div class="controls col-sm-3">
                    <input class="form-control" type="text" value="1" name="number_of_invites" class="input-sm" id="number_of_invites">
                    <small class="text-help" id="error_text"></small>
                </div>
            </div>
            <div class="form-group row" id="group_options">
                <label for="groups" class="col-sm-3">Группа, для которой создаем инвайт</label>
                <div class="controls col-sm-3">
                    <select id="groups" name="group_id" class="form-control">
                        {% for group in groups %}
                            <option value="{{ group.id }}">{{ group.name }}</option>
                        {% endfor %}
                    </select>
                    <small class="text-help"></small>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-offset-3 col-sm-3">
                    <button type="submit" class="btn btn-secondary">Создать</button>
                </div>
            </div>
        </form>
        <p class="help-block">Если необходимой группы нет в списке, обратитесь к <a href="mailto:anytask@yandex.ru">администратору</a>.</p>
    </div>

{% endblock %}
