{% load sanitize_html %}
{% load i18n %}
<html>
    <head>
        <title>{% trans "Инвайты" %}</title>
    </head>
    <body>
        {% trans "Инвайт на Anytask" %}
        {% if group %}
                {% trans "для" %} {{ group.name }}
        {% endif %}
    <br/>
    {% trans "Действителен до " %}{{ invite_expired_date }}
        <pre>
            {% for invite in invites %}
{{ invite }}
-------------------------------------------------------
            {% endfor %}
        </pre>
    </body>
</html>
