{% load sanitize_html %}
{% load i18n %}
<html>
    <head>
        <title>{% trans "invajty" %}</title>
    </head>
    <body>
        {% trans "invajt_na_anytask" %}
        {% if group %}
                {% trans "dlja" %} {{ group.name }}
        {% endif %}
    <br/>
    {% trans "dejstvitelen_do" %} {{ invite_expired_date }}
        <pre>
            {% for invite in invites %}
{{ invite }}
-------------------------------------------------------
            {% endfor %}
        </pre>
    </body>
</html>
