.card-header {
    background-color: inherit;
}

.table-history th {
    white-space: nowrap;
}

.table-history th:not(.no-sort) {
    cursor: pointer;
}

.table-history th.headerSortUp span.fa.fa-sort:before {
    content: "\f0de";
}

.table-history th.headerSortDown span.fa.fa-sort:before {
    content: "\f0dd";
}

.table-history thead tr {
    background-color: #fff;
}

.table-history td.centered {
    text-align: center;
}

.label {
    margin-bottom: .3rem;
}

.big-label {
    font-size: 1rem;
}

#modal_status_edit .form-control-label {
    padding-left: 0;
}

.card .card-header {
    padding: 1.25rem 1.25rem 0 1.25rem;
}

.card .card-title {
    margin-bottom: 1.25rem;
}

#user_statuses {
    overflow: auto;
}
