.card .nav-pills{
    font-size: 0.8em;
}
.switch-tab i{
    font-size: 1.5rem
}
.card-header {
    background-color: inherit;
    border-bottom: none;
}
.text-arrow:after {
    content: "\f0dc";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    padding-left: .3rem;
}
.big-label {
    font-size: 1rem;
}
.card-table{
    overflow: auto;
    position: relative;
}
.card-table thead tr {
background-color: #ffffff;
}