.card-deck-wrapper {
    margin-bottom: 1rem;
}

.user_img {
    position: relative;
    display: inline-block;
}

.user_img .edit-icon,
#user_info_edit_btn {
    padding: 6px 8px;
}

.user_img:hover .edit-icon {
    display: block;
}

.user_img .avatar {
    width: 100px;
    height: 100px;
    margin: 0 1rem 1rem 0;
}

.label-status {
    font-size: 1rem;
}

.edit-icon {
    text-align: center;
    position: absolute;
    right: 13%;
    top: 0;
    display: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.personal-info-block {
    margin-bottom: 1rem;
}

.row .personal-info-block:last-child {
    margin-bottom: 0;
}

.personal-info-name {
    text-align: left;
    color: #777;
}

.personal-info-part + .personal-info-part:before {
    display: inline-block;
    width: 100%;
    margin: 1rem auto;
    vertical-align: middle;
    content: "";
    border-top: 1px solid #e5e5e5;
}

#edit-avatar {
    width: 200px;
    height: 200px;
}

#input-avatar,
#gravatar-link,
#delete-avatar {
    display: none;
}

#update_user_info_error_text {
    margin: 1rem 0 0 0;
}

#invites_form_button {
    margin-bottom: 1rem;
}

#show-avatar {
    object-fit: contain;
    border-radius: 0;
    width: 100%;
    height: auto;
}

.card .nav-pills {
    font-size: 0.8em;
}

.switch-tab i {
    font-size: 1.5rem
}

.card-header {
    background-color: inherit;
}