.social-acc {
    display: inline-block;
    padding: .375rem .7rem;
    line-height: 1.5;
    border-radius: .25rem;
    outline: none;
    vertical-align: top;
    text-align: center;
}

.social-acc-ya {
    background-color: #fc2e1c;
}

.social-acc-contest {
    background-color: #ffdb4d;
}

.social-acc-ya-item {
    color: #fff;
}

.social-acc-contest-item {
    color: #333;
}

.btn-icon {
    margin: 2px;
    padding: 6px;
}

.social-acc-panel {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.social-acc-panel li {
    display: table;
    margin-bottom: 1rem;
    width: 100%;
}

.social-acc-panel .social-acc-panel-item {
    display: table-row;
}

.social-acc-panel .social-acc-type,
.social-acc-panel .social-acc-login,
.social-acc-panel .social-acc-action {
    display: table-cell;
    text-align: center;
}

.social-acc-panel .social-acc-type {
    width: 7rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.social-acc-panel .social-acc-login {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: .375rem .7rem;
}

.social-acc-panel .social-acc-action {
    width: 90px;
}

#location_label {
    padding-top: .3rem;
}

.help-button {
    opacity: 0.2;
    filter: alpha(opacity=20);
    color: #000000;
}

.help-button:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}
