.history {
    list-style: none;
    margin: 0;
    padding: 0;
}

.history li {
    /*margin: 10px 0;*/
    padding: 10px 15px;
}

.history-body {
    border-radius: 9px;
    position: relative;
    padding: 10px 15px;
    background-color: #f5f8fa;
    word-wrap: break-word;
}

.author {
    color: #9da9b0;
    font-size: 85%;
}

.history .after_deadline {
    border: 1px solid #ce4844;
}

.mine:before {
    position: absolute;
    top: 16px;
    right: -8px;
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 2px;
    vertical-align: middle;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid lightblue;
}
.not_mine:before {
    position: absolute;
    top: 16px;
    left: -8px;
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #f5f8fa;
}

.after_deadline:before {
     border-left-color:  #ce4844;
     border-right-color:  #ce4844;
}


/*.history li .primary-font*/
/*{*/
/*color: black;*/
/*margin-left: 0px;*/
/*}*/

.history .mine {
    /*color: #fff;*/
    background-color: lightblue;
    /*float: left!important;*/
    /*display: table-cell;*/

}

.history .user_img {
    padding: 0px 0px 0px 0px;
    text-align: center;
    /*width: 42px;*/
    /*border-radius: 50%;*/
}

/*.history .mine + .mine {*/
/*margin-top: 5px;*/
/*}*/

.history .not_mine {
    background-color: #f5f8fa;
    /*float: right!important;*/
}

/*.history .not_mine + .not_mine {*/
/*margin-top: 5px;*/
/*}*/

.history .files {
    text-align: right;
}

/*.history li .history-body p*/
/*{*/
/*margin: 0;*/
/*color: black;*/
/*}*/

/*a.user*/
/*{*/
/*color: #c67605;*/
/*}*/

textarea {
    resize: vertical;
}
