{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load sanitize_html %}
{% load table_func %}

{% block title %} {{ user_to_show.get_full_name }} {% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}jquery.stickytableheaders.min.js"></script>

{% endblock %}

{% block content %}

    <style>
        .card-deck-wrapper {
            margin-bottom: 1rem;
        }

        .card .nav-pills{
            font-size: 0.8em;
        }

        .card-header {
            background-color: inherit;
        }
    </style>

    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card card-inverse card-warning">
                <div class="card-block">
                    <h5 class="card-title">{{ oauth_error_text_header }}</h5>
                    <p class="card-text">
                        <strong>{{ oauth_error_text }}</strong>
                        {% blocktrans %} Для того, чтобы отвязать свой профиль от другого обратитесь к <a href="mailto:anytask@yandex.ru">администратору</a> {% endblocktrans %}
                    </p>
                    <a href="/user/ya_oauth_request/contest" type="button" class="btn btn-secondary">
                        {% trans "Привязать" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
