{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load table_func %}

{% block title %} {{ user_to_show.get_full_name }} {% endblock %}

{% block scripts %}
    {% include "user_profile_js.html" %}
    <script src="{{ STATIC_URL }}jquery.stickytableheaders.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".table_courses").tablesorter();
            $(".table_courses").stickyTableHeaders({fixedOffset: $('.navbar')});

            $('.switch-tab').click(function () {
                $(this).tab('show');
                $(this).removeClass('active');
            });
        });
    </script>

{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav">
        {% if user_to_show == user %}
            <li class="nav-item">
                <a class="nav-link" href="{% url users.views.profile %}">Профиль</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url users.views.my_tasks %}">Мои задачи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url users.views.user_courses %}">Мои курсы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url users.views.profile_settings %}">Настройки</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url users.views.profile user_to_show %}">Профиль студента</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url users.views.user_courses user_to_show %}">Курсы студента</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="">Редактирование статусов</a>
            </li>
        {% endif %}
    </ul>
{% endblock navbar %}

{% block content %}

    <style>

        .card-header {
            background-color: inherit;
        }

        .label {
            margin-bottom: .3rem;
        }
    </style>
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Статусы {{ user_profile.user.get_full_name }}</h5>
                </div>
                <div class="card-block" id="user_statuses">
                    {% if user_profile.user_status.all %}
                        {% for user_status in user_profile.user_status.all %}
                            <span class="label"
                                  style="font-size: 1rem; background-color: {{ user_status.color }}">{{ user_status.name }}</span>
                        {% endfor %}
                    {% else %}
                        <p class="card-text">Нет статусов</p>
                    {% endif %}
                </div>
                <div class="card-block">
                    <button class="btn btn-secondary" type="button" data-toggle="modal"
                            data-target="#modal_status_edit">Редактировать
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-xs-12">
            <div class="card">
                <div class="card-block">
                    <h5 class="card-title">История изменений {{ user_profile.user.get_full_name }}</h5>

                    <table class="table">
                        <thead>
                        <tr style="background-color: #ffffff;">
                            <th>Когда был изменен<i class="fa fa-fw fa-sort"></i></th>
                            <th>Кем<i class="fa fa-fw fa-sort"></i></th>
                            <th>Статусы пользователя<i class="fa fa-fw fa-sort"></i></th>
                        </tr>
                        </thead>
                        <tbody id="tbody_history">
                        {% for entry in user_profile_history.all %}
                            <tr>
                                <td>{{ entry.update_time|date:'d-m-Y H:i' }}</td>
                                <td><a href="/users/{{ entry.updated_by }}">{{ entry.updated_by.get_full_name }}</a>
                                </td>
                                <td>
                                    {% for user_status in entry.user_status.all %}
                                        <span class="label"
                                              style="font-size: 1rem; background-color: {{ user_status.color }}">{{ user_status.name }}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_status_edit" tabindex="-1" role="dialog" aria-labelledby="modal-title"
         aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal_status_edit_header">Статусы пользователя</h4>
                </div>
                <div class="modal-body" style="max-height: none;">
                    <p>Добавление и удаление статусов пользователя.</p>
                    <form method="post" id="status_edit_form">
                        {% csrf_token %}
                        {% for type, name in status_types %}
                            <div class="form-group">
                                <label class="form-control-label" for="status_edit_type"
                                       style="padding-left: 0;"> {{ name }}</label>
                                <select class="form-control" id='status_edit_type' name="status_by_type[]">
                                    <option value=""> ---</option>
                                    {% for status in user_statuses %}
                                        {% if status.type == type %}
                                            <option name="{{ type }}" value="{{ status.id }}"
                                                    {% if status in user_profile.user_status.all %}selected{% endif %}>
                                                <span class="label"
                                                      style="font-size: 1rem; background-color: {{ status.color }}">{{ status.name }}
                                                </span>
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button class="btn btn-primary" id="modal_status_edit_ok" data-dismiss="modal"
                            data-loading-text="<span class='fa fa-circle-o-notch fa-spin'></span> Сохранение">Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
