{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load table_func %}
{% load tz %}

{% block title %} {{ user_to_show.get_full_name }} {% endblock %}

{% block scripts %}
    {% include "status_history_js.html" %}
    <link href="{{ STATIC_URL }}status_history.css" rel='stylesheet'/>
{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav">
        {% if user_to_show == user %}
            <li class="nav-item">
                <a class="nav-link" href="{% url users.views.profile %}">{% trans "profil" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url users.views.my_tasks %}">{% trans "moi_zadachi" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url users.views.user_courses %}">{% trans "moi_kursy" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url users.views.profile_settings %}">{% trans "nastrojki" %}</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url users.views.profile user_to_show %}">{% trans "profil_studenta" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url users.views.user_courses user_to_show %}">{% trans "kursy_studenta" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="">{% trans "redaktirovanie_statusov" %}</a>
            </li>
        {% endif %}
    </ul>
{% endblock navbar %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{% trans "statusy" %} {{ user_profile.user.get_full_name }}</h5>
                </div>
                <div class="card-block">
                    <div id="user_statuses">
                        {% if user_profile.user_status.all %}
                            {% for user_status in user_profile.user_status.all %}
                                <span class="label big-label"
                                      style="background-color: {{ user_status.color }}">{{ user_status.name }}</span>
                            {% endfor %}
                        {% else %}
                            <p class="card-text">{% trans "net_statusov" %}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="card-block">
                    <button class="btn btn-secondary" type="button" data-toggle="modal"
                            data-target="#modal_status_edit">{% trans "redaktirovat" %}
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-8 col-xl-9">
            <div class="card">
                <div class="card-block">
                    <h5 class="card-title">{% trans "istorija_izmenenij" %} {{ user_profile.user.get_full_name }}</h5>
                    <table class="table table-history">
                        <thead>
                        <tr>
                            <th>{% trans "kogda_byl_izmenen" %}<span class="fa fa-fw fa-sort"></span></th>
                            <th>{% trans "kem" %}<span class="fa fa-fw fa-sort"></span></th>
                            <th class="no-sort">{% trans "statusy_polzovatelja" %}</th>
                        </tr>
                        </thead>
                        <tbody id="tbody_history">
                        {% for entry in user_profile_history %}
                            <tr>
                                <td>{% localtime on %}{{ entry.update_time|date:'d-m-Y H:i' }}{% endlocaltime %}</td>
                                <td><a href="{{ entry.get_absolute_url }}">{{ entry.updated_by.get_full_name }}</a></td>
                                <td>
                                    {% for user_status in entry.user_statuses %}
                                        <span class="label big-label"
                                              style="background-color: {{ user_status.color }}">{{ user_status.name }}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr class="delete-after-add">
                                <td colspan="4" class="centered">{% trans "pustaja_tablica" %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_status_edit" tabindex="-1" role="dialog" aria-labelledby="modal-title"
         aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal_status_edit_header">{% trans "statusy_polzovatelja" %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans "dobavlenie_udalenie_statusov_polzovatelja" %}</p>
                    <form method="post" id="status_edit_form">
                        {% csrf_token %}
                        {% for type, name in status_types %}
                            <div class="form-group">
                                <label class="form-control-label" for="status_edit_type"> {{ name }}</label>
                                <select class="form-control" id='status_edit_type' name="status_by_type[]">
                                    <option value=""> ---</option>
                                    {% for status in user_statuses %}
                                        {% if status.type == type %}
                                            <option name="{{ type }}" value="{{ status.id }}"
                                                    {% if status in user_profile.user_status.all %}selected{% endif %}>
                                                <span class="label big-label"
                                                      style="background-color: {{ status.color }}">{{ status.name }}
                                                </span>
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">{% trans "zakryt" %}</button>
                    <button class="btn btn-primary" id="modal_status_edit_ok" data-dismiss="modal"
                            data-loading-text="<span class='fa fa-circle-o-notch fa-spin'></span> {% trans "sohranenie" %}">{% trans "sohranit" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
