{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} {{ user_to_show.get_full_name }} {% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}jquery.stickytableheaders.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".table_courses").tablesorter();
            $(".table_courses").stickyTableHeaders({fixedOffset: $('.navbar')});
        });
    </script>

{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav">
        {%  if user_to_show == user %}
            <li class="nav-item">
                <a class="nav-link" href="{% url users.views.profile %}">Профиль</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url users.views.my_tasks %}">Мои задачи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="">Мои курсы</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url users.views.profile user_to_show %}">Профиль студента</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="">Курсы студента</a>
            </li>
        {% endif %}
    </ul>
{% endblock navbar %}

{% block content %}

    <style>
        .table_courses th {
            white-space: nowrap
        }
    </style>

    {% if tables %}
        {% for table_id, course_statistics in tables.iteritems %}
            <div class="card">
                <div class="card-block">
                    {% if forloop.counter == 1 %}
                        <h5 class="card-title"> {%  if user_to_show != user %} Текущая успеваемость {{ user_to_show.get_full_name }}
                        {% else %}Мои курсы{% endif %}</h5>
                    {% endif %}

                    <table class="table table_courses">
                        <thead>
                        <tr style="background-color: #ffffff;">
                            <th>Курс<i class="fa fa-fw fa-sort"></i></th>
                            {% for status, sum in course_statistics.0.issues_count %}
                                <th>{{ status.name }}<i class="fa fa-fw fa-sort"></i></th>
                            {% endfor %}
                            <th>Всего задач<i class="fa fa-fw fa-sort"></i></th>
                            <th>Итоговая оценка<i class="fa fa-fw fa-sort"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in course_statistics %}
                            <tr onclick="location.href='{% if issue.task.has_issue_access %}{{ issue.get_absolute_url }}{% else %}#{% endif %}'">
                                <td>
                                    <a href="{{ course.url }}">{{ course.name }}</a>
                                </td>
                                {% for status, sum in course.issues_count %}
                                    <td><h5><label class="label" style="background-color: {{ status.color }};">{{ sum }}</label></h5></td>
                                {% endfor %}
                                <td><h5><label class="label label-inverse">{{ course.tasks }}</label></h5></td>
                                <td><h5><label class="label label-success">{{ course.mark }}</label></h5></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="card">
            <div class="card-block">
                <h5 class="card-title"> {%  if user_to_show != user %} Текущая успеваемость {{ user_to_show.get_full_name }}
                {% else %}Мои курсы{% endif %}</h5>
                <p class="card-text">Нет ни одного курса</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
