{% extends "base.html" %}

{% block title %} {{ user_to_show.get_full_name }} {% endblock %}

{% block scripts %}
  <script src="{{ STATIC_URL }}jquery.stickytableheaders.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".table_tasks").tablesorter();
      $(".table_tasks").stickyTableHeaders({fixedOffset: $('.navbar')});
    });
  </script>

{% endblock %}

{% block content %}

  <div class="row">
    <div class="span9">
      <h2>Настройки профиля</h2>

      {% if request.user == user_to_show %}
      <div class="btn-group">
        <a href="/user/ya_oauth_request/contest" type="button" class="btn">
          Синхронизировать с Я.Контестом
        </a>
        <a href="/user/ya_oauth_request/passport" type="button" class="btn">
          Войти через Яндекс
        </a>


      <p>
        Если какие-либо данные неверны, обратитесь к <a href="mailto:anytask@yandex.ru">администратору</a>.
      </p>

    </div>
  </div>
{% endblock %}
