{% load i18n %}

<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            trigger: 'hover',
            template: '<div class="popover" role="tooltip">' +
            '<div class="popover-arrow"></div>' +
            '<div class="popover-content"></div>' +
            '</div>'
        });

        var maps_suggest_api = '{{ geo_suggest_url|safe }}';
        var location_bloodhound = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                prepare: function(query, settings) {
                    settings.dataType = "jsonp";
                    settings.url = settings.url.replace('%QUERY', query);
                    return settings;
                },
                url: maps_suggest_api + '&part=%QUERY',
                transform: function(response) {
                    var locations = [];
                    for (var i=0; i < response[1].length; i++) {
                        if ('geoid' in response[1][i])
                            locations.push(response[1][i]);
                    }
                    return locations;
                }
            }
        });

        $('#location_search').typeahead({
                highlight: true,
                hint: false,
                minLength: 3
            },
            {
                name: 'locations',
                displayKey: 'name',
                source: location_bloodhound
            }
        ).on('typeahead:select', function(ev, suggestion) {
            $('#geoid').val(suggestion.geoid);
        });

        $('#submit_btn').click(function () {
            $.post('{% url users.views.profile_settings %}', $('#user_settings').serialize())
                .done(function(data){
                    $('#submit_error_text').html('<div class="alert alert-success alert-dismissible fade in" role ="alert" id="user_settings_err">' +
                        '                           <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'zakryt' %}">' +
                        '                             <span aria-hidden="true">&times;</span>' +
                        '                           </button>' +
                        '                           <span>{% trans "sohraneno_uspeshno" %}</span>' +
                        '                         </div>');
                })
                .fail(function () {
                    $('#submit_error_text').html('<div class="alert alert-danger alert-dismissible fade in" role ="alert" id="user_settings_err">' +
                        '                           <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'zakryt' %}">' +
                        '                             <span aria-hidden="true">&times;</span>' +
                        '                           </button>' +
                        '                           <span>{% trans "oshibka_pri_sohranenii" %}</span>' +
                        '                         </div>');
                })
                .always(function () {
                    $('#user_settings_err', '#submit_error_text').alert();
                })

        });

        $('#user_settings').change(function () {
            $('#user_settings_err', '#submit_error_text').alert('close');
        })
    });
</script>
