{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "nastrojki_profilja" %}{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                trigger: 'hover',
                template: '<div class="popover" role="tooltip">' +
                '<div class="popover-arrow"></div>' +
                '<div class="popover-content"></div>' +
                '</div>'
            });

            var maps_suggest_api = '{{ geo_suggest_url|safe }}';
            var location_bloodhound = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    prepare: function(query, settings) {
                        settings.dataType = "jsonp";
                        settings.url = settings.url.replace('%QUERY', query);
                        return settings;
                    },
                    url: maps_suggest_api + '&part=%QUERY',
                    transform: function(response) {
                        var locations = [];
                        for (var i=0; i < response[1].length; i++) {
                            if ('geoid' in response[1][i])
                                locations.push(response[1][i]);
                        }
                        return locations;
                    }
                }
            });

            $('#location_search').typeahead({
                    highlight: true,
                    hint: false,
                    minLength: 3
                },
                {
                    name: 'locations',
                    displayKey: 'name',
                    source: location_bloodhound
                }
            ).on('typeahead:select', function(ev, suggestion) {
                $('#geoid').val(suggestion.geoid);
            }
            );

            $('#submit_btn').click(function () {
                $.post('{% url users.views.profile_settings %}', $('#user_settings').serialize(), function(data){
                    $('#submit_error_text').html('<div class="alert alert-success alert-dismissible fade in" role ="alert" id="user_settings_err">' +
                        '                           <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'zakryt' %}">' +
                        '                             <span aria-hidden="true">&times;</span>' +
                        '                           </button>' +
                        '                           <span>{% trans "sohraneno_uspeshno" %}</span>' +
                        '                         </div>');
                })
                    .fail(function () {
                        $('#submit_error_text').html('<div class="alert alert-danger alert-dismissible fade in" role ="alert" id="user_settings_err">' +
                            '                           <button type="button" class="close" data-dismiss="alert" aria-label="{% trans 'zakryt' %}">' +
                            '                             <span aria-hidden="true">&times;</span>' +
                            '                           </button>' +
                            '                           <span>{% trans "oshibka_pri_sohranenii" %}</span>' +
                            '                         </div>');
                    })
                    .always(function () {
                        $('#user_settings_err', '#submit_error_text').alert();
                    })

            });
            $('#user_settings').change(function () {
                $('#user_settings_err', '#submit_error_text').alert('close');
            })
        });
    </script>
{% endblock scripts %}


{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url users.views.profile %}">{% trans "profil" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url users.views.my_tasks %}">{% trans "moi_zadachi" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url users.views.user_courses username=user %}">{% trans "moi_kursy" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="">{% trans "nastrojki" %}</a>
        </li>
    </ul>
{% endblock navbar %}

{% block content %}
    <style>
        .social-acc {
            display: inline-block;
            padding: .375rem .7rem;
            line-height: 1.5;
            border-radius: .25rem;
            outline: none;
            vertical-align: top;
            text-align: center;
        }
        .social-acc-ya {
            background-color: #fc2e1c;
        }
        .social-acc-contest {
            background-color: #ffdb4d;
        }
        .social-acc-ya-item {
            color: #fff;
        }
        .social-acc-contest-item {
            color: #333;
        }
        .btn-icon {
            margin: 2px;
            padding: 6px;
        }

        .social-acc-panel {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
        }
        .social-acc-panel li{
            display: table;
            margin-bottom: 1rem;
            width: 100%;
        }
        .social-acc-panel .social-acc-panel-item{
            display: table-row;
        }
        .social-acc-panel .social-acc-type,
        .social-acc-panel .social-acc-login,
        .social-acc-panel .social-acc-action {
            display: table-cell;
            text-align: center;
        }
        .social-acc-panel .social-acc-type {
            width: 7rem;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: default;
        }
        .social-acc-panel .social-acc-login{
            max-width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: .375rem .7rem;
        }
        .social-acc-panel .social-acc-action {
            width: 90px;
        }
        #location_label {
            padding-top: .3rem;
        }
        .help-button {
            opacity: 0.2;
            filter: alpha(opacity=20);
            color: #000000;
        }

        .help-button:hover {
            opacity: 0.7;
            filter: alpha(opacity=70);
        }
    </style>

    <div class="row">
        <div class="col-lg-6 col-md-5 col-xs-12">
            <div class="card">
                <div class="card-block">
                    <h5 class="card-title">{% trans "nastrojki" %}</h5>
                    <form method="post" id="user_settings">
                        {% csrf_token %}
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" id="show_email" name="show_email" {% if user_profile.show_email %}checked{% endif %}>
                                {% trans "pokazyvat_moj_e-mail" %}
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" id="send_my_own_events" name="send_my_own_events" {% if user_profile.send_my_own_events %}checked{% endif %}>
                                {% trans "otpravljat_mne_kommentarii" %}
                            </label>
                        </div>
                        <div class="form-group row">
                            <label id='location_label' class="col-lg-5 col-md-5 col-sm-7 col-xs-7 form-check-label">{% trans "moe_mestopozhenie" %}
                             <a tabindex="0" data-toggle="popover" data-trigger="hover" data-content="{% trans "dlja_vremeni" %}" type="button"><i class="fa fa-question-circle help-button" aria-hidden="true"></i></a>
                            </label>
                                <div class="controls no-validate col-lg-6 col-md-6 col-sm-7 col-xs-7">
                                    <input type="text" class="typeahead form-control" id="location_search" name="location" value="{{ user_profile.location }}">
                                    <input type="hidden" id="geoid" name="geoid" value="">
                                </div>
                        </div>
                        <div id="submit_error_text"></div>
                        <button type="button" class="btn btn-primary" id="submit_btn" style="margin-top: 0.5rem">{% trans "sohranit" %}</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-7 col-xs-12">
            <div class="card">
                <div class="card-block">
                    <h5 class="card-title">{% trans "privjazka_akkauntov" %}</h5>
                    <ul class="social-acc-panel">
                        <li>
                            <div class="social-acc-panel-item">
                                <div class="social-acc-type social-acc social-acc-ya">
                                    <span class="social-icons social-acc-ya-item">{% trans "jandeks" %}</span>
                                </div>
                                <div class="social-acc-login">
                                    {% if user_profile.ya_passport_oauth %}
                                        {{ user_profile.ya_passport_login }}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </div>
                                <div class="social-acc-action">
                                    {% if user_profile.ya_passport_oauth %}
                                        <button class="btn btn-secondary btn-icon" type="button" onclick="location.href='{% url users.views.ya_oauth_request type_of_oauth='passport'%}'"><i class="fa fa-fw fa-refresh"></i></button>
                                        <button class="btn btn-secondary btn-icon" type="button" onclick="location.href='{% url users.views.ya_oauth_disable type_of_oauth='passport'%}'"><i class="fa fa-fw fa-trash-o"></i></button>
                                    {% else %}
                                        <button class="btn btn-secondary btn-icon" type="button" onclick="location.href='{% url users.views.ya_oauth_request type_of_oauth='passport'%}'"><i class="fa fa-fw fa-plus"></i></button>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                        {% if user_profile.can_sync_contest %}
                            <li>
                                <div class="social-acc-panel-item">
                                    <div class="social-acc-type social-acc social-acc-contest">
                                        <span class="social-icons social-acc-contest-item">{% trans "jakontest" %}</span>
                                    </div>
                                    <div class="social-acc-login">
                                        {% if user_profile.ya_contest_oauth %}
                                            {{ user_profile.ya_contest_login }}
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </div>
                                    <div class="social-acc-action">
                                        {% if user_profile.ya_contest_oauth %}
                                            <button class="btn btn-secondary btn-icon" type="button" onclick="location.href='{% url users.views.ya_oauth_request type_of_oauth='contest'%}'"><i class="fa fa-fw fa-refresh"></i></button>
                                            <button class="btn btn-secondary btn-icon" type="button" disabled="disabled" title="{% trans "title_otvjazat_svoj_profil" %}"><i class="fa fa-fw fa-trash-o"></i></button>
                                        {% else %}
                                            <button class="btn btn-secondary btn-icon" type="button" onclick="location.href='{% url users.views.ya_oauth_request type_of_oauth='contest'%}'"><i class="fa fa-fw fa-plus"></i></button>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
