{% extends "base.html" %}
{% load index_messages %}

{% block title %}Anytask{% endblock %}

{% block content %}

    {% index_message %}

    <div class="jumbotron">
        <h1>Anytask</h1>
        <p>&beta;-версия</p>
        <p>
            Платформа для взаимодействия преподавателей и студентов в процессе обучения.

            {# AnyTask &#151; сервис для учета выполнения студентами программы по #}
            {# учебным курсам.  #}
            {# <a href="/about">>></a> #}
        </p>
        <!-- <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
    </div>

    <div class="row">
        <div class="col-md-6">
            <ul>
                {% for school in schools %}
                    <li>
                        <a href="{% url schools.views.school_page school.link %}"><h2>{{ school.name }}</h2></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="pull-right">
        <footer>
            <p><small>Пишите нам на <a href="mailto:anytask@yandex.ru">anytask@yandex.ru</a></small></p>
        </footer>
    </div>
{% endblock %}
