{% extends "base.html" %}
{% load index_messages %}

{% block title %}Anytask{% endblock %}

{% block content %}

    {% index_message %}

    {#    <div class="jumbotron">#}
    {#        <h1 class="display-3">Anytask</h1>#}
    {#        <p class="lead">&beta;-версия</p>#}
    {#        <p>#}
    {#            Платформа для взаимодействия преподавателей и студентов в процессе обучения.#}
    {##}
    {# AnyTask &#151; сервис для учета выполнения студентами программы по #}
    {# учебным курсам.  #}
    {# <a href="/about">>></a> #}
    {#        </p>#}
    {#        <!-- <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->#}
    {#    </div>#}

    <div class="row">
        {% for school in schools %}
            <div class="col-md-6">
                <div class="card">
                    <a class="card-link card-clickable"  href="{% url schools.views.school_page school.link %}">
                        <div class="card-block">
                            <h3 class="card-title">{{ school.name }}</h3>
{#                            <p class="card-text">Some text.</p>#}
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
