{% extends "base.html" %}
{% load index_messages %}

{% block title %}Anytask{% endblock %}

{% block content %}

{% index_message %}

<div class="hero-unit">
  <h1>Anytask</h1>
  <p>
  &beta;-версия
  </p>
  <p>
  AnyTask — платформа для взаимодействия преподавателей и студентов в процессе обучения.

  {# AnyTask &#151; сервис для учета выполнения студентами программы по #}
  {# учебным курсам.  #}
  {# <a href="/about">>></a> #}
  </p>
  <!-- <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
</div>

<div class="row">
  <div class="span6">
    <h2>Школы</h2>
    <ul>
      {% for school in schools %}
      <li>
      <a href="{% url schools.views.school_page school.id %}">{{ school.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>


</div>
<div class="pull-right">
  <footer>
    <p><small>Пишите нам на <a href="mailto:anytask@yandex.ru">anytask@yandex.ru</a></small></p>
  </footer>
</div>
{% endblock %}
