{% extends "base.html" %}

{% load sanitize_html %}

{% block title %}Описание задач курса {{ course.name }} | {{ course.year }}{% endblock %}

{% block content %}

<div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="{% url courses.views.tasks_list course_id=course.id %}">Список по группам</a></li>
      <li class="active"><a href="{% url courses.views.tasks_description course.id %}">Описание задач</a></li>
      {% if visible_queue %}
      <li><a href="{% url courses.views.queue_tasks_to_check course_id=course.id %}"> Очередь на проверку </a> </li>
      {% endif %}
    </ul>
</div>

<h3>{{ course.name }} <small>{{ course.year }}</small></h3>

<div class="row span8">
	{% for group,tasks in group_x_tasks.items %}
		<h2>{{ group.name }}</h2>
		<dl>
			{% for task in tasks %}
				<dt>{{ task.title }}</dt>
				<dd>{{ task.task_text|sanitize|safe }}</dd>
				<br>
			{% endfor %}
		</dl>
	{% endfor %}
	{% if course_tasks %}
		<h2>Задачи курса</h2>
		<dl>
		{% for task in course_tasks %}
				<dt>{{ task.title }}</dt>
				<dd>{{ task.task_text|sanitize|safe }}</dd>
				<br>
		{% endfor %}
		</dl>
	{% endif %}
</div>
{% endblock %}