{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "AnyTask. Отправка на проверку:" %}  {{ task.course.year }} / {{ task.course.name }} / {{ task.title }}{% endblock %}


{% block content %}

<div class="row"> 
    <div class="span12">
        <dt><h2>{{ task.course.name }} <small>{{ task.title }}</small></h2></dt>
        
        {% if task.rb_integrated %}
        <div>
            <h3> Svn review </h3>
            <form class="navbar-form pull-left" id="svn_path_form">
                {% trans "Путь до задачи в svn-репозитарии:" %}
                <input type="text" id="svn_path" class="span5">
                <button type="submit" id="submit_btn" class="btn" data-loading-text="Loading ...">{% trans "Выбрать" %}</button>
            </form>
            <br/><br/>
            <p>
                {% trans 'Инструкция <a href="{{ STATIC_URL }}/HowtoPassTask.pdf">как сдавать задачи</a>.' %}
            </p>
            <br/>
            <div id="review_submit_form">
            </div>
            <hr>
        </div>
        {% endif %}

        <form enctype="multipart/form-data" method="post" id="review_form" action="{% url submit_pdf_gr_form task.id %}">
            {% csrf_token %}
            {% if task.course.gr_integrated %}
            <div>
                <h3> Google review </h3>
                <font color="red"> {{gr_error}} </font>
                <div>
                    Id issue на сайте https://codereview.appspot.com:
                    <input type="text" id="id_issue" name="id_issue" class="span5" value="{{id_issue_gr_review}}">
                </div>
                <br />
                <br />
                <hr />
            </div>
            {% endif %}

            {% if task.course.pdf_integrated %}
            <div>
                <h3> File review </h3>
                <font color="red"> {{pdf_error}} </font>
                <div>
                    {% if pdf_info %}
                        {% trans "Вы загрузили файл " %}<a href="{{pdf_info.url}}"> {{pdf_info.name}} </a> <br />
                    {% endif %}
                    {% trans "Загрузите решение задачи:" %}
                    <div>
                      {{pdf_form}}
                    </div>
                </div>
                <br />
                <br />
                <hr />
            </div>   
            {% endif %}

            <div class="span12" style="text-align: center;">
                <button type="submit" id="submit_btn" class="btn btn-info" data-loading-text="Loading ...">{% trans "Отправить на проверку" %}</button>
            </div>
        </form>
    </div>
</div>

<script>

$("#svn_path_form").submit(function() {
    $("#submit_btn").button('loading');
    var svn_path = $("#svn_path").val();
    var task_id = {{ task.id }};

    $.ajax({
        url: "/course/submit_review_form/" + task_id + "/" + svn_path
        //context: document.body
        }).done(function(data) {
            $("#review_submit_form").html(data);
            $("#submit_btn").button('reset');
        });
    return false;
});

$("#gr_review_form").submit(function() {
    var id_issue = $("#id_issue").val();
    if (isNaN(parseInt(id_issue)) || !$.isNumeric(id_issue))
    {
        alert("Введите в поле google review число.");
        return false;    
    }
    else
    {
        return true;
    }
});

</script>

{% endblock %}
