Source: anytask
Section: misc
Priority: extra
Maintainer: Aleksandr Bukin  <gebetix@yandex-team.ru>
Build-Depends: debhelper (>= 4), python (>=2.7), python-support, cdbs, dh-virtualenv (=0.6-1), quilt, libmysqlclient-dev, python-dev, python-setuptools-git, libffi-dev, libssl-dev,
# pillow depends:
 libtiff5-dev, libjpeg8-dev, zlib1g-dev, libfreetype6-dev, liblcms2-dev, libwebp-dev
Standards-Version: 3.7.2

Package: anytask
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 python (>=2.7),
 python-mysqldb (>= 1.2.1-p2),
 python-pip,
 python-virtualenv,
 python-simplejson (>=1.9),
 python-lxml,
 python-dev,
 p7zip-full,
 tar,
 xz-utils,
 bzip2,
 gzip,
 gettext
Description: Anytask -- платформа для взаимодействия преподавателей и студентов в процессе обучения.
