{% extends "base.html" %}

{% block title %}О Anytask{% endblock %}

{% block content %}
  
  <div class="row">
    <div class="span10">
      <h1>Про AnyTask</h1>
      <h2>Кратко о сервисе</h2>
      <p>
        AnyTask &#151; сервис для учета выполнения студентами программы по учебным курсам.
      </p>
      <p>
        AnyTask поддерживает разные виды курсов: студенты могут самостоятельно выбирать задачи из списка, либо список задач жестко определяется преподавателем.
      </p>
      <p>
        Например, на курсе Perl есть общий список задач для всех студентов. У каждой задачи есть максимальный балл. Студент может самостоятельно выбирать любую задачу, а преподаватель оценить работу студента. Существует ряд ограничений: у студента не может быть более 2-х неоцененных задач, каждую задачу может выбрать не более 8 человек и если студент взял задачу, то у него есть месяц, чтобы заработать хотя бы один балл. Все это может контролировать AnyTask.
      </p>
      <p>
        Другой пример &#151; курс Операционные системы. Здесь преподаватель жесто задает список задач для группы и каждый студент должен выполнить все задачи.
      </p>
      <p>
        AnyTask разработан в <a href="http://urfu.ru/home/faculties/imkn/">ИМКН УрФУ</a> <a href="http://vk.com/voron13e02">Анной Козловой</a> и <a href="http://vk.com/zhnick">Николаем Журавлевым</a>. Идея AnyTask-а отталкивается от сервиса <a href="http://cs.usu.edu.ru/langs/perl/perltask/">PerlTask</a>, который когда-то давно написал Максим Баклановский.
      </p>
      
      <h2>Немного подробнее</h2>
      <p>
      	Для преподавателей этот сервис позволяет создавать, редактировать и оценивать задачи их курса. Кроме того, если при оценке работы преподаватель хочет оставить некоторый комментарий или замечание, то это легко сделать с помощью Anytask-a, просто оставив комментарий к оценке. 
      </p>
      <p>
      Студент может брать задачи самостоятельно (если это задано в параметрах курса), либо он должен выполнить некоторый набор задач. Все задачи, относящиеся к студенту и баллы за них можно посмотреть в его личном кабинете.
      </p>
      <p>
		Кроме того, Anytask хранит список существующих у него курсов и в разделе "Архив" можно посмотреть курсы прошлых лет.
	  </p>
	  
	   <h2>Возможности</h2>
	   <h5>
		Для преподавателя:
	   </h5>
	   <ul>
	   	<li>Быстро создавать задачи.</li>
	   	<li>Редактировать задачи прямо со страницы курса.</li>
	   	<li>Оставлять комментарий при выставлении балла.</li>
	   	<li>Смотреть статистику по группе.</li>
	   	<li>Вводить ограничения для курса, такие как: 
	   		<ul>
	   			<li>максимальное количество студентов на задачу;</li>
	   			<li>"время жизни" заявки студента на задачу без оценки;</li>
	   			<li>количество заявок от студента на задачи. </li>
	   		</ul>	   	
	   	</li>
	   </ul>
	   <h5>
		Для студента:
	   </h5>
	   <ul>
	   	<li>Просматривать из профиля список курсов в которых он участвует, а так же список всех его оцененных задач.</li>
	   	<li>Отображение времени когда задача была взята и когда истекает срок ее сдачи.</li>
	   	<li>Возможность быстро взять задачу, а так же отменить заявку на нее.</li>
	   	<li>Просматривать комментарии, оставленных преподавателем при оценке.</li>
	   </ul>
	   <h5>
		Для деканата: 
	   </h5>
	   <ul>
	   	<li>В планах :)</li>
	   </ul>
    </div>

  </div>
  

{% endblock %}
