{% load sanitize_html icon %}
{% load i18n %}
{% load dict_func %}
{% load task_taken_func %}
{% load tz %}
{% load info %}
{% get_current_language as LANGUAGE_CODE %}

{% block scripts %}
    <link href="{{ STATIC_URL }}shad_cpp.css" rel='stylesheet'/>

    {% include "courses/course_js.html" %}
{% endblock scripts %}

{% for group,student_information in group_information.items %}
    <div class="card card-block {% if group_gradebook %}group-table{% endif %}" for="#table_results_{{ group.id }}">
        <div class="row">
            <div class="col-md-6">
                <div class="card-title-block">
                    {% ifnotequal group course.group_with_extern %}
                        <h5 class="card-title">
                            {% if group.name %}{% if not group_gradebook %}<a class="card-link table-link" href="{{ course.get_absolute_url }}/gradebook{% if seminar %}/seminar/{{ seminar.id }}{% endif %}/group/{{ group.id }}">{% endif %}{{ group.name }}</a>{% endif %}&nbsp;
                            {% if default_teacher|key:group %}
                                (<a class="card-link table-link" href="{{ default_teacher|get_url:group }}">{{ default_teacher|get_name:group }}</a>)
                            {% endif %}
                        </h5>
                    {% endifnotequal %}
                    {% if user_is_teacher %}
                        <div class="card-title-teacher-buttons">
                            <div class="card-title-teacher-view-buttons">
                                {% if not group_gradebook %}<button class="btn btn-secondary btn-table-fullscreen" type="button" for="#table_results_{{ group.id }}"><i class="fa fa-expand fa-lg"></i></button>{% endif %}
                                <button class="btn btn-secondary btn-table-edit" type="button" data-toggle="modal" data-target="#modal_table_edit" for="#group_sort_{{ group.id }}" data-table="#table_results_{{ group.id }}"><i class="fa fa-pencil fa-lg"></i></button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="loading-table-img">
            <span class="fa fa-circle-o-notch fa-spin fa-3x fa-fw loading"></span>
        </div>
        <div class="zui-wrapper collapse">
            <table class="table table-striped table-bordered table-results order-column hover" cellspacing="0"  id="table_results_{{ group.id }}">
                <thead>
                <tr>
                    <th class="no-font-weight text-center">#</th>
                    <th class="no-font-weight"><b>{% trans "student" %}</b></th>
                    {% for task in group_tasks|key:group %}
                        {% if not task.is_hidden or user_is_teacher %}
                            <th align="center" class="{% if task.type == task.TYPE_SIMPLE and user_is_teacher %}dom-live-number{% else %}dom-number{% endif %} word-wrap">
                                <a class="{% if task.is_hidden %}hidden-task-title{% endif %}" href="javascript:get_task_modal({{task.id}}, '{{task|get_title:LANGUAGE_CODE|safe|escapejs}}',
                    '{{task|get_description:LANGUAGE_CODE|safe|escapejs}}',
                     {% if task.deadline_time %} '{% localtime on %}{{task.deadline_time|date:'d-m-Y H:i'}}{% endlocaltime %}' {% else %}''{% endif %})" data-toggle="popover-short-title" data-trigger="hover" data-placement="bottom" data-content="{% get_text_from_json task 'get_title' LANGUAGE_CODE %} ">
                                    {% if task.short_title %}{{ task.short_title }}{% else %}{% get_text_from_json task 'get_title' LANGUAGE_CODE %}{% endif %}
                                </a>
                                {% if task.type != task.TYPE_SEMINAR and task.type != task.TYPE_MATERIAL %}
                                    <span class="label {% if not task.is_hidden %} label-inverse {% else %} label-default {% endif %}">{{ task.score_max }}</span>
                                {% endif %}
                            </th>
                        {% endif %}
                    {% empty %}
                        <th></th>
                    {% endfor %}
                    <th align="center" class="no-font-weight dom-number">
                        {% trans "summarnyj_ball" %} <span class="label label-inverse">{{ group_x_max_score|key:group }}</span>
                    </th>
                    {% if course.mark_system %}
                        <th align="center" class="no-font-weight dom-select-text">
                            {% trans "itogovaja_ocenka" %}
                        </th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for student, task_x_task_takens, student_summ_score, mark_id, student_course_mark, student_course_mark_int in student_information %}
                    <tr class="{% if user.username == student.username %}table-info{% endif %}">
                        <td class="sticky-col" align="center"></td>
                        <td class="sticky-col">
                            {% if not student.get_profile.is_active  %}<del>{% endif %}
                            <a class="card-link table-link" href="{{ student.get_absolute_url }}">{{ student.last_name }}&nbsp;{{ student.first_name }}</a>
                            {% if not student.get_profile.is_active  %}</del>{% endif %}
                        </td>
                        {% for task in group_tasks|key:group %}
                            {% if not task.is_hidden or user_is_teacher %}
                                <td align="center" class="student_{{ student.id }}">
                                    <div>
                                        {% if not task.is_hidden and user_is_teacher or user.username == student.username %}
                                            {% if task.type == task.TYPE_FULL or task.type == task.TYPE_IPYNB %}
                                                <a  href="/issue/get_or_create/{{task.id}}/{{student.id}}">
                                                    {# <span class="label {% if task_x_task_takens|score:task %} {% if task_x_task_takens|score:task == task.score_max %} label-success {% else %} label-info {% endif %} {% endif %}"> #}
                                                    <span class="label
                                                  {{ task_x_task_takens|have_issue:task }}" style="background-color: {{ task_x_task_takens|label_color:task }};">
                                                  {{ task_x_task_takens|score:task }}
                                                </span>
                                                </a>
                                            {% elif task.type == task.TYPE_SIMPLE or task.type == task.TYPE_MATERIAL  %}
                                                <div {% if user_is_teacher %}class="task-mark-value"{% endif %}>
                                                <span class="label {{ task_x_task_takens|have_issue:task }}" style="background-color: {{ task_x_task_takens|label_color:task }};">
                                                  {{ task_x_task_takens|score:task }}
                                                </span>
                                                </div>
                                                {% if user_is_teacher %}
                                                    <form method="post" class="task-mark-form collapse">
                                                        {% csrf_token %}
                                                        <fieldset class="form-group">
                                                            <input type="hidden" name="task_id" value="{{task.id}}"/>
                                                            <input type="hidden" name="student_id" value="{{student.id}}"/>
                                                            <input type="hidden" name="mark_max" class="mark_max" value="{{ task.score_max }}">
                                                            <input class="form-control" name="mark_value" type="text" maxlength="25" size="5" autocomplete="off" value="{{ task_x_task_takens|score:task }}">
                                                            <span class="text-help"></span>
                                                        </fieldset>
                                                    </form>
                                                {% endif %}
                                            {% elif task.type == task.TYPE_SEMINAR %}
                                                {% if task.children.count != 0 %} <a  href="{{ course.get_absolute_url }}/gradebook/seminar/{{task.id}}"> {% endif %}
                                            <span class="label
                                                  {{ task_x_task_takens|have_issue:task }}" style="background-color: {{ task_x_task_takens|label_color:task }};">
                                                  {{ task_x_task_takens|score:task }}
                                                </span>
                                            {% if task.children.count != 0 %}</a>{% endif %}
                                            {% endif %}
                                        {% else %}
                                            {% if task.is_hidden %}
                                                <span class="label label-default ">{{ task_x_task_takens|score:task }}</span>
                                            {% else %}
                                                <span class="label
                        {{ task_x_task_takens|have_issue:task }}" style="background-color: {{ task_x_task_takens|label_color:task }};">
                        {{ task_x_task_takens|score:task }}
                      </span>
                                            {% endif %}
                                        {% endif %}

                                        {#                  {% if task_x_task_takens|comment:task %}#}
                                        {#         А           <a class="icon-comment" href="javascript:get_modal_comment('{{task_x_task_takens|comment:task|safe|sanitize|escapejs }}')"></a>#}
                                        {#                  {% endif %}#}


                                        {% if user.username == student.username %}
                                            <a class="{{ task_x_task_takens|get_task_taken:task|icon}}"></a>
                                        {% elif task.can_score %}
                                            <a class="{{ task_x_task_takens|get_task_taken:task|icon}}"></a>
                                        {% endif %}
                                    </div>
                                </td>
                            {% endif %}
                        {% empty %}
                            <td>&nbsp;</td>
                        {% endfor %}
                        <td align="center" class="sum-score">
                            <div>
                                {# <span class="label {% if student_summ_score %} {% if student_summ_score == group_x_max_score|key:group %} label-success {% else %} label-info {% endif %} {% else %} label-important {% endif %}"> #}
                                <span class="label label-inverse">{{ student_summ_score }}</span>
                            </div>
                        </td>
                        {% if course_mark_system_vals %}
                            <td align="center" data-class="student_course_mark_{{ student.id }}">
                                <div {% if user_is_teacher %}class="mark-value in collapse"{% endif %}>
                    <span class="label label-success" data-mark-int="{{ student_course_mark_int }}">
                    {{ student_course_mark }}
                  </span>
                                </div>
                                {% if user_is_teacher %}
                                    <form method="post" class="mark-form collapse">
                                        {% csrf_token %}
                                        <input type="hidden" name="course_id" value="{{ course.id }}"/>
                                        <input type="hidden" name="group_id" value="{{ group.id }}"/>
                                        <input type="hidden" name="student_id" value="{{ student.id }}"/>
                                        <select name="mark_id">
                                            <option value=-1>--</option>
                                            {% for mark in course_mark_system_vals %}
                                                <option value="{{ mark.id }}" {% ifequal mark_id mark.id %}selected="selected"{% endifequal %}>{{ mark }}</option>
                                            {% endfor %}
                                        </select>
                                    </form>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endfor %}

{% if user_is_teacher %}
    <div class="modal fade" id="modal_table_edit" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal_table_edit_header">{% trans "itogovaja_tablica" %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans "izmenenie_udalenie_zadach" %}</p>
                    {% for group, tasks in group_tasks.iteritems %}
                        <div id="group_sort_{{ group.id }}" data-group="{{ group.id }}" data-table="#table_results_{{ group.id }}" data-marksystem="{% if course_mark_system_vals %}true{% endif %}" class="collapse">
                            <p  class="modal-group-name">{{ group.name }}</p>
                            <ul class="group-sortable" name="group_sort_{{ group.id }}">
                                {% for task in tasks %}
                                    <li class="ui-state-default" name="task_sort_{{ task.id }}" value="{{ task.id }}">
                                        <span>{% get_text_from_json task 'get_title' LANGUAGE_CODE %}</span>
                                    {% with task_info=task|group_info%}
                                        <a class="task-delete pull-xs-right" data-name="task_delete_{{ task.id }}" {% autoescape off %}{{ task_info }}{% endautoescape %} tabindex="0" data-toggle="popover" type="button">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                        <a class="task-seminar-notempty pull-xs-right" {% autoescape off %}{{ task_info }}{% endautoescape %} tabindex="0" data-toggle="popover-help" data-trigger="hover" data-content="{%  trans "snachala_udalit_podzadchi" %}" type="button">
                                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                                        </a>
                                    {% endwith %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">{% trans "zakryt" %}</button>
                    <button class="btn btn-primary" id="modal_table_edit_ok" data-dismiss="modal" data-loading-text="<span class='fa fa-circle-o-notch fa-spin'></span> {% trans "sohranenie" %}">{% trans "sohranit" %}</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
