#lesson_edit h5.card-title {
    margin-bottom: 1rem;
}

.form-group .controls.no-validate {
    padding-top: 5px
}

span.input-group-addon {
    cursor: pointer;
}

#lesson_edit_datepicker {
    background-color: #fff;
    cursor: pointer
}

#lesson_edit_datepicker:disabled {
    background-color: #eceeef;
}

.help-button {
    opacity: 0.2;
    filter: alpha(opacity=20);
    color: #000000;
}

.help-button:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

a[data-toggle="popover"]:focus {
    outline: 0;
}

div.controls input,
div.controls .input-group,
div.controls select,
div.controls .multiselect-dropdown {
    margin-bottom: 1.2rem;
}

small.text-help .error {
    margin: -1.2rem 0 0 0;
}

div.controls .input-group.lesson_datetime {
    margin-bottom: 1.2rem;
}

input[type=checkbox], input[type=radio] {
    margin-top: 7px;
}

.multiselect-container label.radio {
    padding-left: 20px;
}

.multiselect-container input[type=radio] {
    display: none;
}

.has-success .controls button.multiselect {
    color: #5cb85c;
    border-color: #5cb85c;
}

.has-danger .controls button.multiselect {
    color: #d9534f;
    border-color: #d9534f;
}

.controls .multiselect-container li .checkbox {
    color: #2b2d2f;
}

.controls .multiselect-container li.disabled .checkbox {
    color: #777;
}

.multiselect-dropdown .dropdown-toggle {
    text-align: left;
}

.footer-buttons {
    margin-bottom: 0
}

#button_cancel_quit:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a;
}

@media (max-width: 991px) {
    .footer-buttons .btn-group {
        width: 100%;
    }

    .footer-buttons button:not(.close) {
        width: 100% !important;
        border-radius: .25rem !important;
        margin: 0 0 .5rem 0 !important;
        white-space: normal;
    }

    #button_preview {
        margin-bottom: 2rem !important;
    }
}
