{% load i18n %}
<script src="{{ STATIC_URL }}jquery.validate.min.js"></script>
<script src="http://malsup.github.io/jquery.form.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.3/jquery.sticky.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/colreorder/1.3.2/js/dataTables.colReorder.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" src="https://fastcdn.org/Readmore.js/2.1.0/readmore.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.bootstrap4.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="{{ STATIC_URL }}tinymce/tinymce.min.js"></script>
<script src="{{ STATIC_URL }}tinymce/jquery.tinymce.min.js"></script>
<script src="{{ STATIC_URL }}prism.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap4.min.css"/>
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/colreorder/1.3.2/css/colReorder.bootstrap4.min.css"/>
<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.bootstrap4.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap4.min.css"/>
<link href="{{ STATIC_URL }}prism.css" rel='stylesheet'/>
<link href="{{ STATIC_URL }}tinymce-style-course.css" rel='stylesheet'/>
<link href="{{ STATIC_URL }}tinymce-style-task.css" rel='stylesheet'/>

<script type="text/javascript">
    $.fn.dataTable.ext.order['dom-text-numeric'] = function (settings, col) {
        return this.api().column(col, {order: 'index'}).nodes().map(function (td, i) {
            return $('span', td).hasClass('no-issue') ? -1.0 : parseFloat($('span', td).text());
        });
    };

    $.fn.dataTable.ext.type.order['dom-number-pre'] = function (td) {
        return $('span', td).hasClass('no-issue') ? -1.0 : parseFloat($('span', td).text());
    };

    $.fn.dataTable.ext.order['dom-select'] = function (settings, col) {
        return this.api().column(col, {order: 'index'}).nodes().map(function (td, i) {
            var $mark_int = parseInt($('span', td).data('mark-int'));
            return $mark_int != -1 ? $mark_int: $('select option:selected', td).text();
        });
    };

     $.fn.dataTable.ext.type.order['dom-html-text-pre'] = function (td) {
         return $.trim($(td).text());
    };


    $.fn.dataTable.ext.type.search.selectText = function (data) {
        return !data ? '' : $('select option:selected', $(data)).text()
    };

    var course_tab = window.location.hash.substr(1);

    var readmore_opts = {
        speed: 700,
        collapsedHeight: 700,
        moreLink: '<small><a href="#">{% trans "razvernut" %} <i class="fa fa-chevron-down"></a></small>',
        lessLink: '<small><a href="#">{% trans "svernut" %} <i class="fa fa-chevron-up"></a></small>'
    };

    $(document).ready(function () {
        $('[data-toggle="popover-help"]').popover({
            trigger: 'hover',
            template: '<div class="popover" role="tooltip">' +
            '<div class="popover-arrow"></div>' +
            '<div class="popover-content"></div>' +
            '</div>'
        });

        var info_width = $('#course-information').closest('.card').innerWidth();

        if (course_tab) {
            $('#courseTab a[href="#' + course_tab + '"]').tab('show');
        }
        else {
            $('#courseTab a[href="#course-information-tab"]').tab('show');
        }

        $('#course-information').show();

        $('#edit_course_info_btn').click(function () {
            if ($('#course-information').html())
                tinyMCE.activeEditor.setContent($('#course-information').html());
            $('#update_course_info_error_text').hide();
            $("#course_info_edit").data('changed', false);
            $('#modal_course_info_ok').data('btn_clicked', false).data('exit_modal', false);
            $('#modal_course_information').modal('show');
        });

        $(document).on('focusin', function (e) {
            if ($(e.target).closest(".mce-window").length) {
                e.stopImmediatePropagation();
            }
        });

        $("#course_info_edit").tinymce({
            language: '{{ user.get_profile.language }}',
            skin: 'bootstrap4',
            resize: false,
            content_css: [
                'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css',
                '{{ STATIC_URL }}tinymce-style-course.css',
                '{{ STATIC_URL }}prism.css'
            ],
            setup: function (editor) {
                editor.addButton('preview_text', {
                    icon: false,
                    text: 'Preview',
                    cmd: 'mcePreview'
                });
                editor.addMenuItem('codesample', {
                    icon: 'codesample',
                    text: 'Insert/Edit code sample',
                    cmd: 'codesample'
                });
                editor.on('change', function (e) {
                    $("#course_info_edit").data('changed', true);
                });
            },
            plugins: [
                'autoresize advlist autolink lists link image charmap print preview hr anchor',
                'searchreplace wordcount visualblocks visualchars code',
                'insertdatetime media nonbreaking table contextmenu directionality',
                'textcolor colorpicker textpattern imagetools codesample'
            ],
            toolbar: 'undo redo | bold italic underline | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | image link hr codesample | preview_text',
            autoresize_bottom_margin: 10,
            autoresize_overflow_padding: 10,
            autoresize_min_height: 300,
            image_description: false,
            link_assume_external_targets: true,
            default_link_target: "_blank",
            table_default_attributes: {
                "class": 'table table-bordered table-comment'
            },
            textpattern_patterns: [
                {start: '1. ', cmd: 'InsertOrderedList'}
            ],
            contextmenu: "link image codesample",
            plugin_preview_width: info_width
        });

        $('#modal_course_information').on('hide.bs.modal', function (e) {
            var modal_button_ok = $('#modal_course_info_ok');
            if (!modal_button_ok.data('exit_modal')) {
                if (!modal_button_ok.data('btn_clicked')) {
                    if ($("#course_info_edit").data('changed'))
                        if (confirm('{% trans "sohranit_izmenenija" %}?')) {
                            modal_button_ok.click();
                            e.preventDefault();
                        }
                }
                else {
                    e.preventDefault();
                }
            }
        });

        $('#modal_course_info_ok').click(function () {
            var modal_button_ok = $(this);
            if (!$("#course_info_edit").data('changed')) {
                modal_button_ok.data('exit_modal', true);
                modal_button_ok.closest('.modal').modal('hide');
                return;
            }

            var d = 'disabled';

            modal_button_ok.data('resetText', modal_button_ok.html());
            modal_button_ok.html("<span class='fa fa-circle-o-notch fa-spin fa-fw'></span> {% trans 'sohranenie' %}");
            modal_button_ok.addClass(d).attr(d, d).prop(d, true);
            modal_button_ok.data('btn_clicked', true);

            $('#update_course_info_error_text').hide();

            $.post('{% url courses.views.edit_course_information %}',
                    {
                        'csrfmiddlewaretoken': "{{ csrf_token }}",
                        'course_id': {{ course.id }},
                        'course_information': $('#course_info_edit').val()
                    })
                    .always(function () {
                        modal_button_ok.html(modal_button_ok.data('resetText'));
                        modal_button_ok.removeClass(d).removeAttr(d).prop(d, false);
                        modal_button_ok.data('btn_clicked', false);
                    })
                    .done(function (data) {
                        $('#course-information').html(data.info);
                        modal_button_ok.data('exit_modal', true);
                        modal_button_ok.closest('.modal').modal('hide');
                    })
                    .fail(function (data) {
                        $('#update_course_info_error_text').show();
                    });
        });

        $(".scrollto").click(function () {
            var scrollTo = $('' + $(this).attr("href"));
            $("#info-link").removeClass("active");
            $("#tasks-link").removeClass("active");
            $(this).tab("show");
        });

        if (window.innerWidth >= 992) {
            $("#right-side").sticky({
                topSpacing: 70
            });
        }

        $('[data-toggle="popover-status"]').popover({
            trigger: 'manual',
            html: true,
            template: '<div class="popover legend" role="tooltip">' +
                      '<div class="popover-arrow legend"></div>' +
                      '<div class="popover-content"></div></div>'
        })
        .on('click', function() {
            $(this).popover('toggle');
        })
        .on('shown.bs.popover', function () {
            var self = this;

            if ($('#legend-sticky-wrapper').hasClass('is-sticky')) {
                $('.popover.legend').removeClass('static').addClass('sticky');
            } else {
                $('.popover.legend').removeClass('sticky').addClass('static');
            }

            $(document).one('click', oneClickHandler);

            function oneClickHandler(event) {
                if ($(event.target).data('toggle') !== 'popover-status') {
                    $(self).popover('hide');
                } else {
                    $(document).one('click', oneClickHandler);
                }
            }
        });
        
        $("#legend").sticky({
            topSpacing: $("nav.navbar").outerHeight()
        }).on('sticky-start', function () {
            $('.popover.legend').removeClass('static').addClass('sticky');
        }).on('sticky-end', function () {
            $('.popover.legend').removeClass('sticky').addClass('static');
        });

        $('#hide_academ_student_btn').click(function () {
            $.post('{% url courses.views.change_visibility_academ_users %}',
                {'course_id': {{ course.id }}, 'csrfmiddlewaretoken': "{{ csrf_token }}"},
                function (data) {
                    window.location.reload();
                });
        });

{#        $("#tasks-table").DataTable();#}

        var table_min_height = '30vh';
        $(".table-results").each(function (i) {
            var t = $(this).DataTable({
                scrollY: table_min_height,
                scrollX: true,
                scrollCollapse: true,
                paging: false,
                buttons: [
                    {
                        extend: 'copy',
                        text: '{% trans "skopirovat" %}',
                        exportOptions: {
                            columns: function (idx, data, node) {
                                return $.inArray('', data) === -1;
                            }
                        }
                    },
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: function (idx, data, node) {
                                return $.inArray('', data) === -1;
                            }
                        }
                    }],
                language: {
                    "decimal": "",
                    "emptyTable": "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans 'pustaja_tablica' %}",
                    "info": "_TOTAL_ {% trans 'studentov' %}",
                    "infoEmpty": "0 {% trans 'studentov' %}",
                    "infoFiltered": "({% trans 'iz' %} _MAX_)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "{% trans 'pokazat' %} _MENU_ {% trans 'studentov' %}",
                    "loadingRecords": "{% trans 'zagruzka' %}",
                    "processing": "{% trans 'vychislenie' %}",
                    "search": "{% trans 'poisk' %}:",
                    "zeroRecords": "{% trans 'nichego_ne_najdeno' %}",
                    "paginate": {
                        "first": "{% trans 'pervaja' %}",
                        "last": "{% trans 'poslednjaja' %}",
                        "next": "{% trans 'vpered' %}",
                        "previous": "{% trans 'nazad' %}"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    buttons: {
                        copyTitle: '{% trans "dannye_skopirovany" %}',
                        copySuccess: {
                            _: '%d {% trans "zapisej_iz_tablicy" %}',
                            1: '{% trans "1_zapis_iz_tablicy" %}'
                        }
                    }
                },
                deferRender: true,
                columnDefs: [
                    {
                        "targets": 0,
                        "searchable": false,
                        "orderable": false
                    },
                    {
                        "targets": 1,
                        "type": "dom-html-text",
                    },
                    {
                        "targets": "dom-number",
                        "type": "dom-number",
                    },
                    {
                        "targets": "dom-live-number",
                        "orderDataType": "dom-text-numeric",
                    },
                    {
                        "targets": "dom-select-text",
                        "orderDataType": "dom-select",
                        "type": "selectText",
                    },
                ],
                order: [[1, 'asc']],
                fixedColumns: {
                    leftColumns: 2
                },
                initComplete: function (settings, json) {
                    $(".zui-wrapper").show();
                    $(".btn-table-fullscreen").css('display', 'table-cell');
                    $(".btn-table-edit").css('display', 'table-cell');
                    $(".loading-table-img").hide();
                },
                autoWidth: false,
                colReorder: {
                    fixedColumnsLeft: 999999,
                },
            });
            t.on('order.dt search.dt', function () {
                t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            $('.word-wrap').each(function (index) {
                var title_text = $.trim($('a', this).text());
                var title_text_splited = title_text.split(' ');
                var needed_len = 20;

                if (title_text_splited.length > 2 && title_text.length > needed_len) {
                    var max_score = $.trim($('span', this).text()).length + 1.5;
                    var line = 0;
                    var word_counter = 0;
                    var true_width = -1;
                    var last_line = 0;
                    for (var i = 0; i < title_text_splited.length; ++i) {
                        var word_length = title_text_splited[i].length + 1;
                        line += word_length;
                        last_line = line;
                        word_counter++;
                        if (line > needed_len) {
                            if (word_counter > 1) {
                                line -= word_length;
                                i--;
                            }

                            true_width = Math.max(true_width, line);
                            line = 0;
                            word_counter = 0;
                        }
                    }
                    last_line = last_line + max_score - 1;
                    $(this).css({
                        'min-width': Math.max(true_width, last_line) + 'ch',
                        'word-wrap': 'break-word',
                        'white-space': 'normal'
                    });
                }
            });
            t.buttons().container().appendTo($(this).closest('.card').find('.card-title-teacher-buttons'));
            t.draw();

        });

        {% if group_gradebook %}
            var table_card = $('.card.card-block.group-table');
            $('html, body').css({
                'overflow': 'hidden',
                'height': '100%'
            });
            $('.dataTables_scrollBody', table_card).css('max-height',
                table_card.height() - $('.table-results thead', table_card).height() - 90 + 'px');
            $($(table_card).attr('for')).DataTable().draw();
        {% endif %}

        $('.btn-table-fullscreen').click(function () {
            $(this).blur();
            var card = $(this).closest('.card.card-block');
            if ($('i', this).hasClass('fa-expand')) {
                $('i', this).removeClass('fa-expand').addClass('fa-compress');
                $(this).data('scroll_pos', $(window).scrollTop());
                card.addClass('item-fullscreen');
                $(window).scrollTop(0);
                $('html, body').css({
                    'overflow': 'hidden',
                    'height': '100%'
                });
                $('.dataTables_scrollBody', card).css('max-height',
                        card.height() - $('.table-results thead', card).height() - 90 + 'px');
                $($(this).attr('for')).DataTable().draw();
            }
            else {
                $('i', this).removeClass('fa-compress').addClass('fa-expand');
                card.removeClass('item-fullscreen');
                $('html, body').css({
                    'overflow': 'auto',
                    'height': 'auto'
                });
                $(window).scrollTop($(this).data('scroll_pos'));
                $('.dataTables_scrollBody', card).css('max-height', table_min_height);
                $($(this).attr('for')).DataTable().draw();
            }
        });

        $('.table-results th a').click(function (e) {
            e.stopPropagation();
        });

        $('.task-mark-value').click(function () {
            if (!$('.task-mark-form').data('is_error')) {
                $(this).hide();

                var mark_form = $(this).closest('td').find('.task-mark-form');
                $(mark_form).find('.form-group').removeClass('has-success has-danger');
                $(mark_form).show();
                $(mark_form).find('[name="mark_value"]').focus().select();
                $(mark_form).data('blur', false);
            }
        });

        jQuery.validator.addMethod("valid_num", function (value, element) {
            if (value == '-')
                return true;
            if (!$.isNumeric(value))
                return false;
            if (value.indexOf('x') !== -1 || value.indexOf('X') !== -1)
                return false;
            value = parseFloat(value);
            var max = parseFloat($(element).siblings('.mark_max').val());
            return value >= 0 && value <= max;
        });

        $('.task-mark-form').each(function () {
            var form = $(this);
            form.find('[name="mark_value"]').blur(function () {
                if (!$(form).data('blur'))
                    form.submit();
            });
            form.validate({
                submitHandler: function (form) {
                    var mark_value = $(form).closest('td').find('.task-mark-value');
                    $.post('{% url courses.views.set_task_mark %}', $(form).serialize(), function (data) {
                        var mark_diff = parseFloat(data.mark) - parseFloat(mark_value.find('span').text());
                        var sum_mark_span = $(form).closest('td').siblings('.sum-score').find('span');
                        var sum_mark = parseFloat(sum_mark_span.text()) + mark_diff;
                        $(sum_mark_span).text(parseFloat(sum_mark.toFixed(5)));
                        $(mark_value).find('span').removeClass('label-default no-issue').text(data.mark).css('background-color', data.color);
                        $(form).hide();
                        $(form).find('[name="mark_value"]').blur();
                        $(form).data('blur', true);
                        $(mark_value).show();
                    });
                },
                rules: {
                    mark_value: {
                        required: true,
                        valid_num: true
                    }
                },

                highlight: function (input) {
                    $('.task-mark-form').data('is_error', true);
                    $(input).closest('.form-group').removeClass('has-success').addClass('has-danger');
                },

                success: function (label) {
                    $('.task-mark-form').data('is_error', false);
                    label.addClass('valid');
                    label.closest('.form-group').removeClass('has-danger').addClass('has-success');
                },

                errorPlacement: function (error, element) {
                    $(element).siblings('span.text-help').empty().append(error);
                }
            });
        });

        $('.mark-value').click(function () {
            $(this).collapse('hide');
            var mark_form = $($(this).closest('td')).find('.mark-form');
            $(mark_form).collapse('show');
        });

        $('.mark-form').on('show.bs.collapse focusout hide.bs.collapse', function () {
            $(this).data('need_hide', false);
        });

        $('.mark-form').dblclick(function () {
            $(this).collapse('hide');
            var mark_value = $($(this).closest('td')).find('.mark-value');
            $(mark_value).collapse('show');
        });

        $('.mark-form').click(function () {
            if ($(this).data('need_hide')) {
                $(this).collapse('hide');
                var mark_value = $($(this).closest('td')).find('.mark-value');
                $(mark_value).collapse('show');
            }
            else {
                $(this).data('need_hide', true);
            }
        });

        $('.mark-form').change(function () {
            var $form = $(this);
            var student_id = $form.closest('td').attr('data-class');
            var $mark_cell = $('td[data-class="' + student_id + '"]');

            $form.collapse('hide');
            $form.closest('td').find('.mark-value').collapse('show');

            $.post('{% url courses.views.set_course_mark %}', $form.serialize(), function (data) {
                $mark_cell.find('.mark-form select').val(data.mark_id);
                $mark_cell.find('.mark-value span').text(data.mark).data('mark-int', data.mark_int);
            });
        });

        var remaining_groups = {};

        $('.btn-table-edit').click(function () {
            var div_group_id = $(this).attr('for');
            var modal_button_ok = $('#modal_table_edit_ok');
            modal_button_ok.data('div_group_id', div_group_id);
            modal_button_ok.data('btn_clicked', false);
            var group = $('.group-sortable');
            $(group).each(function () {
                $('li', this).each(function (i, e) {
                    $(this).attr('data-index', i + 2);
                });
            });

            $("a.task-delete", div_group_id).each(function () {
                if (($(this).data('task_groups').length === $(this).data('task_disabled_groups').length) ||
                        ($(this).data('task_groups').length === $(this).data('task_empty_children_groups').length))
                    $(this).hide();
                else
                    $(this).show();
            });

            $("a.task-seminar-notempty", div_group_id).each(function () {
                if ($(this).data('task_groups').length === $(this).data('task_empty_children_groups').length)
                    $(this).show();
                else
                    $(this).hide();
            });

            remaining_groups = {};
            group.data('deleting_ids', []);
            group.data('deleting_ids_from_groups', {});
            group.data('deleting_id_in_other_groups', {});
            group.data('backup_html', $('ul', $(div_group_id)).html());
            group.data('changed', false);
            $(div_group_id).show();
        });

        $('.group-sortable').sortable({
            placeholder: 'ui-state-highlight',
            cursor: '-webkit-grabbing',
            axis: "y",
            delay: 150,
            activate: function (event, ui) {
                $('.ui-state-highlight').css('height', $(ui.helper).height());
            },
            change: function (event, ui) {
                $('.group-sortable').data('changed', true);
            }
        }).disableSelection();

        $('[data-toggle="popover-help"]').popover({
            trigger: 'hover',
            template: '<div class="popover" role="tooltip">' +
            '<div class="popover-arrow"></div>' +
            '<div class="popover-content"></div>' +
            '</div>'
        });

        var popover_opts = {
            trigger: 'manual',
            html: true,
            content: function () {
                var group_ul = '';
                var groups = $(this).data('task_groups');
                var not_selected = remaining_groups[$(this).data('name')];

                for (var i = 0; i < groups.length; ++i) {
                    var is_checked = '';
                    if (not_selected) {
                        if (not_selected.indexOf(groups[i]) == -1)
                            is_checked = 'checked';
                    }

                    var is_disabled = '';
                    if ($(this).data('task_disabled_groups').indexOf(groups[i]) > -1 ||
                        $(this).data('task_empty_children_groups').indexOf(groups[i]) > -1)
                        is_disabled = 'disabled';

                    group_ul += '<li><label class="checkbox ' + is_disabled + '"><input type="checkbox" name="task_group[]" value="' + groups[i] + '" ' +
                            is_checked + ' ' + is_disabled + '> ' + $('#group_sort_' + groups[i]).find('p.modal-group-name').text() +
                            '</label></li>';
                }
                return '<form action""><ul>' + group_ul + '</ul></form>';
            },
            title: "{% trans 'udalit_zadachu_iz_grupp' %}",
            template: '<div class="popover" role="tooltip">' +
            '<div class="popover-arrow"></div>' +
            '<h3 class="popover-title"></h3>' +
            '<div class="popover-content"></div>' +
            '<div class="popover-footer">' +
            '<button class="btn btn-secondary" type="button" data-dismiss="popover"><i class="fa fa-times"></i></button>' +
            '<button class="btn btn-danger task-delete-groups" type="button"><i class="fa fa-trash-o"></i></button>' +
            '</div>' +
            '</div>'
        };

        $('[data-toggle="popover"]').on('shown.bs.popover', function () {
            $('[data-toggle="popover"]:not([aria-describedby=' + $(this).attr('aria-describedby') + '])').popover('hide');
        });

        $(document).click(function () {
            $('[data-toggle="popover"]').popover('hide');
        });

        $('body').on("click", '.task-delete', function (e) {
            e.stopPropagation();
            $(this).popover(popover_opts).popover('show');
        }).on('click', 'button[data-dismiss="popover"]', function () {
            $('[data-toggle="popover"]').popover('hide');
        }).on('click', 'div.popover', function (e) {
            e.stopPropagation();

        }).on("click", '.task-delete-groups', function () {
            var task_delete_btn = $('[aria-describedby=' + $(this).closest('.popover').prop('id') + ']');
            var deleted_groups_ids = [];
            var remaining_groups_ids = [];
            $(this).closest('.popover').find('input').each(function (x) {
                if ($(this).is(':checked') && $(this).is(':not(:disabled)'))
                    deleted_groups_ids = deleted_groups_ids.concat(parseInt($(this).val(), 10));
                else
                    remaining_groups_ids = remaining_groups_ids.concat(parseInt($(this).val(), 10));
            });

            var confirmed_delete = true;
            if (remaining_groups_ids.length == 0)
                if (!confirm('{% trans "uvereny_cho_hotite_udalit?" %}'))
                    confirmed_delete = false;
            if (confirmed_delete) {
                var group = $('.group-sortable');
                var li = task_delete_btn.closest('li');
                var current_group_id = task_delete_btn.closest('div').prop('id').split('_');
                current_group_id = parseInt(current_group_id[current_group_id.length - 1], 10);

                remaining_groups[task_delete_btn.data('name')] = remaining_groups_ids.slice();

                if (remaining_groups_ids.length == 0)
                    group.data('deleting_ids', group.data('deleting_ids').concat(li.val()));
                else {
                    var deleting_ids_from_groups = group.data('deleting_ids_from_groups');
                    if (li.val() in deleting_ids_from_groups)
                        deleting_ids_from_groups[li.val()] = deleting_ids_from_groups[li.val()].concat(deleted_groups_ids);
                    else
                        deleting_ids_from_groups[li.val()] = deleted_groups_ids;
                    group.data('deleting_ids_from_groups', deleting_ids_from_groups);
                }

                if (deleted_groups_ids.indexOf(current_group_id) > -1) {
                    li.addClass('ui-state-delete');
                }
                else {
                    li.removeClass('ui-state-delete');
                }

                for (var i = 0; i < deleted_groups_ids.length; ++i) {
                    var deleting_id_in_other_groups = group.data('deleting_id_in_other_groups');
                    var name_group = 'group_sort_' + deleted_groups_ids[i];
                    if (name_group in deleting_id_in_other_groups)
                        deleting_id_in_other_groups[name_group] = deleting_id_in_other_groups[name_group].concat(li.val());
                    else
                        deleting_id_in_other_groups[name_group] = [li.val()];
                }
                group.data('deleting_id_in_other_groups', deleting_id_in_other_groups);

            }
            $('[data-toggle="popover"]').popover('hide');
        });

        $('#modal_table_edit').on('hide.bs.modal', function (e) {
            $('[data-toggle="popover"]').popover('hide');

            var group = $('.group-sortable');
            var modal_button_ok = $('#modal_table_edit_ok');
            var div_group_id = $(modal_button_ok.data('div_group_id'));
            if ((group.data('changed') || !$.isEmptyObject(group.data('deleting_id_in_other_groups'))) && !modal_button_ok.data('btn_clicked'))
                if (confirm('{% trans "sohranit_izmenenija" %}?')) {
                    modal_button_ok.click();
                }
                else {
                    $('ul', div_group_id).html(group.data('backup_html'));
                }
            $(modal_button_ok.data('div_group_id')).hide();
        });

        $('#modal_table_edit_ok').click(function () {
            var group = $('.group-sortable');
            if (!(group.data('changed') || !$.isEmptyObject(group.data('deleting_id_in_other_groups'))))
                return;

            var modal_button_ok = $('#modal_table_edit_ok');
            var d = 'disabled';

            modal_button_ok.data('btn_clicked', true);
            modal_button_ok.data('resetText', modal_button_ok.html());
            modal_button_ok.html(modal_button_ok.data('loadingText'));
            modal_button_ok.addClass(d).attr(d, d).prop(d, true);

            setTimeout($.proxy(function () {
                var modal_button_ok = $('#modal_table_edit_ok');
                var div_group_id = $(modal_button_ok.data('div_group_id'));

                $.post('{% url courses.views.change_table_tasks_pos %}',
                        {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'course_id': {{ course.id }},
                            'group_id': div_group_id.data('group'),
                            'task_order': group.data('changed') ? $('ul', div_group_id).sortable("toArray", {attribute: "value"}) : [],
                            'task_deleted': group.data('deleting_ids'),
                            'deleting_ids_from_groups': JSON.stringify(group.data('deleting_ids_from_groups'))
                        })
                        .done(function (msg) {
                            var other_groups = group.data('deleting_id_in_other_groups');
                            var other_groups_keys = Object.keys(other_groups);

                            if (group.data('changed') && other_groups_keys.indexOf(modal_button_ok.data('div_group_id').split('#')[1]) === -1) {
                                change_table_column_order(div_group_id, []);
                            }

                            for (var i = 0; i < other_groups_keys.length; ++i) {
                                var div = $('#' + other_groups_keys[i]);
                                var deleting_index = $.map(other_groups[other_groups_keys[i]],
                                        function (value) {
                                            var li = $('li[value=' + value + ']', div);
                                            var index = li.data('index');
                                            li.remove();
                                            return index;
                                        });
                                change_table_column_order(div, deleting_index);
                            }

                            var remaining_groups_keys = Object.keys(remaining_groups);

                            for (i = 0; i < remaining_groups_keys.length; ++i) {
                                var delete_btn = $('a[data-name="' + remaining_groups_keys[i] + '"]');
                                delete_btn.data('task_groups', remaining_groups[remaining_groups_keys[i]]);
                            }

                            modal_button_ok.closest('.modal').modal('hide');
                            modal_button_ok.html(modal_button_ok.data('resetText'));
                            modal_button_ok.removeClass(d).removeAttr(d).prop(d, false)

                        });
            }, modal_button_ok), 0);
        });
    });

    function isInt(x) {
        var y = parseInt(x);
        if (isNaN(y)) {
            return false;
        }
        return x == y && x.toString() == y.toString();
    }

    function get_modal_comment(comments) {
        $('#modal_comment_body').html(comments);
        $('#modal_comment').modal('show');
    }

    function get_task_modal(task_id, task_title, task_text_to_show, deadline) {
        $('#modal_header_task_descr').html(task_title);
        $('#modal_body_task_descr').html(task_text_to_show);

        var codesample = $('pre[class*="language-"]', '#modal_body_task_descr')[0];
        if (codesample)
            Prism.highlightElement(codesample);

        if (deadline != '') {
            $('#modal_header_deadline_time').html('<strong>{% trans "data_sdachi" %}: ' + deadline + ' MSK UTC+3</strong>');
        }
        else {
            $('#modal_header_deadline_time').empty();
        }
        $('#modal_task_desc_edit').hide();
        $('#modal_task_descr_edit_button').attr("href", "/task/edit/" + task_id);
        $('#modal_task_description').modal('show');
    }

    function get_edit_course_modal(course_id, course_desc) {
        $('#course_info_edit').val(course_desc);

        var href_string = "javascript:edit_course_info(" + course_id + ");";
        $('#modal_course_info_ok').attr('href', href_string);

        $('#modal_course_information').modal('show');
    }

    function edit_course_info(course_id, group_id, parent_id) {
        var course_info = $('#course_info_edit').val();

        var csrf_token = "{{ csrf_token }}";

        $("#modal_course_info_ok").button('loading');
        $.post('{% url courses.views.edit_course_information %}',
                {'course_id': course_id, 'course_information': course_info, 'csrfmiddlewaretoken': csrf_token,},
                function (data) {
                    window.location.reload();
                });
    }

    function set_spectial_course_attend(course_id, action) {

        $.post('{% url courses.views.set_spectial_course_attend %}',
                {'course_id': course_id, 'action': action, 'csrfmiddlewaretoken': csrf_token,},
                function (data) {
                    window.location.reload();
                });

    }

    function change_visibility_hidden_tasks(course_id) {
        $.post('{% url courses.views.change_visibility_hidden_tasks %}',
                {'course_id': course_id, 'csrfmiddlewaretoken': "{{ csrf_token }}"},
                function (data) {
                    window.location.reload();
                });

    }

    function change_table_column_order(div_group_id, deleting_tasks) {
        div_group_id = $(div_group_id);
        if (div_group_id.data('deleted') === undefined)
            div_group_id.data('deleted', []);
        var new_order = $.map($('ul', div_group_id).sortable("toArray", {attribute: "data-index"}),
                function (value) {
                    return parseInt(value, 10);
                });
        var prefix_cols = [0, 1];
        var task_count = new_order.length;

        new_order = prefix_cols.concat(new_order).concat(deleting_tasks).concat(div_group_id.data('deleted'));

        var postfix_cols = [new_order.length];
        if (div_group_id.data('marksystem'))
            postfix_cols = postfix_cols.concat(new_order.length + 1);

        new_order = new_order.concat(postfix_cols);

        var table = $(div_group_id.data('table')).DataTable();
        table.columns(deleting_tasks).visible(false);
        table.colReorder.order(new_order);

        var deleted = [];
        for (var i = 0; i < deleting_tasks.length; ++i)
            deleted = deleted.concat([task_count + prefix_cols.length + i]);
        div_group_id.data('deleted', deleted.concat(div_group_id.data('deleted')));
    }
</script>
