<script src="{{ STATIC_URL }}jquery.validate.min.js"></script>
<script src="http://malsup.github.io/jquery.form.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.3/jquery.sticky.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/colreorder/1.3.2/js/dataTables.colReorder.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" src="https://fastcdn.org/Readmore.js/2.1.0/readmore.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap4.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/colreorder/1.3.2/css/colReorder.bootstrap4.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.bootstrap4.min.css"/>

<script type="text/javascript">
    $.fn.dataTable.ext.order['dom-number'] = function  ( settings, col )
    {
        return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
            return $('span', td).hasClass('no-issue') ? -1 : $('span', td).text() * 1.0;
        } );
    };

    $.fn.dataTable.ext.order['dom-select-text'] = function  ( settings, col )
    {
        return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
            return $('select option:selected', td).text();
        } );
    };

    $.fn.dataTable.ext.type.search.selectText = function ( data ) {
        return !data ? '' : $('select option:selected', $(data)).text()
    };

    $(document).ready(function() {

        $('#course-information').readmore({
            speed: 200,
            collapsedHeight: 100,
            moreLink: '<small><a href="#">Развернуть <i class="fa fa-chevron-down"></a></small>',
            lessLink: '<small><a href="#">Свернуть <i class="fa fa-chevron-up"></a></small>'
        }).show();

        $("#btn_group_edit_course").sticky({
            topSpacing: $('.navbar').outerHeight()
        });
        $("#btn_group_edit_course").on('sticky-start', function() {
            $("#btn_group_edit_course").css('background-color', '#fff');
        });
        $("#btn_group_edit_course").on('sticky-end', function() {
            $("#btn_group_edit_course").css('background-color', '#e5e5e5');
        });

        var table_min_height = '30vh';
        $(".table_results").each(function (i) {
            var t = $(this).DataTable( {
                scrollY: table_min_height,
                scrollX: true,
                scrollCollapse: true,
                paging: false,
                language: {
                    "decimal":        "",
                    "emptyTable":     "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Пустая таблица",
                    "info":           "_TOTAL_ студента(ов)",
                    "infoEmpty":      "0 студентов",
                    "infoFiltered":   "(из _MAX_)",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "Показать _MENU_ студентов",
                    "loadingRecords": "Загрузка...",
                    "processing":     "Вычисление...",
                    "search":         "Поиск:",
                    "zeroRecords":    "Ничего не найдено",
                    "paginate": {
                        "first":      "Первая",
                        "last":       "Последняя",
                        "next":       "Вперед",
                        "previous":   "Назад"
                    },
                    "aria": {
                        "sortAscending":  ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                },
                deferRender: true,
                columnDefs: [
                    {
                        "targets": 0,
                        "searchable": false,
                        "orderable": false
                    },
                    {
                        "targets": "dom-number",
                        "orderDataType": "dom-number",
                    },
                    {
                        "targets": "dom-select-text",
                        "orderDataType": "dom-select-text",
                        "type": "selectText",
                    },
                ],
                order: [[ 1, 'asc' ]],
                fixedColumns:   {
                    leftColumns: 2
                },
                initComplete: function( settings, json ) {
                    $(".zui-wrapper").show();
                    $(".btn-table-fullscreen").css('display', 'table-cell');
                    $(".btn-table-edit").css('display', 'table-cell');
                    $(".loading_table_img").hide();
                },
                autoWidth: false,
                colReorder: {
                    fixedColumnsLeft: 999999,
                },
            });
            t.on( 'order.dt search.dt', function () {
                t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();

            $('.word-wrap').each(function (index) {
                var title_text = $.trim($('a', this).text());
                var title_text_splited = title_text.split(' ');
                var needed_len = 20;

                if (title_text_splited.length > 2 && title_text.length > needed_len) {
                    var max_score = $.trim($('span', this).text()).length + 1.5;
                    var line = 0;
                    var word_counter = 0;
                    var true_width = -1;
                    var last_line = 0;
                    for (var i = 0; i < title_text_splited.length; ++i) {
                        var word_length = title_text_splited[i].length + 1;
                        line += word_length;
                        last_line = line;
                        word_counter++;
                        if (line > needed_len) {
                            if (word_counter > 1) {
                                line -= word_length;
                                i--;
                            }

                            true_width = Math.max(true_width, line);
                            line = 0;
                            word_counter = 0;
                        }
                    }
                    last_line = last_line + max_score - 1;
                    $(this).css({
                        'min-width': Math.max(true_width, last_line)  + 'ch',
                        'word-wrap': 'break-word',
                        'white-space': 'normal'
                    });
                }
            });
            t.draw();

        });

        $('.btn-table-fullscreen').click(function() {
            $(this).blur();
            var card = $(this).closest('.card.card-block');
            if ($('i', this).hasClass('fa-expand')) {
                $('i', this).removeClass('fa-expand').addClass('fa-compress');
                $(this).data('scroll_pos', $(window).scrollTop());
                card.addClass('item-fullscreen');
                $(window).scrollTop(0);
                $('html, body').css({
                    'overflow': 'hidden',
                    'height': '100%'
                });
                $('.dataTables_scrollBody',  card).css('max-height',
                        card.height() - $('.table_results thead', card).height() - 90 + 'px');
                $($(this).attr('for')).DataTable().draw();
            }
            else {
                $('i', this).removeClass('fa-compress').addClass('fa-expand');
                card.removeClass('item-fullscreen');
                $('html, body').css({
                    'overflow': 'auto',
                    'height': 'auto'
                });
                $(window).scrollTop($(this).data('scroll_pos'));
                $('.dataTables_scrollBody',  card).css('max-height', table_min_height);
                $($(this).attr('for')).DataTable().draw();
            }
        });

        $('.table_results th a').click(function (e) {
            e.stopPropagation();
        });

        $('.task-mark-value').click(function() {
            if (!$('.task-mark-form').data('is_error')) {
                $(this).hide();

                var mark_form = $(this).closest('td').find('.task-mark-form');
                $(mark_form).find('.form-group').removeClass('has-success has-danger');
                $(mark_form).show();
                $(mark_form).find('[name="mark_value"]').focus().select();
                $(mark_form).data('blur', false);
            }
        });

        jQuery.validator.addMethod("valid_num", function(value, element) {
            if (value == '-')
                return true;
            if (!$.isNumeric(value))
                return false;
            if (value.indexOf('x') !== -1 || value.indexOf('X') !== -1)
                return false;
            value = parseFloat(value);
            var max = parseFloat($(element).siblings('.mark_max').val());
            return value >= 0 && value <= max;
        });

        $('.task-mark-form').each( function(){
            var form = $(this);
            form.find('[name="mark_value"]').blur(function() {
                if (!$(form).data('blur'))
                    form.submit();
            });
            form.validate({
                submitHandler: function(form) {
                    var mark_value = $(form).closest('td').find('.task-mark-value');
                    $.post('{% url courses.views.set_task_mark %}', $(form).serialize(), function(data){
                        var mark_diff = parseFloat(data.mark) - parseFloat(mark_value.find('span').text());
                        var sum_mark_span = $(form).closest('td').siblings('.sum-score').find('span');
                        var sum_mark = parseFloat(sum_mark_span.text()) + mark_diff;
                        $(sum_mark_span).text(sum_mark.toFixed(1));
                        $(mark_value).find('span').removeClass('label-default no-issue').text(data.mark).css('background-color', data.color);
                        $(form).hide();
                        $(form).find('[name="mark_value"]').blur();
                        $(form).data('blur', true);
                        $(mark_value).show();
                    });
                },
                rules: {
                    mark_value: {
                        required : true,
                        valid_num: true
                    }
                },

                highlight: function(input) {
                    $('.task-mark-form').data('is_error', true);
                    $(input).closest('.form-group').removeClass('has-success').addClass('has-danger');
                },

                success: function(label) {
                    $('.task-mark-form').data('is_error', false);
                    label.addClass('valid');
                    label.closest('.form-group').removeClass('has-danger').addClass('has-success');
                },

                errorPlacement: function(error, element) {
                    $(element).siblings('span.text-help').empty().append(error);
                }
            });
        });

        $('.mark-value').click(function() {
            $(this).collapse('hide');
            var mark_form = $($(this).closest('td')).find('.mark-form');
            $(mark_form).collapse('show');
        });

        $('.mark-form').on('show.bs.collapse focusout hide.bs.collapse', function () {
            $(this).data('need_hide', false);
        });

        $('.mark-form').dblclick(function() {
            $(this).collapse('hide');
            var mark_value = $($(this).closest('td')).find('.mark-value');
            $(mark_value).collapse('show');
        });

        $('.mark-form').click(function() {
            if ($(this).data('need_hide')) {
                $(this).collapse('hide');
                var mark_value = $($(this).closest('td')).find('.mark-value');
                $(mark_value).collapse('show');
            }
            else {
                $(this).data('need_hide', true);
            }
        });

        $('.mark-form').change(function() {
            $(this).collapse('hide');
            var mark_value = $($(this).closest('td')).find('.mark-value');
            $(mark_value).collapse('show');
            $.post('{% url courses.views.set_course_mark %}', $(this).serialize(), function(data){
                $($(mark_value).find('span')).text(data.mark);
            });
        });

        var remaining_groups = {};

        $('.btn-table-edit').click(function () {
            var div_group_id = $(this).attr('for');
            var modal_button_ok = $('#modal_table_edit_ok');
            modal_button_ok.data('div_group_id', div_group_id);
            modal_button_ok.data('btn_clicked', false);
            var group = $('.group-sortable');
            $(group).each(function () {
                $('li', this).each(function (i, e) {
                    $(this).attr('data-index', i + 2);
                });
            });
            remaining_groups = {};
            group.data('deleting_ids', []);
            group.data('deleting_ids_from_groups', {});
            group.data('deleting_id_in_other_groups', {});
            group.data('backup_html', $('ul', $(div_group_id)).html());
            group.data('changed', false);
            $(div_group_id).show();
        });

        $('.group-sortable').sortable({
            placeholder: 'ui-state-highlight',
            cursor: '-webkit-grabbing',
            axis: "y",
            delay: 150,
            activate: function( event, ui ) {
                $('.ui-state-highlight').css('height', $(ui.helper).height());
            },
            change: function( event, ui ) {
                $('.group-sortable').data('changed', true);
            }
        }).disableSelection();

        var popover_opts = {
            trigger: 'manual',
            html: true,
            content: function () {
                var group_ul = '';
                var groups = $(this).data('task_groups');
                var not_selected = remaining_groups[$(this).data('name')];

                for (var i = 0; i < groups.length; ++i) {
                    var is_checked = '';
                    if (not_selected) {
                        if (not_selected.indexOf(groups[i]) == -1)
                            is_checked = 'checked';
                    }

                    var is_disabled = '';
                    if ($(this).data('task_disabled_groups').indexOf(groups[i]) > -1)
                            is_disabled = 'disabled';

                    group_ul += '<li><label class="checkbox '+ is_disabled + '"><input type="checkbox" name="task_group[]" value="' + groups[i] + '" ' +
                            is_checked + ' ' + is_disabled + '> ' + $('#group_sort_' + groups[i]).find('p.modal-group-name').text() +
                            '</label></li>';
                }
                return '<form action""><ul>' + group_ul + '</ul></form>';
            },
            title: "Удалить задачу из следующих групп?",
            template: '<div class="popover" role="tooltip">' +
            '<div class="popover-arrow"></div>' +
            '<h3 class="popover-title"></h3>' +
            '<div class="popover-content"></div>' +
            '<div class="popover-footer">' +
            '<button class="btn btn-secondary" type="button" data-dismiss="popover"><i class="fa fa-times"></i></button>' +
            '<button class="btn btn-danger task-delete-groups" type="button"><i class="fa fa-trash-o"></i></button>' +
            '</div>' +
            '</div>'
        };

        $('[data-toggle="popover"]').on('shown.bs.popover', function () {
            $('[data-toggle="popover"]:not([aria-describedby=' + $(this).attr('aria-describedby') + '])').popover('hide');
        });

        $(document).click(function() {
            $('[data-toggle="popover"]').popover('hide');
        });

        $('body').on("click", '.task-delete', function(e) {
            e.stopPropagation();
            $(this).popover(popover_opts).popover('show');
        }).on('click', 'button[data-dismiss="popover"]', function () {
            $('[data-toggle="popover"]').popover('hide');
        }).on('click', 'div.popover', function (e) {
            e.stopPropagation();

        }).on("click", '.task-delete-groups', function() {
            var task_delete_btn = $('[aria-describedby=' + $(this).closest('.popover').prop('id') + ']');
            var deleted_groups_ids = [];
            var remaining_groups_ids = [];
            $(this).closest('.popover').find('input').each(function(x) {
                if ($(this).is(':checked') && $(this).is(':not(:disabled)'))
                    deleted_groups_ids = deleted_groups_ids.concat(parseInt($(this).val(), 10));
                else
                    remaining_groups_ids = remaining_groups_ids.concat(parseInt($(this).val(), 10));
            });

            var confirmed_delete = true;
            if (remaining_groups_ids.length == 0)
                if (!confirm('Удаленную задачу невозможно восстановить. Вы уверены, что хотить удалить?'))
                    confirmed_delete = false;
            if (confirmed_delete) {
                var group = $('.group-sortable');
                var li = task_delete_btn.closest('li');
                var current_group_id = task_delete_btn.closest('div').prop('id').split('_');
                current_group_id = parseInt(current_group_id[current_group_id.length-1], 10);

                remaining_groups[task_delete_btn.data('name')] = remaining_groups_ids.slice();

                if (remaining_groups_ids.length == 0)
                    group.data('deleting_ids', group.data('deleting_ids').concat(li.val()));
                else {
                    var deleting_ids_from_groups = group.data('deleting_ids_from_groups');
                    if (li.val() in deleting_ids_from_groups)
                        deleting_ids_from_groups[li.val()] = deleting_ids_from_groups[li.val()].concat(deleted_groups_ids);
                    else
                        deleting_ids_from_groups[li.val()] = deleted_groups_ids;
                    group.data('deleting_ids_from_groups', deleting_ids_from_groups);
                }

                if (deleted_groups_ids.indexOf(current_group_id) > -1) {
                    li.addClass('ui-state-delete');
                }
                else {
                    li.removeClass('ui-state-delete');
                }

                for (var i = 0; i < deleted_groups_ids.length; ++i) {
                    var deleting_id_in_other_groups = group.data('deleting_id_in_other_groups');
                    var name_group = 'group_sort_' + deleted_groups_ids[i];
                    if (name_group in deleting_id_in_other_groups)
                        deleting_id_in_other_groups[name_group] = deleting_id_in_other_groups[name_group].concat(li.val());
                    else
                        deleting_id_in_other_groups[name_group] = [li.val()];
                }
                group.data('deleting_id_in_other_groups', deleting_id_in_other_groups);

            }
            $('[data-toggle="popover"]').popover('hide');
        });

        $('#modal_table_edit').on('hide.bs.modal', function (e) {
            $('[data-toggle="popover"]').popover('hide');

            var group = $('.group-sortable');
            var modal_button_ok = $('#modal_table_edit_ok');
            var div_group_id = $(modal_button_ok.data('div_group_id'));
            if ((group.data('changed') || !$.isEmptyObject(group.data('deleting_id_in_other_groups'))) && !modal_button_ok.data('btn_clicked'))
                if (confirm('Сохранить изменения?')) {
                    modal_button_ok.click();
                }
                else {
                    $('ul', div_group_id).html(group.data('backup_html'));
                }
            $(modal_button_ok.data('div_group_id')).hide();
        });

        $('#modal_table_edit_ok').click(function () {
            var group = $('.group-sortable');
            if (!(group.data('changed') || !$.isEmptyObject(group.data('deleting_id_in_other_groups'))))
                return;

            var modal_button_ok = $('#modal_table_edit_ok');
            var d = 'disabled';

            modal_button_ok.data('btn_clicked', true);
            modal_button_ok.data('resetText', modal_button_ok.html());
            modal_button_ok.html(modal_button_ok.data('loadingText'));
            modal_button_ok.addClass(d).attr(d, d).prop(d, true);

            setTimeout($.proxy(function () {
                var modal_button_ok = $('#modal_table_edit_ok');
                var div_group_id = $(modal_button_ok.data('div_group_id'));

                $.post('{% url courses.views.change_table_tasks_pos %}',
                        {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'course_id': {{ course.id }},
                            'group_id': div_group_id.data('group'),
                            'task_order': group.data('changed') ? $('ul', div_group_id).sortable("toArray", {attribute: "value"}) : [],
                            'task_deleted': group.data('deleting_ids'),
                            'deleting_ids_from_groups': JSON.stringify(group.data('deleting_ids_from_groups'))
                        })
                        .done(function (msg) {
                            var other_groups = group.data('deleting_id_in_other_groups');
                            var other_groups_keys = Object.keys(other_groups);

                            if (group.data('changed') && other_groups_keys.indexOf(modal_button_ok.data('div_group_id').split('#')[1]) === -1) {
                                change_table_column_order(div_group_id, []);
                            }

                            for (var i = 0; i < other_groups_keys.length; ++i) {
                                var div = $('#' + other_groups_keys[i]);
                                var deleting_index = $.map(other_groups[other_groups_keys[i]],
                                        function (value) {
                                            var li = $('li[value=' + value + ']', div);
                                            var index = li.data('index');
                                            li.remove();
                                            return index;
                                        });
                                change_table_column_order(div, deleting_index);
                            }

                            var remaining_groups_keys = Object.keys(remaining_groups);

                            for (i = 0; i < remaining_groups_keys.length; ++i) {
                                var delete_btn = $('a[data-name="' + remaining_groups_keys[i] + '"]');
                                delete_btn.data('task_groups', remaining_groups[remaining_groups_keys[i]]);
                            }

                            modal_button_ok.closest('.modal').modal('hide');
                            modal_button_ok.html(modal_button_ok.data('resetText'));
                            modal_button_ok.removeClass(d).removeAttr(d).prop(d, false)

                        });
            }, modal_button_ok), 0);
        });
    });

    function isInt(x)
    {
        var y = parseInt(x);
        if (isNaN(y))
        {
            return false;
        }
        return x==y && x.toString()==y.toString();
    }

    function get_modal_comment(comments)
    {
        $('#modal_comment_body').html(comments);
        $('#modal_comment').modal('show');
    }

    function get_task_modal(task_id, task_title, task_text_to_show, deadline)
    {
        $('#modal_header_task_descr').html(task_title);
        $('#modal_body_task_descr').html(task_text_to_show);
        if (deadline != ''){
            $('#modal_header_deadline_time').html('<strong>Дата сдачи: ' + deadline + ' MSK UTC+3</strong>');
        }
        else {
            $('#modal_header_deadline_time').empty();
        }
        $('#modal_task_desc_edit').hide();
        $('#modal_task_descr_edit_button').attr("href", "/task/edit/" + task_id);
        $('#modal_task_description').modal('show');
    }

    function get_edit_course_modal(course_id, course_desc)
    {
        $('#course_information').val(course_desc);

        var href_string = "javascript:edit_course_info(" + course_id + ");";
        $('#modal_course_info_ok').attr('href', href_string);

        $('#modal_course_information').modal('show');
    }

    function edit_course_info(course_id, group_id, parent_id)
    {
        var course_info = $('#course_information').val();

        var csrf_token = "{{ csrf_token }}";

        $("#modal_course_info_ok").button('loading');
        $.post('{% url courses.views.edit_course_information %}',
                { 'course_id' : course_id, 'course_information' : course_info, 'csrfmiddlewaretoken' : csrf_token, },
                function (data) {
                    window.location.reload();
                });
    }

    function set_spectial_course_attend(course_id, action)
    {

        $.post('{% url courses.views.set_spectial_course_attend %}',
                { 'course_id' : course_id, 'action' : action, 'csrfmiddlewaretoken' : csrf_token, },
                function (data) {
                    window.location.reload();
                });

    }

    function change_visibility_hidden_tasks(course_id)
    {
        $.post('{% url courses.views.change_visibility_hidden_tasks %}',
                { 'course_id' : course_id, 'csrfmiddlewaretoken' : "{{ csrf_token }}" },
                function (data) {
                    window.location.reload();
                });

    }

    function change_table_column_order(div_group_id, deleting_tasks) {
        div_group_id = $(div_group_id);
        if (div_group_id.data('deleted') === undefined)
            div_group_id.data('deleted', []);
        var new_order = $.map($('ul', div_group_id).sortable("toArray", {attribute: "data-index"}),
                function (value) {
                    return parseInt(value, 10);
                });
        var prefix_cols = [0, 1];
        var task_count = new_order.length;

        new_order = prefix_cols.concat(new_order).concat(deleting_tasks).concat(div_group_id.data('deleted'));

        var postfix_cols = [new_order.length];
        if (div_group_id.data('marksystem'))
            postfix_cols = postfix_cols.concat(new_order.length + 1);

        new_order = new_order.concat(postfix_cols);

        var table = $(div_group_id.data('table')).DataTable();
        table.columns(deleting_tasks).visible(false);
        table.colReorder.order(new_order);

        var deleted = [];
        for (var i = 0; i < deleting_tasks.length; ++i)
            deleted = deleted.concat([task_count + prefix_cols.length + i]);
        div_group_id.data('deleted', deleted.concat(div_group_id.data('deleted')));
    }
</script>
