{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% load sanitize_html icon %}
{% load dict_func %}
{% load task_taken_func %}

{% block title %}{{ course.name }} | {{ course.year }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if school %}
        {% breadcrumb school.name school.get_absolute_url %}
    {% endif %}
    {% breadcrumb course.name "" %}
{% endblock breadcrumbs %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="">Список задач</a>
        </li>
        {% if visible_queue %}
            <li class="nav-item">
                <a class="nav-link" href="{{ course.get_absolute_url }}/queue">Очередь на проверку</a>
            </li>
        {% endif %}
        {% if user_is_teacher %}
            <li class="nav-item">
                <a class="nav-link" href="{% url courses.views.course_settings course.id %}">Настройки</a>
            </li>
        {% endif %}
    </ul>
{% endblock navbar %}

{% block content %}
    {{ block.super }}

    <style>
        .sticky-wrapper {
            margin-left: -1.25rem;
            margin-right: -1.25rem;
        }
        #btn_group_edit_course .btn {
            margin: 2px auto;
        }
    </style>

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="card card-block">
                <h5 class="card-title">{{ course.name }}</h5>

                <p class="card-text" style="border-bottom: 1px solid #e5e5e5;">
                    Преподаватели:
                    {% for teacher in course.get_teachers %}
                        <a href="{% url users.views.profile teacher.username %}">{{ teacher.last_name }} {{ teacher.first_name }}</a>{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </p>

                {% if course.can_edit %}
                    <div  id="btn_group_edit_course" style="z-index: 1; padding: 6px;border:1px solid #e5e5e5;background-color: #e5e5e5" >
                        <a class="btn btn-secondary btn-sm" href="javascript:get_edit_course_modal({{ course.id }}, {% if course.information %} '{{course.information|escapejs}}' {% else %} '' {% endif %});">
                            {% if course.information %}
                                Редактировать информацию о курсе
                            {% else %}
                                Добавить информацию о курсе
                            {% endif %}
                        </a>
                        <div class="btn-group">
                            <a type="button" class="btn btn-secondary btn-sm" href="/task/create/{{ course.id }}">Добавить задачу</a>
                            {% if course.contest_integrated %}
                                <button type="button"
                                        style="height: 1.95rem;"
                                        class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div style="font-size: .875rem;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/task/import/{{ course.id }}" role="button">
                                        Импорт задач из Я.Контеста
                                    </a>
                                    <a class="dropdown-item" href="/task/contest_import/{{ course.id }}">Импорт
                                        соревнования из Я.Контеста</a>
                                </div>
                            {% endif %}
                        </div>
                        {% if visible_hide_button %}
                            <a class="btn btn-secondary btn-sm" href="javascript:change_visibility_hidden_tasks({{ course.id }});" role="button">
                                {% if show_hidden_tasks %}
                                    Не показывать скрытые задачи
                                {% else %}
                                    Показать скрытые задачи
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

                {% if course.information %}
                    <p id="course-information" class="card-text" style="margin-top: 1rem; margin-bottom: 0; display: none;">
                        {{ course.information|sanitize|safe }}
                    </p>
                {% endif %}


                {#    <div class = "breadcrumb_button">#}
                {#        {% if not user_is_teacher and course.can_be_chosen_by_extern%}#}
                {#            {% if user_is_attended_special_course %}#}
                {#                <button type="button" class="btn btn-danger" OnClick="javascript:set_spectial_course_attend({{ course.id }}, 'remove');">#}
                {#                    Отписаться#}
                {#                </button>#}
                {#            {% else %}#}
                {#                <button type="button" class="btn btn-success" OnClick="javascript:set_spectial_course_attend({{ course.id }},'add');">#}
                {#                    Записаться#}
                {#                </button>#}
                {#            {% endif %}#}
                {#            <br>#}
                {#        {% endif %}#}
                {#    </div>#}
            </div>
        </div>
    </div>

    <h5>
        <span class="label label-default">Новый</span>
        <span class="label label-danger">На доработке</span>
        <span class="label label-warning">На проверке</span>
        <span class="label label-success">Зачтено</span>
        <span class="label label-info">Требуется информация</span>
        <span class="label label-inverse">Суммарный балл</span>
    </h5>

    {% include "courses/task.html" %}
    {% include tasklist_template %}
{% endblock content %}
