<script src="{{ STATIC_URL }}jquery.validate.min.js"></script>
<script src="http://malsup.github.io/jquery.form.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap4.min.js"></script>
{#<script type="text/javascript" src="https://cdn.datatables.net/colreorder/1.3.2/js/dataTables.colReorder.min.js"></script>#}
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap4.min.css"/>
{#<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/colreorder/1.3.2/css/colReorder.bootstrap4.min.css"/>#}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.bootstrap4.min.css"/>

<script type="text/javascript">
    $.fn.dataTable.ext.order['dom-number'] = function  ( settings, col )
    {
        return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
            return $('span', td).hasClass('no-issue') ? -1 : $('span', td).text() * 1.0;
        } );
    };

    $.fn.dataTable.ext.order['dom-select-text'] = function  ( settings, col )
    {
        return this.api().column( col, {order:'index'} ).nodes().map( function ( td, i ) {
            return $('select option:selected', td).text();
        } );
    };

    $.fn.dataTable.ext.type.search.selectText = function ( data ) {
        return !data ? '' : $('select option:selected', $(data)).text()
    };

    $(document).ready(function() {
        var table_min_height = '30vh';
        $(".table_results").each(function (i) {
            var t = $(this).DataTable( {
                scrollY: table_min_height,
                scrollX: true,
                scrollCollapse: true,
                paging: false,
                language: {
                    "decimal":        "",
                    "emptyTable":     "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Пустая таблица",
                    "info":           "_TOTAL_ студента(ов)",
                    "infoEmpty":      "0 студентов",
                    "infoFiltered":   "(из _MAX_)",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "Показать _MENU_ студентов",
                    "loadingRecords": "Загрузка...",
                    "processing":     "Вычисление...",
                    "search":         "Поиск:",
                    "zeroRecords":    "Ничего не найдено",
                    "paginate": {
                        "first":      "Первая",
                        "last":       "Последняя",
                        "next":       "Вперед",
                        "previous":   "Назад"
                    },
                    "aria": {
                        "sortAscending":  ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                },
                deferRender: true,
                columnDefs: [
                    {
                        "targets": 0,
                        "searchable": false,
                        "orderable": false
                    },
                    {
                        "targets": "dom-number",
                        "orderDataType": "dom-number",
                    },
                    {
                        "targets": "dom-select-text",
                        "orderDataType": "dom-select-text",
                        "type": "selectText",
                    },
                ],
                order: [[ 1, 'asc' ]],
                fixedColumns:   {
                    leftColumns: 2
                },
                initComplete: function( settings, json ) {
                    $(".zui-wrapper").show();
                    $(".btn-table-fullscreen").css('display', 'inline-block');
                    $(".loading_table_img").hide();
                },
            });
            t.on( 'order.dt search.dt', function () {
                t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();
        });

        $('.btn-table-fullscreen').click(function() {
            var card = $(this).closest('.card.card-block');
            if ($('i', this).hasClass('fa-expand')) {
                $('i', this).removeClass('fa-expand').addClass('fa-compress');
                $(this).data('scroll_pos', $(window).scrollTop());
                card.addClass('item-fullscreen');
                $(window).scrollTop(0);
                $('html, body').css({
                    'overflow': 'hidden',
                    'height': '100%'
                });
                $('.dataTables_scrollBody',  card).css('max-height', card.height() - 130 + 'px');
                $('#' + $(this).attr('for')).DataTable().draw();
            }
            else {
                $('i', this).removeClass('fa-compress').addClass('fa-expand');
                card.removeClass('item-fullscreen');
                $('html, body').css({
                    'overflow': 'auto',
                    'height': 'auto'
                });
                $(window).scrollTop($(this).data('scroll_pos'));
                $('.dataTables_scrollBody',  card).css('max-height', table_min_height);
                $('#' + $(this).attr('for')).DataTable().draw();
            }
        });

        $('.task-mark-value').click(function() {
            if (!$('.task-mark-form').data('is_error')) {
                $(this).hide();

                var mark_form = $(this).closest('td').find('.task-mark-form');
                $(mark_form).find('.form-group').removeClass('has-success has-danger');
                $(mark_form).show();
                $(mark_form).find('[name="mark_value"]').focus().select();
                $(mark_form).data('blur', false);
            }
        });

        jQuery.validator.addMethod("lt_max", function(value, element) {
            var value = parseFloat(value);
            var max = parseFloat($(element).siblings('.mark_max').val());
            return isNaN(value) || value <= max;
        });

        $('.task-mark-form').each( function(){
            var form = $(this);
            form.find('[name="mark_value"]').blur(function() {
                if (!$(form).data('blur'))
                    form.submit();
            });
            form.validate({
                submitHandler: function(form) {
                    var mark_value = $(form).closest('td').find('.task-mark-value');
                    $.post('{% url courses.views.set_task_mark %}', $(form).serialize(), function(data){
                        var mark_diff = parseFloat(data.mark) - parseFloat(mark_value.find('span').text());
                        var sum_mark_span = $(form).closest('td').siblings('.sum-score').find('span');
                        var sum_mark = parseFloat(sum_mark_span.text()) + mark_diff;
                        $(sum_mark_span).text(sum_mark.toFixed(1));
                        $(mark_value).find('span').removeClass('label-default label-danger label-success no-issue').addClass(data.label).text(data.mark);
                        $(form).hide();
                        $(form).find('[name="mark_value"]').blur();
                        $(form).data('blur', true);
                        $(mark_value).show();
                    });
                },
                rules: {
                    mark_value: {
                        required : true,
                        number: true,
                        min: 0,
                        lt_max: true
                    }
                },

                highlight: function(input) {
                    $('.task-mark-form').data('is_error', true);
                    $(input).closest('.form-group').removeClass('has-success').addClass('has-danger');
                },

                success: function(label) {
                    $('.task-mark-form').data('is_error', false);
                    label.addClass('valid');
                    label.closest('.form-group').removeClass('has-danger').addClass('has-success');
                },

                errorPlacement: function(error, element) {
                    $(element).siblings('span.text-help').empty().append(error);
                }
            });
        });

        $('.mark-value').click(function() {
            $(this).collapse('hide');
            var mark_form = $($(this).closest('td')).find('.mark-form');
            $(mark_form).collapse('show');
        });

        $('.mark-form').on('show.bs.collapse focusout hide.bs.collapse', function () {
            $(this).data('need_hide', false);
        });

        $('.mark-form').dblclick(function() {
            $(this).collapse('hide');
            var mark_value = $($(this).closest('td')).find('.mark-value');
            $(mark_value).collapse('show');
        });

        $('.mark-form').click(function() {
            if ($(this).data('need_hide')) {
                $(this).collapse('hide');
                var mark_value = $($(this).closest('td')).find('.mark-value');
                $(mark_value).collapse('show');
            }
            else {
                $(this).data('need_hide', true);
            }
        });

        $('.mark-form').change(function() {
            $(this).collapse('hide');
            var mark_value = $($(this).closest('td')).find('.mark-value');
            $(mark_value).collapse('show');
            $.post('{% url courses.views.set_course_mark %}', $(this).serialize(), function(data){
                $($(mark_value).find('span')).text(data.mark);
            });
        });
    });

    function isInt(x)
    {
        var y = parseInt(x);
        if (isNaN(y))
        {
            return false;
        }
        return x==y && x.toString()==y.toString();
    }

    function get_modal_comment(comments)
    {
        $('#modal_comment_body').html(comments);
        $('#modal_comment').modal('show');
    }

    function get_task_modal(task_id, task_title, task_text_to_show, deadline)
    {
        $('#modal_header_task_descr').html(task_title);
        $('#modal_body_task_descr').html(task_text_to_show);
        if (deadline != ''){
            $('#modal_header_deadline_time').html('<strong>Дата сдачи: ' + deadline + ' MSK UTC+3</strong>');
        }
        else {
            $('#modal_header_deadline_time').empty();
        }
        $('#modal_task_desc_edit').hide();
        $('#modal_task_descr_edit_button').attr("href", "/task/edit/" + task_id);
        $('#modal_task_description').modal('show');
    }

    function get_edit_course_modal(course_id, course_desc)
    {
        $('#course_information').val(course_desc);

        var href_string = "javascript:edit_course_info(" + course_id + ");";
        $('#modal_course_info_ok').attr('href', href_string);

        $('#modal_course_information').modal('show');
    }

    function edit_course_info(course_id, group_id, parent_id)
    {
        var course_info = $('#course_information').val();

        var csrf_token = "{{ csrf_token }}";

        $("#modal_course_info_ok").button('loading');
        $.post('{% url courses.views.edit_course_information %}',
                { 'course_id' : course_id, 'course_information' : course_info, 'csrfmiddlewaretoken' : csrf_token, },
                function (data) {
                    window.location.reload();
                });
    }

    function set_spectial_course_attend(course_id, action)
    {

        $.post('{% url courses.views.set_spectial_course_attend %}',
                { 'course_id' : course_id, 'action' : action, 'csrfmiddlewaretoken' : csrf_token, },
                function (data) {
                    window.location.reload();
                });

    }

    function change_visibility_hidden_tasks(course_id)
    {
        $.post('{% url courses.views.change_visibility_hidden_tasks %}',
                { 'course_id' : course_id, 'csrfmiddlewaretoken' : "{{ csrf_token }}" },
                function (data) {
                    window.location.reload();
                });

    }
</script>
