{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load sanitize_html icon %}
{% load dict_func %}
{% load task_taken_func %}
{% load course_func %}
{% load tz %}
{% load info %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% if seminar %}{% get_text_from_json seminar 'get_title' LANGUAGE_CODE %} | {% endif %}{{ course.name }} | {{ course.year }}{% endblock %}

{% block scripts %}

    {% include "courses/course_js.html" %}

{% endblock scripts %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if school %}
        {% breadcrumb school.name school.get_absolute_url %}
    {% endif %}
    {% if not seminar %}
        {% breadcrumb course.name "" %}
    {% else %}
        {% breadcrumb course.name course.get_absolute_url %}
        {% breadcrumb seminar|get_title:LANGUAGE_CODE "" %}
    {% endif %}
{% endblock breadcrumbs %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{{ course.get_absolute_url }}"> {% if not seminar %}{% trans "stranica_kursa" %}{% else %}
                {% trans "stranica_seminara" %}{% endif %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               href="{{ course.get_absolute_url }}/gradebook/{% if seminar %}seminar/{{ seminar.id }}{% endif %}">{% trans "obshaja_vedomost" %}</a>
        </li>
        {% if visible_attendance_log %}
            <li class="nav-item">
                <a class="nav-link hidden-md" href="{{ course.get_absolute_url }}/attendance">{% trans "zhurnal_poseshaemosti" %}</a>
                <a class="nav-link visible-md" href="{{ course.get_absolute_url }}/attendance">{% trans "poseshaemost" %}</a>
            </li>
        {% endif %}
        {% if not seminar %}
            {% if user_is_teacher %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ course.get_absolute_url }}/queue">{% trans "ochered_na_proverku" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "courses.views.course_settings" course.id %}">{% trans "nastrojki" %}</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock navbar %}

{% block content %}
    {{ block.super }}

    <style>
        #btn_group_edit_course .btn {
            margin: 2px auto;
        }

        .tasks-list {
            display: flex;
            padding: .75rem 0 .75rem 0;
            line-height: 1.5;
            border-top: 1px solid #eceeef;
        }
    </style>

    <div class="row">
        <div class="col-lg-3 col-md-12">
            <div id="right-side">
                <div class="card card-block">
                    <h5 class="card-title">{% if not seminar %} {{ course.name }} {% else %}
                        {% get_text_from_json seminar 'get_title' LANGUAGE_CODE %} {% endif %}{% if mark %}<span class="label label-success">
                        {{ mark }}</span>{% endif %}
                    </h5>
                    <p class="card-text course_teachers">
                        {% trans "prepodavateli" %}:
                        {% for teacher in course.get_teachers %}
                            <a href="{% url "users.views.profile" teacher.username %}">{{ teacher.last_name }} {{ teacher.first_name }}</a>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </p>
                    {% if course.can_edit %}
                        {% if seminar %}
                            <a class="btn btn-secondary btn-sm" href="{% url "tasks.views.task_edit_page" seminar.id %}">
                                {% trans "redaktirovat_seminar" %}
                            </a>
                        {% endif %}
                        {% if visible_hide_button %}
                            <a class="btn btn-secondary btn-sm"
                               href="javascript:change_visibility_hidden_tasks({{ course.id }});" role="button">
                                {% if show_hidden_tasks %}
                                    {% trans "ne_pokazyvat_skrytye_zadachi" %}
                                {% else %}
                                    {% trans "pokazat_skrytye_zadachi" %}
                                {% endif %}
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="list-group" id="courseTab">
                    <a id="info-link" href="#course-information-tab"
                       class="list-group-item scrollto"><span
                            class="fa fa-file-text-o"></span> {% if not seminar %}{% trans "opisanie_kursa" %}{% else %}
                        {% trans "opisanie_zanjatija" %}{% endif %}</a>
                    <a id="tasks-link" href="#tasks-tab"
                       class="list-group-item scrollto"><span class="fa fa-tasks"></span> {% if not user_is_teacher %}
                        {% trans "zadachi" %}{% else %}{% trans "spisok_grupp_i_zadach" %}{% endif %}</a>
                    <a id="material-link" href="#material-tab"
                       class="list-group-item scrollto">
                        <span class="fa fa-book"></span> {% trans "materials" %}</a>
                </div>
                <br>
            </div>
        </div>
        <div id="left-side" class="col-lg-9 col-md-12">
            <div class="card card-block">
                <div class="tab-content">
                    <div class="tab-pane fade in" id="course-information-tab" role="tabpanel">
                        <h5 class="card-title">{% if not seminar %}{% trans "opisanie_kursa" %}{% else %}{% trans "opisanie_zanjatija" %}{% endif %}
                            {% if course.can_edit %}

                                {% if seminar %}
                                    <a class="btn btn-secondary btn-sm btn-square"
                                       href="{% url "tasks.views.task_edit_page" seminar.id %}">
                                        <span class="fa fa-pencil"></span>
                                    </a>
                                {% else %}
                                    <a class="btn btn-secondary btn-sm btn-square"
                                       id="edit_course_info_btn">
                                        <span class="fa fa-pencil"></span>
                                    </a>
                                {% endif %}

                            {% endif %}
                        </h5>

                        <div id="course-information" class="card-text"
                             style="margin-top: 1rem; margin-bottom: 0; display: none;">
                            {% if seminar %}
                                {{ seminar|get_description:LANGUAGE_CODE|safe }}
                            {% elif course.information %}
                                {{ course.information|safe }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tasks-tab" role="tabpanel">
                        <h5>{% if not user_is_teacher %}{% trans "zadachi" %}{% else %}{% trans "spisok_grupp_i_zadach" %}{% endif %}
                            {% if course.can_edit %}
                                <div class="btn-group pull-xs-right">
                                    <a type="button" class="btn btn-secondary btn-sm"
                                       href="/task/create/{{ course.id }}">{% trans "dobavit_zadachu" %}</a>
                                    {% if course.contest_integrated %}
                                        <button type="button"
                                                style="height: 1.95rem;"
                                                class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div style="font-size: .875rem;" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="/task/import/{{ course.id }}" role="button">
                                                {% trans "import_zadachi_iz_kontesta" %}
                                            </a>
                                            <a class="dropdown-item" href="/task/contest_import/{{ course.id }}">{% trans "import_sorevnovanija" %}</a>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </h5>

                        {% regroup tasks by group as tasks_list %}

                        <br>
                        {% if not seminar %}
                            <div id="tasks-table" width="100%">
                                {% if not user_is_teacher %}
                                    {% for task in tasks %}
                                        {% if not task.parent_task %}
                                            {% if not task.is_hidden and task.type != task.TYPE_MATERIAL %}
                                                <div class="tasks-list">
                                                    <div style="width: 40%;">
                                                        {% if task.task_text %}
                                                        <a data-toggle="collapse" aria-expanded="false"
                                                           aria-controls="collapse_{{ task.id }}"
                                                           href="#collapse_{{ task.id }}">
                                                            {% get_text_from_json task 'get_title' LANGUAGE_CODE %}</a>
                                                        {% else %}
                                                        <span>{% get_text_from_json task 'get_title' LANGUAGE_CODE %}</span>
                                                        {% endif %}
                                                    </div>
                                                    <div style="width: 10%">
                                                        {{ task|get_score:user }}
                                                    </div>
                                                    <div style="width: 15%">
                                                        <span class="label" style="width: 80%;
                                                                                       background-color:{{ task|get_status_color:user }}"> {{ task|get_status_name:user }}
                                                        </span>
                                                    </div>
                                                    <div style="width: 20%">
                                                        {% if task.deadline_time %}{% trans "sdat_do" %}
                                                            {% localtime on %}{{ task.deadline_time|date:"H:i d-m-Y" }}{% endlocaltime %}
                                                        {% endif %}
                                                    </div>
                                                    <div style="width: 15%">
                                                        {% if task.type == task.TYPE_FULL and not user_is_teacher %}
                                                            <a style="width: 100%"
                                                               class="btn btn-sm btn-primary pull-xs-right"
                                                               href="/issue/get_or_create/{{ task.id }}/{{ user.id }}">{% trans "sdat" %}</a>
                                                        {% elif task.type == task.TYPE_IPYNB and not user_is_teacher %}
                                                            <a style="width: 100%"
                                                               class="btn btn-sm btn-primary pull-xs-right"
                                                               href="/issue/get_or_create/{{ task.id }}/{{ user.id }}">{% trans "sdat" %}</a>
                                                        {% elif task.type == task.TYPE_SEMINAR %}
                                                            <a style="width: 100%"
                                                               class="btn btn-sm btn-primary pull-xs-right"
                                                               href="{% if task.children.count != 0 %}
                                                       {{ course.id }}/seminar/{{ task.id }}{% endif %}">
                                                                {% trans "perejti" %}</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                {% if task.task_text %}
                                                <div id="collapse_{{ task.id }}" class="collapse">
                                                    <div style="width: 100%" style="border-top: 0;">
                                                        <p class="card-text">
                                                            {{ task|get_description:LANGUAGE_CODE|safe }}
                                                        </p>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for task_item in tasks_list %}
                                        <div style="display: flex;">
                                            <div style="width: 80%">
                                                <h6>
                                                    <a class="btn btn-secondary btn-sm btn-square"
                                                       data-toggle="collapse" aria-expanded="false"
                                                       aria-controls="collapse_group_{{ task_item.grouper.id }}"
                                                       href="#collapse_group_{{ task_item.grouper.id }}">
                                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                                    </a>
                                                    {{ task_item.grouper.name }}
                                                    {% if task_item.grouper|get_default_teacher:course %}
                                                        ({{ task_item.grouper|get_default_teacher:course }})
                                                    {% endif %}
                                                </h6>
                                            </div>
                                        {% if course.has_attendance_log %}
                                            <div style="width: 30%"><a style="width: 100%"
                                                                       class="btn btn-secondary btn-sm"
                                                                       href="{{ course.get_absolute_url }}/attendance/group/{{ task_item.grouper.id }}">{% trans "poseshaemost" %}</a>
                                            </div>&nbsp;
                                        {% endif %}
                                            <div style="width: 20%"><a style="width: 100%"
                                                                       class="btn btn-secondary btn-sm"
                                                                       href="{{ course.get_absolute_url }}/gradebook/group/{{ task_item.grouper.id }}">{% trans "vedomost" %}</a>
                                            </div>
                                        </div>
                                        <div id="collapse_group_{{ task_item.grouper.id }}" class="collapse">
                                            {% for task in task_item.list %}
                                                {% if not task.task.parent_task %}
                                                    {% if task.task.type != task.task.TYPE_MATERIAL %}
                                                        <div class="tasks-list">
                                                            <div style="width: 35%;">
                                                                {% get_text_from_json task.task 'get_title' LANGUAGE_CODE %}
                                                            </div>
                                                            <div style="width: 10%;">
                                                                <a class="btn btn-secondary btn-sm btn-square"
                                                                   href="{% url "tasks.views.task_edit_page" task.task.id %}">
                                                                    <span class="fa fa-pencil"></span>
                                                                </a>
                                                            </div>
                                                            <div style="width: 10%"><span
                                                                    class="label label-inverse">{{ task.task.score_max }}</span>
                                                            </div>
                                                            <div style="width: 25%">
                                                                {% if task.task.deadline_time %}{% trans "sdat_do" %}
                                                                    {% localtime on %}{{ task.task.deadline_time|date:"H:i d-m-Y" }}{% endlocaltime %}
                                                                {% endif %}
                                                            </div>
                                                            <div style="width: 20%">
                                                                {% if task.task.type == task.task.TYPE_SEMINAR %}
                                                                    <a style="width: 100%"
                                                                       class="btn btn-sm btn-primary pull-xs-right"
                                                                       href="{% if task.task.children.count != 0 %}
                                                            {{ course.id }}/seminar/{{ task.task.id }}{% endif %}">
                                                                        {% trans "perejti" %}</a>
                                                                {% elif task.task.type == task.task.TYPE_IPYNB %}
                                                                    <a style="width: 100%"
                                                                        class="btn btn-sm btn-primary pull-xs-right"
                                                                        {% if not user.get_profile.ya_passport_login %}disabled{% endif %}
                                                                        href="{{ jupyterhub_url }}/user/{{ user.get_profile.ya_passport_login }}/tree/source/{{ task.task.nb_assignment_name }}">
                                                                        {% trans "perejti" %}</a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% else %}
                            <div id="tasks-table" width="100%">
                                {% if not user_is_teacher %}
                                    {% for task in seminar.children.all %}
                                        {% if not task.is_hidden and task.type != task.TYPE_MATERIAL %}
                                            <div class="tasks-list">
                                                <div style="width: 40%;">
                                                    <a data-toggle="collapse" aria-expanded="false"
                                                       aria-controls="collapse_{{ task.id }}"
                                                       href="#collapse_{{ task.id }}">
                                                        {% get_text_from_json task 'get_title' LANGUAGE_CODE %}</a>
                                                </div>
                                                <div style="width: 10%">
                                                    {{ task|get_score:user }}
                                                </div>
                                                <div style="width: 15%">
                                                    <span class="label" style="width: 80%;
                                                                                   background-color:{{ task|get_status_color:user }}"> {{ task|get_status_name:user }}
                                                    </span>
                                                </div>
                                                <div style="width: 20%">
                                                    {% if task.deadline_time %}{% trans "sdat_do" %}
                                                        {% localtime on %}{{ task.deadline_time|date:"H:i d-m-Y" }}{% endlocaltime %}
                                                    {% endif %}
                                                </div>
                                                <div style="width: 15%">
                                                    {% if task.type in task.TYPE_FULL and not user_is_teacher %}
                                                        <a style="width: 100%"
                                                           class="btn btn-sm btn-primary pull-xs-right"
                                                           href="/issue/get_or_create/{{ task.id }}/{{ user.id }}">{% trans "sdat" %}</a>
                                                    {% endif %}
                                                    {% if task.type in task.TYPE_IPYNB and not user_is_teacher %}
                                                        <a style="width: 100%"
                                                           class="btn btn-sm btn-primary pull-xs-right"
                                                           href="/issue/get_or_create/{{ task.id }}/{{ user.id }}">{% trans "sdat" %}</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div id="collapse_{{ task.id }}" class="collapse">
                                                <div style="width: 100%" style="border-top: 0;">
                                                    <p class="card-text">
                                                        {{ task|get_description:LANGUAGE_CODE|safe }}
                                                    </p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for task_item in tasks_list %}
                                        <div style="display: flex;">
                                            <div style="width: 80%">
                                                <h6>
                                                    <a class="btn btn-secondary btn-sm btn-square"
                                                       data-toggle="collapse" aria-expanded="false"
                                                       aria-controls="collapse_group_{{ task_item.grouper.id }}"
                                                       href="#collapse_group_{{ task_item.grouper.id }}">
                                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                                    </a>
                                                    {{ task_item.grouper.name }}
                                                    {% if task_item.grouper|get_default_teacher:course %}(
                                                        {{ task_item.grouper|get_default_teacher:course }}) {% endif %}
                                                </h6>
                                            </div>
                                            <div style="width: 20%"><a style="width: 100%"
                                                                       class="btn btn-secondary btn-sm"
                                                                       href="{{ course.get_absolute_url }}/gradebook/seminar/{{ seminar.id }}/group/{{ task_item.grouper.id }}">{% trans "vedomost" %}</a>
                                            </div>
                                        </div>
                                        <div id="collapse_group_{{ task_item.grouper.id }}" class="collapse">
                                            {% for task in task_item.list %}
                                                {% if task.task.type != task.task.TYPE_MATERIAL %}
                                                    <div class="tasks-list">
                                                        <div style="width: 35%;">
                                                            {% get_text_from_json task.task 'get_title' LANGUAGE_CODE %}
                                                        </div>
                                                        <div style="width: 10%;">
                                                            <a class="btn btn-secondary btn-sm btn-square"
                                                               href="{% url "tasks.views.task_edit_page" task.task.id %}">
                                                                <span class="fa fa-pencil"></span>
                                                            </a>
                                                        </div>
                                                        <div style="width: 10%"><span
                                                                class="label label-inverse">{{ task.task.score_max }}</span>
                                                        </div>
                                                        <div style="width: 25%">
                                                            {% if task.task.deadline_time %}{% trans "sdat_do" %}
                                                                {% localtime on %}{{ task.task.deadline_time|date:"H:i d-m-Y" }}{% endlocaltime %}
                                                            {% endif %}
                                                        </div>
                                                        <div style="width: 20%">
                                                            {% if task.task.type == task.task.TYPE_SEMINAR %}
                                                                <a style="width: 100%"
                                                                   class="btn btn-sm btn-primary pull-xs-right"
                                                                   href="{% if task.task.children.count != 0 %}
                                                            {{ course.id }}/seminar/{{ task.task.id }}{% endif %}">
                                                                    {% trans "perejti" %}</a>
                                                            {
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="material-tab" role="tabpanel">
                        <h5>{% trans "materials" %}
                            {% if course.can_edit %}
                                <div class="btn-group pull-xs-right">
                                    <a type="button" class="btn btn-secondary btn-sm"
                                       href="/task/create/{{ course.id }}">{% trans "dobavit" %} {% trans "material" %}</a>
                                </div>
                            {% endif %}
                        </h5>

                        {% regroup tasks by group as tasks_list %}

                        <br>
                        {% if not seminar %}
                            <div id="tasks-table" width="100%">
                                {% if not user_is_teacher %}
                                    {% for task in tasks %}
                                        {% if not task.parent_task %}
                                            {% if not task.is_hidden and task.type == task.TYPE_MATERIAL %}
                                                <div class="tasks-list">
                                                    <div style="width: 65%;">
                                                        {%  if task.task_text %}
                                                        <a data-toggle="collapse" aria-expanded="false"
                                                           aria-controls="collapse_{{ task.id }}"
                                                           href="#collapse_{{ task.id }}">
                                                           {% get_text_from_json task 'get_title' LANGUAGE_CODE %}</a>
                                                        {% else %}
                                                        <span>{% get_text_from_json task 'get_title' LANGUAGE_CODE %}</span>
                                                        {% endif %}
                                                    </div>
                                                    <div style="width: 20%">
                                                        {% if task.deadline_time %}{% trans "sdat_do" %}
                                                            {{ task.deadline_time|date:"H:i d-m-Y" }}
                                                        {% endif %}
                                                    </div>
                                                    <div style="width: 15%">
                                                    </div>
                                                </div>
                                                <div id="collapse_{{ task.id }}" class="collapse">
                                                    <div style="width: 100%" style="border-top: 0;">
                                                        <p class="card-text">
                                                            {{ task|get_description:LANGUAGE_CODE|safe }}
                                                        </p>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for task_item in tasks_list %}
                                        <div style="display: flex;">
                                            <div style="width: 80%">
                                                <h6>
                                                    <a class="btn btn-secondary btn-sm btn-square"
                                                       data-toggle="collapse" aria-expanded="false"
                                                       aria-controls="collapse_group_material_{{ task_item.grouper.id }}"
                                                       href="#collapse_group_material_{{ task_item.grouper.id }}">
                                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                                    </a>
                                                    {{ task_item.grouper.name }}
                                                    {% if task_item.grouper|get_default_teacher:course %}
                                                        ({{ task_item.grouper|get_default_teacher:course }})
                                                    {% endif %}
                                                </h6>
                                            </div>
                                            <div style="width: 20%"><a style="width: 100%"
                                                                       class="btn btn-secondary btn-sm"
                                                                       href="{{ course.get_absolute_url }}/gradebook/group/{{ task_item.grouper.id }}">{% trans "vedomost" %}</a>
                                            </div>
                                        </div>
                                        <div id="collapse_group_material_{{ task_item.grouper.id }}" class="collapse">
                                            {% for task in task_item.list %}
                                                {% if not task.task.parent_task %}
                                                    {% if task.task.type == task.task.TYPE_MATERIAL %}
                                                        <div class="tasks-list">
                                                            <div style="width: 65%;">
                                                                {% get_text_from_json task.task 'get_title' LANGUAGE_CODE %}
                                                            </div>
                                                            <div style="width: 15%;">
                                                                <a class="btn btn-secondary btn-sm btn-square"
                                                                   href="{% url "tasks.views.task_edit_page" task.task.id %}">
                                                                    <span class="fa fa-pencil"></span>
                                                                </a>
                                                            </div>
                                                            <div style="width: 20%">
                                                                {% if task.task.type == task.task.TYPE_SEMINAR %}
                                                                    <a style="width: 100%"
                                                                       class="btn btn-sm btn-primary pull-xs-right"
                                                                       href="{% if task.task.children.count != 0 %}
                                                            {{ course.id }}/seminar/{{ task.task.id }}{% endif %}">
                                                                        {% trans "perejti" %}</a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% else %}
                            <div id="tasks-table" width="100%">
                                {% if not user_is_teacher %}
                                    {% for task in seminar.children.all %}
                                        {% if not task.is_hidden and task.type == task.TYPE_MATERIAL %}
                                            <div class="tasks-list">
                                                <div style="width: 65%;">
                                                    <a data-toggle="collapse" aria-expanded="false"
                                                       aria-controls="collapse_{{ task.id }}"
                                                       href="#collapse_{{ task.id }}">
                                                        {% get_text_from_json task 'get_title' LANGUAGE_CODE %}</a>
                                                </div>
                                                <div style="width: 20%">
                                                    {% if task.deadline_time %}{% trans "sdat_do" %}
                                                        {{ task.deadline_time|date:"H:i d-m-Y" }}
                                                    {% endif %}
                                                </div>
                                                <div style="width: 15%">
                                                    {% if task.type == task.TYPE_FULL and not user_is_teacher %}
                                                        <a style="width: 100%"
                                                           class="btn btn-sm btn-primary pull-xs-right"
                                                           href="/issue/get_or_create/{{ task.id }}/{{ user.id }}">{% trans "sdat" %}</a>
                                                    {% endif %}
                                                    {% if task.type == task.TYPE_IPYNB and not user_is_teacher %}
                                                        <a style="width: 100%"
                                                           class="btn btn-sm btn-primary pull-xs-right"
                                                           href="/issue/get_or_create/{{ task.id }}/{{ user.id }}">{% trans "sdat" %}</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div id="collapse_{{ task.id }}" class="collapse">
                                                <div style="width: 100%" style="border-top: 0;">
                                                    <p class="card-text">
                                                        {{ task|get_description:LANGUAGE_CODE|safe }}
                                                    </p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for task_item in tasks_list %}
                                        <div style="display: flex;">
                                            <div style="width: 80%">
                                                <h6>
                                                    <a class="btn btn-secondary btn-sm btn-square"
                                                       data-toggle="collapse" aria-expanded="false"
                                                       aria-controls="collapse_group_material_{{ task_item.grouper.id }}"
                                                       href="#collapse_group_material_{{ task_item.grouper.id }}">
                                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                                    </a>
                                                    {{ task_item.grouper.name }}
                                                    {% if task_item.grouper|get_default_teacher:course %}(
                                                        {{ task_item.grouper|get_default_teacher:course }}) {% endif %}
                                                </h6>
                                            </div>
                                            <div style="width: 20%">
                                                <a style="width: 100%" class="btn btn-secondary btn-sm"
                                                   href="{{ course.get_absolute_url }}/gradebook/seminar/{{ seminar.id }}/group/{{ task_item.grouper.id }}">{% trans "vedomost" %}
                                                </a>
                                            </div>
                                        </div>
                                        <div id="collapse_group_material_{{ task_item.grouper.id }}" class="collapse">
                                            {% for task in task_item.list %}
                                                {% if task.task.type == task.task.TYPE_MATERIAL %}
                                                    <div class="tasks-list">
                                                        <div style="width: 65%;">
                                                            {% get_text_from_json task.task 'get_title' LANGUAGE_CODE %}
                                                        </div>
                                                        <div style="width: 15%;">
                                                            <a class="btn btn-secondary btn-sm btn-square"
                                                               href="{% url "tasks.views.task_edit_page" task.task.id %}">
                                                                <span class="fa fa-pencil"></span>
                                                            </a>
                                                        </div>
                                                        <div style="width: 20%">
                                                            {% if task.task.type == task.task.TYPE_SEMINAR %}
                                                                <a style="width: 100%"
                                                                   class="btn btn-sm btn-primary pull-xs-right"
                                                                   href="{% if task.task.children.count != 0 %}
                                                            {{ course.id }}/seminar/{{ task.task.id }}{% endif %}">
                                                                    {% trans "perejti" %}</a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>


    {% include "courses/task.html" %}
{% endblock content %}
