{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load sanitize_html icon %}
{% load dict_func %}
{% load task_taken_func %}

{% block title %}{% if seminar %}{{ seminar.title }} | {% endif %}{{ course.name }} | {{ course.year }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if school %}
        {% breadcrumb school.name school.get_absolute_url %}
    {% endif %}
    {% if not seminar %}
        {% breadcrumb course.name "" %}
    {% else %}
        {% breadcrumb course.name course.get_absolute_url %}
        {% breadcrumb seminar.title "" %}
    {% endif %}
{% endblock breadcrumbs %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link"
               href="{{ course.get_absolute_url }}{% if seminar %}/seminar/{{ seminar.id }}{% endif %}">
                {% if not seminar %}{% trans "Страница курса" %}{% else %}{% trans "Страница семинара" %}{% endif %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if not group_gradebook %}active{% endif %}"
               href="{{ course.get_absolute_url }}/gradebook/{% if seminar %}seminar/{{ seminar.id }}{% endif %}">{% trans "Общая ведомость" %}</a>
        </li>
        {% if not seminar %}
            {% if visible_queue %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ course.get_absolute_url }}/queue">{% trans "Очередь на проверку" %}</a>
                </li>
            {% endif %}
            {% if user_is_teacher %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url courses.views.course_settings course.id %}">{% trans "Настройки" %}</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock navbar %}

{% block content %}
    {{ block.super }}
<div id="legend" style="height: 80px; z-index: 5;">
    <div class="card card-block" style=" padding: .9rem">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                    <a class="btn btn-secondary btn-sm" id="status_btn" data-toggle="popover-status" data-placement="bottom" data-container="document"
                       data-content='<ul style="padding: 0; font-size: 1.25rem">
                                        <li><span class="label label-default">{% trans "Новый" %}</span></li>
                                        <li><span class="label label-info">{% trans "Требуется информация" %}</span></li>
                                        {% for issue_status in course.issue_status_system.statuses.all %}
                                            <li><span class="label" style="background-color: {{ issue_status.color }}">{{ issue_status.name }}</span></li>
                                        {% endfor %}
                                        <li><span class="label label-inverse">{% trans "Суммарный балл" %}</span></li>
                                    </ul>'>
                      Статусы
                    </a>
                    {% if user_is_teacher %}
                        {% if visible_hide_button %}
                            <a class="btn btn-secondary btn-sm"
                               href="javascript:change_visibility_hidden_tasks({{ course.id }});" role="button">
                                {% if show_hidden_tasks %}
                                    {% trans "Не показывать скрытые задачи" %}
                                {% else %}
                                    {% trans "Показать скрытые задачи" %}
                                {% endif %}
                            </a>
                        {% endif %}
                        {% if visible_hide_button_users %}
                            <a class="btn btn-secondary btn-sm" id="hide_academ_student_btn">
                                {% if show_academ_users %}
                                    {% trans "Не показывать отчисленных студентов" %}
                                {% else %}
                                    {% trans "Показать отчисленных студентов" %}
                                {% endif %}
                            </a>
                        {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
</div>

    {% include "courses/task.html" %}
    {% include tasklist_template %}
{% endblock content %}
