{% extends "base.html" %}
{% load django_bootstrap_breadcrumbs %}
{% load sanitize_html icon %}
{% load dict_func %}
{% load task_taken_func %}

{% block title %}{{ course.name }} | {{ course.year }}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb course.year course.year.get_absolute_url %}
  {% breadcrumb course.name "" %}
{% endblock breadcrumbs %}

{% block navbar %}
  <ul class="nav">
    <li>
      <a href="{{ course.get_absolute_url }}">Список задач</a>
    </li>
    <li class="active">
      <a href="">Очередь на проверку</a>
    </li>
    {% if user_is_teacher %}
      <li>
        <a href="{% url courses.views.course_settings course.id %}">Настройки</a>
      </li>
    {% endif %}
  </ul>
{% endblock navbar %}


{% block scripts %}
  {% include "courses/queue_js.html" %}

{% endblock scripts %}

{% block content %}
  {{ block.super }}

  <div id="tooltips" class="collapse">
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      Можно сортирорвать таблицу кликая по заголовку.
    </div>
    {# <div class="alert alert-info"> #}
      {# <button type="button" class="close" data-dismiss="alert">&times;</button> #}
      {# Чтобы открыть страницу ишью нужно кликнуть по строке. #}
    {# </div> #}
  </div>

  <button type="button" class="btn" data-toggle="collapse" data-target="#filters">
    Фильтры
  </button>

  <button type="button" class="btn" data-toggle="collapse" data-target="#tooltips">
    Подсказки
  </button>

  <div id="filters" class="collapse in">
    <form method="post" class="form-inline">
      {% csrf_token %}
      <table class="table table-condensed">
        {% for field in queue_form %}
          <tr>
            <td>
              {{ field.label }}
            </td>
            <td>
              {{ field }}
            </td>
            {% if forloop.last %}
              <td>
                <button class="btn pull-right" type="submit">Применить</button>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    </form>
  </div>

  <table class="table table_queue css-serial" id="table_queue">
    <thead>
    <tr>
      <th>#</th>
      <th>id</th>
      <th>Студент</th>
      <th>Задача</th>
      <th>Обновлена</th>
      <th>Оценка</th>
      <th>Ответственный</th>
    </tr>
    </thead>
    <tbody>
      {% for issue in issues %}
        <tr>
          <td>&nbsp;</td>
          <td>
            <a href="{{ issue.get_absolute_url }}">
              {{ issue.id }}
            </a>
          </td>
          <td>
            <a href="{{ issue.student.get_absolute_url }}">
              {{ issue.student.last_name }} {{ issue.student.first_name }}
            </a>
          </td>
          <td>{{ issue.task }}</td>
          <td>
            <i class="icon-time"></i> {{ issue.update_time|date:"Y-m-d H:i" }}
          </td>
          <td>{{ issue.score }}</td>
          <td>
            <a href="{{ issue.responsible.get_absolute_url }}">
              {{ issue.responsible.last_name }} {{ issue.responsible.first_name }}
            </a>
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>

{% endblock content %}
