{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}
{% load sanitize_html icon %}
{% load dict_func %}
{% load task_taken_func %}

{% block title %}{{ course.name }} | {{ course.year }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if school %}
        {% breadcrumb school.name school.get_absolute_url %}
    {% endif %}
    {% breadcrumb course.name course.get_absolute_url %}
    {% breadcrumb_for "" %}
        {%  trans "ochered_na_proverku" %}
    {% endbreadcrumb_for %}
{% endblock breadcrumbs %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ course.get_absolute_url }}">{% trans "stranica_kursa" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               href="{{ course.get_absolute_url }}/gradebook">{% trans "obshaja_vedomost" %}</a>
        </li>
        {% if visible_attendance_log %}
            <li class="nav-item">
                <a class="nav-link" href="{{ course.get_absolute_url }}/attendance">{% trans "zhurnal_poseshaemosti" %}</a>
            </li>
        {% endif %}
        <li class="nav-item active">
            <a class="nav-link" href="">{% trans "ochered_na_proverku" %}</a>
        </li>
        {% if user_is_teacher %}
            <li class="nav-item">
                <a class="nav-link" href="{% url courses.views.course_settings course.id %}">{% trans "nastrojki" %}</a>
            </li>
        {% endif %}
    </ul>
{% endblock navbar %}


{% block scripts %}
    {% include "courses/queue_js.html" %}

{% endblock scripts %}

{% block content %}
    {{ block.super }}

    <style>
        .table_queue th {
            white-space: nowrap
        }
    </style>

    <div class="row">
        <div class="col-md-2">
            <div class="card card-block" id="filters" style="min-width:11.5rem;">
                <div style="padding: 0px 15px 0px 15px;">
                    {% crispy filter.form %}
                </div>
            </div>
        </div>

        <div class="col-md-10">
            <div class="card card-block">
                <table class="table table_queue css-serial" id="table_queue">
                    <thead>
                    <tr style="background-color: #ffffff;">
                        <th>#</th>
                        <th>id<i class="fa fa-fw fa-sort"></i></th>
                        <th>{% trans "student" %}<i class="fa fa-fw fa-sort"></i></th>
                        <th>{% trans "zadacha" %}<i class="fa fa-fw fa-sort"></i></th>
                        <th>{% trans "obnovlena" %}<i class="fa fa-fw fa-sort"></i></th>
                        <th>{% trans "ocenka" %}<i class="fa fa-fw fa-sort"></i></th>
                        <th>{% trans "proverjaushij" %}<i class="fa fa-fw fa-sort"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for issue in filter %}
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                {% if issue.task.has_issue_access %}
                                    <a href="{{ issue.get_absolute_url }}">
                                        {{ issue.id }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ issue.student.get_absolute_url }}">
                                    {{ issue.student.last_name }} {{ issue.student.first_name }}
                                </a>
                            </td>
                            <td>{{ issue.task }}</td>
                            <td>
                                <i class="fa fa-clock-o fa-flip-horizontal"></i> {{ issue.update_time|date:"Y-m-d H:i" }}
                            </td>
                            <td>{{ issue.score }}</td>
                            <td>
                                <a href="{{ issue.responsible.get_absolute_url }}">
                                    {{ issue.responsible.last_name }} {{ issue.responsible.first_name }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}
