<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.3.0/jquery.quicksearch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/css/multi-select.min.css" rel="stylesheet">

<script src="{{ STATIC_URL }}jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#rb_ext_select').multiSelect({
            selectableHeader: '<input type="text" class="form-control form-control-sm" style="margin-bottom: 5px;" autocomplete="off" placeholder="Поиск...">',
            selectionHeader: '<input type="text" class="form-control form-control-sm" style="margin-bottom: 5px;" autocomplete="off" placeholder="Поиск...">',
            selectableFooter: '<button type="button" id="rb_ext_select_rightAll" class="btn btn-secondary btn-block" style="margin-top: 5px;"><i class="fa fa-forward fa"></i></button>',
            selectionFooter: '<button type="button" id="rb_ext_select_leftAll" class="btn btn-secondary btn-block" style="margin-top: 5px;"><i class="fa fa-backward fa"></i></button>',
            afterInit: function(ms){
                $('rb_ext_select').show();
                var that = this,
                        $selectableSearch = that.$selectableUl.prev(),
                        $selectionSearch = that.$selectionUl.prev(),
                        selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
                        selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                        .on('keydown', function(e){
                            if (e.which === 40){
                                that.$selectableUl.focus();
                                return false;
                            }
                        });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                        .on('keydown', function(e){
                            if (e.which == 40){
                                that.$selectionUl.focus();
                                return false;
                            }
                        });
            },
            afterSelect: function(){
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function(){
                this.qs1.cache();
                this.qs2.cache();
            },
            keepOrder: true
        });

        $('#rb_ext_select_rightAll').click(function(){
            $('#rb_ext_select').multiSelect('select_all');
            return false;
        });
        $('#rb_ext_select_leftAll').click(function(){
            $('#rb_ext_select').multiSelect('deselect_all');
            return false;
        });

        $(".checkbox-block").click(function() {
            var checkbox = $(this).siblings('input');
            checkbox.prop('checked', !checkbox.is(':checked'));
            if (checkbox.attr('id') == 'show_task_one_file_upload')
                $('#default_task_one_file_upload').closest('div').collapse('toggle');
        });

        $('#show_task_one_file_upload').change(function () {
            $('#default_task_one_file_upload').closest('div').collapse('toggle');
        });


        $('#course_settings_form').change(function() {
            $('#course_settings_form_error_text').empty();
        });

        $('#course_settings_form').validate({
            submitHandler: function(form) {
                $('#course_settings_form').ajaxSubmit({
                    success: function (data) {
                        $('#course_settings_form_error_text').html('<div class="alert alert-success" role ="alert" id="edit_task_err">' +
                                '                                     <a class="close" data-dismiss="alert">&times;</a>' +
                                '                                     <span>Сохранено успешно.</span>' +
                                '                                   </div>');
                        if ($('#course_settings_form').data('quit'))
                            redirect();
                    },
                    error: function (data) {
                        $('#course_settings_form_error_text').html('<div  class="alert alert-danger" role ="alert" id="edit_task_err">' +
                                '                                     <a class="close" data-dismiss="alert">&times;</a>' +
                                '                                     <span>Произошла ошибка при сохранении. Попробуйте снова.</span>' +
                                '                                   </div>');
                        remove_disabled();
                    }
                });
            },
            rules: {

            },

            highlight: function(input) {
                $(input).removeClass('form-control-success').addClass('form-control-danger');
                $(input).closest('.form-group').removeClass('has-success').addClass('has-danger');
            },

            success: function(label) {
                label.addClass('valid');
                label.closest('.text-help').siblings('.form-control').removeClass('form-control-danger').addClass('form-control-success');
                label.closest('.form-group').removeClass('has-danger').addClass('has-success');
            },

            messages: {

            },

            errorPlacement: function(error, element) {
                $(element).siblings('small.text-help').empty().append(error);
            }
        });

        $('#button_cancel_quit').click(function() {
            redirect();
        });

        $('#button_save').click(function() {
            set_disabled();
            $('#course_settings_form').data('quit', false);
            $('#course_settings_form').submit();
            remove_disabled();
        });

        $('#button_save_quit').click(function() {
            set_disabled();
            $('#course_settings_form').data('quit', true);
            $('#course_settings_form').submit();
            remove_disabled();
        });
    });

    function set_disabled() {
        $('#button_cancel_quit').attr('disabled', 'disabled');
        $('#button_save').attr('disabled', 'disabled');
        $('#button_save_quit').attr('disabled', 'disabled');
    }

    function remove_disabled() {
        $('#button_cancel_quit').removeAttr('disabled');
        $('#button_save').removeAttr('disabled');
        $('#button_save_quit').removeAttr('disabled');
    }

    function redirect() {
        window.location.href = $('#course_url').attr('href');
    }
</script>
