{% load sanitize_html %}
{% load i18n %}

<h1>
  tasks_description
</h1>

<div class="row span8">
  {% for group,tasks in group_x_tasks.items %}
  <h2>{{ group.name }}</h2>
  <dl>
    {% for task in tasks %}
    <dt>{{ task.title }}</dt>
    <dd>{{ task.task_text|sanitize|safe }}</dd>
    <br>
    {% endfor %}
  </dl>
  {% endfor %}
  {% if course_tasks %}
  <h2>{% trans "Задачи курса" %}</h2>
  <dl>
    {% for task in course_tasks %}
    <dt>{{ task.title }}</dt>
    <dd>{{ task.task_text|sanitize|safe }}</dd>
    <br>
    {% endfor %}
  </dl>
  {% endif %}
</div>
