<script src="{{ STATIC_URL }}jquery.validate.min.js"></script>
<script src="http://malsup.github.io/jquery.form.js"></script>
<script src="{{ STATIC_URL }}jquery.tablesorter/jquery.tablesorter.min.js"></script>
<script src="{{ STATIC_URL }}jquery.stickytableheaders.min.js"></script>
<script type="text/javascript">

    $(document).ready(function() {


        // Here we select for <table> elements universally,
        // but you can definitely fine tune your selector
        $(".table_results").tablesorter();
        $(".table_results").stickyTableHeaders({fixedOffset: $('.navbar')});
        jQuery.validator.addMethod("lessThanMax", function(value, element) {
            var value = parseFloat(value);
            var max = parseFloat($('#modal_max_score').val());
            return isNaN(value) || value <= max;
        });

        $('#modal-edite-task-form').validate(
        {
            submitHandler: function(form) {
                $("#modal_task_edit_ok").button('loading');
                $(form).ajaxSubmit({
                    success: function() {
                        window.location.reload();
                    },
                });

                return false;
            },
            rules: {
                max_score: {
                    required : true,
                    number : true,
                    min : 0,
                },
                task_title: {
                    required : true,
                    maxlength : 254,
                },
            },

            highlight: function(label) {
                $(label).closest('.control-group').removeClass('success').addClass('error');
            },

            success: function(label) {
                label.addClass('valid').closest('.control-group').addClass('success');
            },

            messages: {
                max_score: {
                    required : "Необходимо указать максимальный балл",
                    number : "Максимальный балл должен быть целым числом",
                    min : "Максимальный балл должен быть больше или равен 0",
                },
                task_title: {
                    required : "Название у задачи необходимо",
                    maxlength : "Не так много",
                },
            },

            errorPlacement: function(error, element) {
                if (element.attr('id') == 'modal_task_header_edit')
                    $('#modal_edit_task_title_error_text').append(error);
                else
                    $('#modal_edit_task_score_error_text').append(error);
            }
        });
    });

    function isInt(x)
    {
        var y = parseInt(x);
        if (isNaN(y))
        {
            return false;
        }
        return x==y && x.toString()==y.toString();
    }

    function get_modal_comment(comments)
    {
        $('#modal_comment_body').html(comments);
        $('#modal_comment').modal('show');
    }

    function get_task_modal(task_id,
                            task_title,
                            task_hidden,
                            task_text_to_show,
                            task_text_to_edit,
                            max_score,
                            is_teacher,
                            mode,
                            contest_id,
                            problem_id,
                            group_id)
    {
        clear();
        $('#modal_edit_task_title_error_text').empty()
        if (mode == 'text')
        {
            $('#modal_header_task_descr').html(task_title);
            $('#modal_body_task_descr').html(task_text_to_show);
            
            if (is_teacher == 'True')
            {
                $('#modal_task_body_edit').val(task_text_to_edit);
                $('#modal_task_header_edit').val(task_title);
                $('#modal_task_max_score_edit').val(max_score);
                $('#modal_task_contest_id_edit').val(contest_id);
                $('#modal_task_problem_id_edit').val(problem_id);
                $('#modal_edit_task_task_id').val(task_id);
                if (task_hidden == "True")
                {
                    $('#hidden_task').attr('checked', true);
                }
                $('#modal_task_group [value="'+ group_id +'"]').attr('selected', 'selected');
                $('#modal-edite-task-form').attr('action', '{% url courses.views.edit_task %}');
        
                $('#edit_task_descr').show();
            }
            else
            {
                $('#edit_task_descr').hide();
            }

            $('#modal_task_desc_edit').hide();
            $('#modal_task_desc_text').show();
        } else
        {
            if (mode == 'edit' && is_teacher == 'True')
            {
                $('#modal_task_desc_text').hide();
                $('#modal_task_body_edit').html(task_text_to_edit);
                $('#modal_task_header_edit').val(task_title);
                $('#modal_task_max_score_edit').val(max_score);
                $('#modal_task_contest_id_edit').val(contest_id);
                $('#modal_task_problem_id_edit').val(problem_id);
                $('#modal_edit_task_task_id').val(task_id);
                if (task_hidden == "True")
                {
                    $('#hidden_task').attr('checked', true);
                }
                $('#modal_task_group [value="'+ group_id +'"]').attr('selected', 'selected');
                $('#modal-edite-task-form').attr('action', '{% url courses.views.edit_task %}');
        
                $('#modal_task_desc_edit').show();
        
            }
        }
    
        $('#modal_task_description').modal('show');
    }
    
    function get_add_task_modal(course_id, group_id, parent_id, is_teacher)
    {
        clear();
        if (is_teacher == 'True')
        {   
            $('#modal_task_desc_text').hide();
            
            $('#modal-edite-task-form').attr('action', '{% url courses.views.add_task %}');
            
            $('#modal_edit_task_course_id').val(course_id);
            if (group_id) {
                $('#modal_edit_task_group_id').val(group_id);
            }
            $('#modal_task_group [value="'+ group_id +'"]').attr('selected', 'selected');
            $('#modal_edit_task_parent_id').val(parent_id);
        
            $('#modal_task_desc_edit').show();
        
            $('#modal_task_description').modal('show');
        }
    }


    function get_pass_task_modal()
    {
        $('#modal_pass_task').modal('show');
    }

    function clear()
    {
        $("#modal_task_edit_ok").button('reset');
        $('#modal_header_task_descr').html();
        $('#modal_body_task_descr').html('');
        $('#modal_task_body_edit').html('');
        $('#modal_task_header_edit').val('');
        $('#modal_task_max_score_edit').val('');
        $('#modal_task_contest_id_edit').val('');
        $('#modal_task_problem_id_edit').val('');
        $('#modal_edit_task_score_error_text').empty();
        $('#modal_edit_task_title_error_text').empty();
        $('#hidden_task').attr('checked', false);
        $('#review_data').find('[name="pdf"]').html('');
        $('#review_data').find('[name="pdf_update_time"]').html('');
        $('#review_data').find('[name="gr_review"]').html('');
        $('#review_data').find('[name="gr_review_update_time"]').html('');
        $('#teaher_information').html('');
        $('#modal_score_task_id').html('');
        $('#modal_score_student_id').html('');
        $('#modal_current_status').html('');
        $('div[name="status_body"]').find('div[class="radio"]').html('');
        $('#modal_status').find('student_id').html('');
        $('#modal_status').find('task_id').html('');
    }

    function get_edit_course_modal(course_id, course_desc)
    {
        $('#course_information').val(course_desc);

        var href_string = "javascript:edit_course_info(" + course_id + ");";
        $('#modal_course_info_ok').attr('href', href_string);

        $('#modal_course_information').modal('show');
    }

    function edit_course_info(course_id, group_id, parent_id)
    {
        var course_info = $('#course_information').val();

        var csrf_token = "{{ csrf_token }}";

        $("#modal_course_info_ok").button('loading');
        $.post('{% url courses.views.edit_course_information %}',
                { 'course_id' : course_id, 'course_information' : course_info, 'csrfmiddlewaretoken' : csrf_token, },
                function (data) {
                    window.location.reload();
                });
    }

    function set_spectial_course_attend(course_id, action)
    {
        var csrf_token = "{{ csrf_token }}";
        $.post('{% url courses.views.set_spectial_course_attend %}',
                { 'course_id' : course_id, 'action' : action, 'csrfmiddlewaretoken' : csrf_token, },
                function (data) {
                    window.location.reload();
                });

    }

</script>
