<div class="modal hide" id="modal_task_description">
    <div class="hide" id="modal_task_desc_text">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3 id="modal_header_task_descr"></h3>
            <div class="hide" id="edit_task_descr">
                <a href="javascript:change_to_edit();">Редактировать</a>
            </div>
        </div>
        <div class="modal-body">
            <div id="modal_body_task_descr"></div>
        </div>
    </div>

    <div class="hide" id="modal_task_desc_edit">
        <form action="" method="post" id="modal-edite-task-form" class="form-horizontal" style="margin-bottom: 0px;">
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>

                <div class="control-group" id="modal_control_edit_title_group">
                    <label class="control-label" for="modal_edit_task_title">Название:</label>
                    <div class="controls">
                        <input id='modal_task_header_edit' name='task_title' type='text' size='20'>
                        <span class="help-inline" id="modal_edit_task_title_error_text"></span>
                    </div>
                </div>

            </div>
            <div class="modal-body" id="modal_body_task_descr_edit">

                <input type="hidden" id="modal_edit_task_task_id" name="task_id" />
                <input type="hidden" id="modal_edit_task_course_id" name="course_id" />
                <input type="hidden" id="modal_edit_task_group_id" name="group_id" />
                <input type="hidden" id="modal_edit_task_parent_id" name="parent_id" />
                    
                <div class="control-group" id="modal_control_edit_score_group">
                    <label class="control-label" for="modal_task_max_score_edit">Максимальный балл:</label>
                    <div class="controls">
                        <input id='modal_task_max_score_edit' name='max_score' type='text' maxlength='25' size='20'>
                        <span class="help-inline" id="modal_edit_task_score_error_text"></span>
                     </div>
                </div>
                {% if course.contest_integrated %}
                <div class="control-group" id="modal_control_edit_contest_group">
                    <label class="control-label" for="modal_task_contest_id_edit">ID контеста:</label>
                    <div class="controls">
                        <input id='modal_task_contest_id_edit' name='contest_id' type='text' maxlength='25' size='20'>
                    </div>
               </div>
               <div class="control-group" id="modal_control_edit_problem_group">
                    <label class="control-label" for="modal_task_problem_id_edit">Литера задачи в контесте:</label>
                    <div class="controls">
                        <input id='modal_task_problem_id_edit' name='problem_id' type='text' maxlength='25' size='20'>
                     </div>
                </div>
                {% endif %}
                <div class = "control-group">
                    <label class="control-label" for="modal_task_group"> Группа:</label>
                    <div class="controls">
                    <select id='modal_task_group' name="task_group_id">
                        <option value=""> Для всех групп </option>
                    {% for group in course.groups.all %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                    {% endfor %}
                    </select>
                    </div>
                </div>
                <br>
                <div>
                    <label class="checkbox inline">
                        <input type="checkbox" name="hidden_task" id="hidden_task">Скрыть задачу
                    </label>
                </div><br/>
                Формулировка: <br>
                <textarea class='input-xlarge' style="width: 98%" id='modal_task_body_edit' rows='10' cols='800' name='task_text'></textarea>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <button type="submit" id="modal_task_edit_ok" class="btn btn-primary" data-loading-text="Updating ...">OK</button>
            </div>
        </form>
    </div>

</div>

<div class="modal hide" id="modal_course_information">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 id="modal_course_information_header">Описание курса</h3>
    </div>
    <div class="modal-body">
        <textarea class='input-xlarge' style="width: 98%" id='course_information' rows='10' cols='800' name='text'></textarea>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary" id="modal_course_info_ok" data-loading-text="Updating...">OK</a>
    </div>
</div>
