<div class="modal fade" id="modal_task_description" tabindex="-1" role="dialog" aria-labelledby="modal_header_task_descr" aria-hidden="true">
{% load i18n %}
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5  class="modal-title" id="modal_header_task_descr" style="display: inline-block; "></h5>
                <a id="modal_task_descr_edit_button" type="button" style="opacity:0.2;filter: alpha(opacity=20);color:#000000;display: inline-block;vertical-align: super;margin-left: 5px;"><i class="fa fa-edit fa-lg"></i></a>
                <div id="modal_header_deadline_time"></div>
            </div>
            <div class="modal-body">
                <div id="modal_body_task_descr"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_course_information" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="modal_course_information_header">{% trans "opisanie_kursa" %}</h5>
            </div>
            <div class="modal-body" style="max-height: none;">
                <textarea class='input-xlarge form-control' style="width: 100%;resize: none;" id='course_info_edit' rows='13' cols='800' name='text'></textarea>
                <div class="alert alert-danger" role ="alert" id="update_course_info_error_text" style="margin: 1rem 0 0 0;">
                    <span>{% trans "oshibka_poprobujte_eshe" %}</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "zakryt" %}</button>
                <button type="button" class="btn btn-primary" id="modal_course_info_ok" data-loading-text="{% trans "sohranenie" %}">{% trans "sohranit" %}</button>
            </div>
        </div>
    </div>
</div>
