.card-title-block {
    display: table;
    margin-bottom: 0.5rem;
}

.card-title-block h5.card-title {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
}

.table-link {
    color: #373a3c;
}

.btn-table-fullscreen,
.btn-table-edit {
    display: none;
    vertical-align: top;
    margin: 2px;
    padding: 6px;
}

.loading-table-img {
    text-align: center
}

.loading-table-img span.fa {
    opacity: 0.2;
    filter: alpha(opacity=20);
    color: #000;
}

.zui-wrapper {
    margin-top: -2.8rem;
}

.text-center {
    text-align: center;
}

.table-results td {
    vertical-align: middle;
}

.table-results td {
    padding: .3rem;
}

.table-results tr.odd td.sticky-col {
    background-color: #f1f1f1;
}

.table-results tr.even td.sticky-col {
    background-color: #fafafa;
}

.table-results tr.odd.table-info td.sticky-col {
    background-color: #d9edf7;
}

.table-results tr.even.table-info td.sticky-col {
    background-color: #d9edf7;
}

.table-results th .hidden-task-title {
    color: #777;
}

.task-mark-form,
.task-mark-form fieldset {
    margin: 0;
}

.task-mark-form input[name="mark_value"] {
    margin: 0;
    width: 22px;
    height: 18px;
    line-height: 14px;
    font-size: 12px;
    padding: 0 2px;
}

.task-mark-form span.text-help {
    display: none;
}

.mark-form {
    margin: 0;
}

.mark-form select[name="mark_id"] {
    margin: 0;
    width: auto;
    height: 1rem;
    line-height: 1rem;
    font-size: 12px;
    padding: 2px 6px;
}

.word-wrap {
    font-weight: normal;
    white-space: nowrap;
}

.group-sortable {
    list-style-type: none;
    margin: 0 0 1rem 0;
    padding: 0;
}

.group-sortable li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    word-wrap: break-word;
}

#modal_table_edit .modal-body {
    max-height: none;
}

#modal_table_edit .modal-group-name {
    font-weight: bold;
}

#modal_table_edit ul.group-sortable li {
    padding-right: 20px;
    position: relative;
    cursor: -webkit-grab;
}

#modal_table_edit ul.group-sortable li a {
    cursor: pointer;
}

.ui-state-default {
    background: inherit;
    background-color: #f6f6f6;
    font-weight: inherit;
    color: inherit;
}

.ui-state-default .task-delete,
.ui-state-default .task-seminar-notempty {
    position: absolute;
    right: 0;
    padding-right: 3px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);

}

.ui-state-default .task-delete .fa {
    color: #333333;
    line-height: inherit;
}

.ui-state-default .task-delete:hover .fa {
    color: #d9534f;
}

.ui-state-delete {
    background-color: #ff856a;
    border-color: #ae574b;
}

.popover-content ul {
    margin-bottom: 0;
    list-style: none;
}

.popover-content label.checkbox.disabled {
    color: #777;
}

.popover-content li:last-child label {
    margin-bottom: 0;
}

.popover-footer {
    padding: 5px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.popover-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}

.popover.legend.static {
    transform: translateX(15px) translateY(140px) translateZ(0px) !important;
}
.popover.legend.sticky {
    transform: translateX(15px) translateY(94px) translateZ(0px) !important;
    position: fixed !important;
}
.popover-arrow.legend {
    left: 20% !important;
}

.buttons-html5 {
    margin: 2px;
    padding: 6px;
    line-height: 1rem;
}

.ui-state-default .task-seminar-notempty .fa {
    opacity: 0.2;
    filter: alpha(opacity=20);
    color: #000000;
    line-height: inherit;
}

.ui-state-default .task-seminar-notempty:hover .fa {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#legend {
    height: 45px;
    z-index: 5;
}

#legend .card.card-block {
    padding: .1rem;
    background-color: #f5f8fa;
    border-color: #f5f8fa;
    margin-bottom: 0rem;
    padding-left: 0rem;
}