#nav_schools li.nav-item,
#modal_nav_role li.nav-item {
    cursor: pointer;
}

.card-header {
    background-color: inherit;
}

.loading-table-img {
    text-align: center
}

.loading-table-img span.fa {
    opacity: 0.2;
    filter: alpha(opacity=20);
    color: #000;
}

.table-container {
    display: none;
}

.table-users {
    width: 100%
}

.table-users th {
    white-space: nowrap;
}

.table-users td,
.table-users th,
.table-roles td,
.table-roles th {
    vertical-align: middle;
}

.table-users td.centered,
.table-users th.centered,
.table-roles td.centered,
.table-roles th.centered {
    text-align: center;
}

.table-link {
    color: #373a3c;
    cursor: pointer;
}

.table-link:hover {
    color: #014c8c;
}

.table-users th select,
.table-users th input {
    font-weight: normal;
    width: 100% !important;
}

.table-users .search {
    margin-top: .375rem;
    box-sizing: border-box;
}

.table-link.dropdown-toggle {
    padding: 0;
    border: none;
}

.table-link.dropdown-toggle .fa {
    line-height: 1;
}

.table-link.dropdown-toggle::after {
    margin: 0;
}

.table-users .dropdown-item {
    width: auto;
}

#modal_nav_role {
    padding-bottom: 1.25rem;
}

.loading {
    text-align: center;
}

#modal_role .form-control-label {
    padding: .375rem .9375rem;
}

#modal_role .multiselect-container span.fa {
    line-height: inherit;
}

#modal_role .multiselect-container label {
    width: 100%;
    padding-left: 30px;
}

#modal_role .multiselect-container li.filter {
    box-sizing: border-box;
}

#modal_role .multiselect-container li.filter .multiselect-search {
    padding: .25rem .75rem;
    width: 100%;
}

#modal_role .multiselect-container li.filter .input-group-btn {
    width: 1%;
}

#modal_role .multiselect-container li.filter div.input-group {
    padding: 5px 15px 5px 10px;
    margin: 0;
    width: 100%;
}

#modal_role .multiselect-container li:not(.multiselect-item) label {
    padding-left: 40px;
}

#modal_new_role_adv_settings_btn {
    margin-bottom: 1.25rem;
}

#modal_new_role_table {
    margin-top: -6px;
}

#modal_role span.modal-role-readmore-toggle {
    cursor: pointer;
    display: inline;
    width: auto;
}

#modal_role span.modal-role-readmore-toggle:hover {
    color: #014c8c;
}

#modal_new_role_table[data-readmore].active {
    overflow: visible;
}

.btn-table {
    box-sizing: border-box;
    width: 100%;
}

.table-roles td.has-danger button {
    color: #d9534f;
    border-color: #d9534f;
}

.table-roles td label.error {
    display: none !important;
}

#modal_roles_accordion div.card-header a.card-link:focus {
    text-decoration: none;
}

#modal_roles_accordion div.card-header a.card-link:focus {
    text-decoration: none;
}

#modal_roles_accordion div.card-header:focus,
#modal_roles_accordion div.card-header:hover {
    cursor: pointer;
}

#modal_roles_accordion div.card-header:focus a,
#modal_roles_accordion div.card-header:hover a {
    color: #014c8c;
}

#modal_roles_accordion .btn-delete-role {
    color: #777;
    line-height: inherit;
    cursor: pointer;
}

#modal_roles_accordion .btn-delete-role:focus {
    outline: none;
    color: #d9534f;
}

#modal_roles_accordion .btn-delete-role:hover {
    color: #d9534f;
}

.popover {
    top: 20px !important;
}

.popover-arrow {
    top: 20px !important;
}

.popover-footer {
    padding: 5px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.popover-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}

.bootstrap-tagsinput {
    display: block;
    width: 100%;
    padding: .375rem 2.375rem .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: .25rem;
}

.bootstrap-tagsinput.focus {
    border-color: #66afe9;
    outline: 0;
}

.bootstrap-tagsinput .twitter-typeahead {
    float: none !important;
    display: inline !important;
    position: static !important;
}

.bootstrap-tagsinput .tt-menu {
    padding: 0;
    /*left: .9375rem !important;*/
    /*width: calc(100% - 1.875rem);*/
}

.bootstrap-tagsinput input {
    padding: 0;
}

.bootstrap-tagsinput .tag {
    white-space: normal;
}

.bootstrap-tagsinput .sgs-result-up table tr {
    background-color: transparent;
}

.bootstrap-tagsinput .sgs-result-up table td {
    border-width: 0;
    padding: 0;
    font-weight: normal;
    line-height: 1.42857143;
}

.btn-add-tags {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

.btn-add-tags:hover,
.btn-add-tags:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    outline: 0;
}

.has-danger .bootstrap-tagsinput {
    border-color: #d9534f;
}

.btn-add-tags span.fa {
    line-height: 1.5;
}

.btn-add-tags span:not(.fa) {
    font-weight: bold;
}

.users-or-groups-div {
    position: relative;
    box-sizing: border-box;
    text-align: left;
}
