<div class="accordion" id="accordion2">
  {% for field in issue_fields %}
    {% if field.is_visible %}
      <div class="accordion-group">
        <div class="accordion-heading">
          <div class="row-fluid col-wrap">
            <div class="span4">
              <div class="pull-right">
                {% if field.editable %}
                  <a href="#" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}">{{ field.title }}</a>:
                {% else %}
                  {{ field.title }}:
                {% endif %}
              </div>
            </div>
            <div class="span8">
              {% autoescape off %}
              {% if field.repr  or field.repr == 0 %}
                  {{ field.repr }}
                {% else %}
                  ---
                {% endif %}
              {% endautoescape %}
            </div>
          </div>
        </div>
        <div id="collapse{{ forloop.counter }}" class="accordion-body collapse">
          <div class="accordion-inner">
            <form method="post" id="{{ field.name }}_form" enctype="multipart/form-data">
              {% csrf_token %}
              <fieldset class="control-group">
                <input type="hidden" name="form_name" value="{{ field.name }}_form">
                {% if field.name == 'mark' %}
                  <input type="hidden" id="max_mark" value="{{ issue.task.score_max }}">
                {% endif %}
                {{ field.form }}
                {% if field.name == 'mark' %}
                  <span class="help-inline" id="mark_edit_error_text"></span>
                {% endif %}
                <br>
                <button type="submit" class="btn">Отправить</button>
                {% if field.name == 'responsible_name' or field.name == 'followers_names' %}
                  <button type="submit" class="btn" name="Me">Я</button>
                {% endif %}
                {% if field.name == 'mark' %}
                  <button type="submit" class="btn" name="Accepted">Зачтено</button>
                {% endif %}
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
      <div class="accordion-group">
        <div class="accordion-heading">
          <div class="row-fluid col-wrap">
            <div class="span4">
              <div class="pull-right">
                  Дата сдачи:
              </div>
            </div>
            <div class="span8">
                {{ issue.task.deadline_time|date:'d-m-Y H:i' }} {% if issue.task.deadline_time %} MSK UTC+3 {% endif %}
            </div>
          </div>
        </div>
      </div>
</div>
