<script src="{{ STATIC_URL }}jquery.validate.min.js"></script>
{# <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script> #}
{# <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js"></script> #}
<script src="http://malsup.github.io/jquery.form.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.3.0/trumbowyg.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.3.0/langs/ru.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.3.0/plugins/preformatted/trumbowyg.preformatted.min.js'></script>

<link href='https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.3.0/ui/trumbowyg.min.css' rel='stylesheet' />
<link href='https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.3.0/plugins/colors/ui/trumbowyg.colors.min.css' rel='stylesheet' />

<script type="text/javascript">
    $.trumbowyg.svgPath = '{{ STATIC_URL }}trumbowyg-icons.svg';
    $.extend(true, $.trumbowyg, {
        langs: {
            ru: {
                superscript: "Надстрочный",
                subscript: "Подстрочный",
                preformatted: "Пример кода",
                removeformat: "Очистить форматирование",
                undo: 'Отменить',
                redo: 'Повторить'
            }
        }
    });

    $(document).ready(function () {
        $('#id_comment').trumbowyg({
            lang: 'ru',
            btns: [
                ['formatting'],
                'btnGrp-design',
                ['link'],
                ['insertImage'],
                'btnGrp-lists',
                ['horizontalRule'],
                ['preformatted'],
                ['removeformat'],
                ['undo', 'redo']
            ],
            resetCss: true,
            removeformatPasted: true
        });

        $('div.trumbowyg').on('DOMNodeInserted', '.trumbowyg-modal-box', function(e) {
            $('.trumbowyg-modal-box input[name="title"]').closest("label").hide();
            $('.trumbowyg-modal-box input[name="target"]').val('_blank').closest("label").hide();
        });

        $("#id_comment").keydown(function (e) {
            if (e.ctrlKey && e.keyCode == 13) {
                $("form#comment").submit();
            }
        });

        $('div.container form:not(.navbar-form)').submit(function(e){
            var d = 'disabled';
            if ($(this).valid()) {
                $(this).find('button[type="submit"]:first').attr(d, d).prop(d, true).html("<span class='fa fa-circle-o-notch fa-spin fa-fw'></span> Сохранение");
                $(this).find('button[type="submit"]:not(:first)').hide();
                $(this).find('.dropdown-submit').hide();
            }
        });

        $('#modal_task_description_btn').click(function (e) {
            $('#modal_task_description').modal('show');
            e.preventDefault();
        });

        jQuery.validator.addMethod("lt_max", function(value, element) {
            var value = parseFloat(value);
            var max = parseFloat($('#max_mark').val());
            return isNaN(value) || value <= max;
        });

        $("#mark_form").validate({
            rules: {
                mark: {
                    required : true,
                    number: true,
                    min: 0,
                    lt_max: true
                }
            },

            highlight: function(input) {
                $(input).removeClass('form-control-success').addClass('form-control-danger');
                $('#mark_fieldset_id').removeClass('has-success').addClass('has-danger');
            },

            success: function(label) {
                label.addClass('valid');
                $('#id_mark').removeClass('form-control-danger').addClass('form-control-success');
                $('#mark_fieldset_id').removeClass('has-danger').addClass('has-success');
            },

            messages: {
                mark: {
                    required : "Необходимо указать оценку",
                    number : "Оценка должна быть натуральным числом",
                    min : "Оценка должна быть больше или равна 0",
                    lt_max : "Оценка не должна быть больше " + $('#max_mark').val()
                }
            },

            errorPlacement: function (error, element) {
                $('#mark_edit_error_text').empty().append(error );
            }
        });
    });

    function add_file_field() {
        var files = $('#id_files')[0].outerHTML;
        $("#file_field").append('<tr><td>' + files + '</td></tr>');
    }


</script>
