<script src="{{ STATIC_URL }}jquery.validate.min.js"></script>
{# <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script> #}
{# <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js"></script> #}
<script src="http://malsup.github.io/jquery.form.js"></script>
<script type="text/javascript">


$(document).ready(function() {
  $("#id_comment").keydown(function (e) {
    if (e.ctrlKey && e.keyCode == 13) {
      $("form#comment").submit();
    }
  });

  {# $("#mark_form").validate({ #}
    {# debug: true, #}
    {# rules: { #}
      {# id_mark: { #}
        {# required: true, #}
        {# number: true #}
      {# } #}
    {# } #}
  {# }); #}

  {# $('#id_mark').validate({ #}
    {# debug: true, #}
  {# }); #}
  $("#error_text_mark").val("text");
  $("#mark_form").validate({
    rules: {
      mark: {
        number: true,
        min: 0,
      }
    },
    highlight: function(label) {
    },

    {# success: function(label) { #}
      {# $("button#btn").removeClass('btn').addClass('error'); #}
    {# }, #}

    {# errorPlacement: function(error, element) { #}
      {# $("#error_text").append(error); #}
    {# } #}
  });
});

function add_file_field() {
  var files = $('#id_files')[0].outerHTML;
  $("#file_field").append('<tr><td>' + files + '</td></tr>');
}


</script>
