<script src="{{ STATIC_URL }}jquery.validate.min.js"></script>
{# <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script> #}
{# <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js"></script> #}
<script src="http://malsup.github.io/jquery.form.js"></script>
<script src="{{ STATIC_URL }}tinymce/tinymce.min.js"></script>
<script src="{{ STATIC_URL }}tinymce/jquery.tinymce.min.js"></script>
<script src="{{ STATIC_URL }}prism.js"></script>

<link href="{{ STATIC_URL }}prism.css" rel='stylesheet' />
<link href="{{ STATIC_URL }}tinymce-style-issue-comment.css" rel='stylesheet' />
<link href="{{ STATIC_URL }}tinymce-style-task.css" rel='stylesheet' />

<script type="text/javascript">
    var tinymce_default = {
        language: 'ru',
        skin: 'bootstrap4',
        content_css: [
            'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css',
            '{{ STATIC_URL }}tinymce-style-issue-comment.css',
            '{{ STATIC_URL }}prism.css'
        ]
    };

    $(document).ready(function () {
        $(document).on('focusin', function(e) {
            if ($(e.target).closest(".mce-window").length) {
                e.stopImmediatePropagation();
            }
        });

        var info_width = $('ul.history').closest('.card').innerWidth();

        $("#id_comment").tinymce($.extend({}, tinymce_default, {
            setup: function(editor) {
                editor.addButton('preview_text', {
                    icon: false,
                    text: 'Preview',
                    cmd: 'mcePreview'
                });
                editor.addMenuItem('codesample', {
                    icon: 'codesample',
                    text: 'Insert/Edit code sample',
                    cmd: 'codesample'
                });
            },
            plugins: [
                'autoresize autosave autolink codesample hr image link lists',
                'table textpattern wordcount contextmenu preview paste'
            ],
            menubar: false,
            toolbar: 'undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | image link hr | blockquote codesample table | preview_text',
            autoresize_bottom_margin: 10,
            autoresize_overflow_padding: 10,
            image_description: false,
            link_assume_external_targets: true,
            default_link_target: "_blank",
            target_list: false,
            link_title: false,
            table_default_attributes: {
                "class": 'table table-bordered table-comment'
            },
            textpattern_patterns: [
                {start: '1. ', cmd: 'InsertOrderedList'}
            ],
            contextmenu: "link image codesample",
            paste_auto_cleanup_on_paste : true,
            paste_remove_styles: true,
            paste_remove_styles_if_webkit: true,
            paste_strip_class_attributes: true,
            plugin_preview_width: info_width,
            autosave_ask_before_unload: false
        }));

        $("textarea.comment-verdict").tinymce($.extend({}, tinymce_default, {
            plugins: [
                'autolink lists paste placeholder'
            ],
            content_style: "body {padding: .375rem .75rem;}",
            height: 40,
            menubar: false,
            toolbar: false,
            statusbar: false,
            default_link_target: "_blank",
            autosave_ask_before_unload: false
        }));

        $("#id_comment").keydown(function (e) {
            if (e.ctrlKey && e.keyCode == 13) {
                $("form#comment").submit();
            }
        });

        $('div.container form:not(.navbar-form)').submit(function(e){
            var d = 'disabled';
            if ($(this).valid()) {
                $(this).find('button[type="submit"]:first').attr(d, d).prop(d, true).html("<span class='fa fa-circle-o-notch fa-spin fa-fw'></span> Сохранение");
                $(this).find('button[type="submit"]:not(:first)').hide();
                $(this).find('.dropdown-submit').hide();
            }
        });

        $('#modal_task_description_btn').click(function (e) {
            $('#modal_task_description').modal('show');
            e.preventDefault();
        });

        jQuery.validator.addMethod("lt_max", function(value, element) {
            var value = parseFloat(value);
            var max = parseFloat($('#max_mark').val());
            return isNaN(value) || value <= max;
        });

        $("#mark_form").validate({
            rules: {
                mark: {
                    required : true,
                    number: true,
                    min: 0,
                    lt_max: true
                }
            },

            highlight: function(input) {
                $(input).removeClass('form-control-success').addClass('form-control-danger');
                $('#mark_fieldset_id').removeClass('has-success').addClass('has-danger');
            },

            success: function(label) {
                label.addClass('valid');
                $('#id_mark').removeClass('form-control-danger').addClass('form-control-success');
                $('#mark_fieldset_id').removeClass('has-danger').addClass('has-success');
            },

            messages: {
                mark: {
                    required : "Необходимо указать оценку",
                    number : "Оценка должна быть натуральным числом",
                    min : "Оценка должна быть больше или равна 0",
                    lt_max : "Оценка не должна быть больше " + $('#max_mark').val()
                }
            },

            errorPlacement: function (error, element) {
                $('#mark_edit_error_text').empty().append(error );
            }
        });
    });

    function add_file_field() {
        var files = $('#id_files')[0].outerHTML;
        $("#file_field").append('<tr><td>' + files + '</td></tr>');
    }


</script>
