{% load i18n %}
<div style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color: #373a3c;margin: 0;padding:40px 10px;width:100%;background-color: #f5f8fa;">
    <table cellpadding="0" cellspacing="0"
           style="border-collapse:collapse;color:#373a3c;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;margin:0 auto;padding:0;table-layout:fixed;width:768px;">
        <tbody>
        <tr>
            <td style="border-collapse:collapse;">
                <div style="background:#fff;padding:20px 30px 20px 30px;border: 1px solid rgba(0,0,0,.125);">
                    <table cellpadding="0" cellspacing="0" style="border-collapse: separate;">
                        <tbody>
                        <tr>
                            <td width="30%">&nbsp;</td>
                            <td bgcolor="#0275d8"
                                width="40%"
                                style="border: 1px solid #0275d8;background-color: #0275d8;border-radius: 4px">
                                <a href="{{ domain }}/shad2017/activate/{{ activation_key }}"
                                   target="_blank"
                                   style="color:#fff;padding: 8px 16px;font-size:17px;line-height:20px;font-weight:normal;text-decoration:none;display:block;height:20px;text-align: center"
                                >{% trans "Перейти к задачам" %}</a>
                            </td>
                            <td width="30%">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" height="20px">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" style="color: #777;font-size:12px;line-height:20px;font-weight:normal;text-decoration:none;">
                                {% trans "Если данное письмо пришло Вам ошибочно, перейдите по " %}
                                <a href="{{ domain }}/shad2017/decline/{{ activation_key }}"
                                   target="_blank"
                                >{% trans "ссылке" %}</a>{% trans ", чтобы мы удалили данные о Вас или просто проигнорируйте его." %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
