<div style="margin: 0;padding:30px;background-color: #f6f6f6;">
    <table cellpadding="0" cellspacing="0" width="608"
           style="border-collapse:collapse;color:#373a3c;font-family:Arial,sans-serif;font-size:15px;margin:0 auto;padding:30px">
        <tbody>
        <tr>
            <table cellpadding="0" cellspacing="0"width="100%"
                   style="border-collapse:collapse;color:#373a3c;font-family:Arial,sans-serif;font-size:15px;margin:0 auto;padding:0;">
                <tbody>
                <tr>
                    <td style="border-collapse:collapse;">
                        <div style="background:#fff;padding:20px 30px 20px 30px;">
                            <table cellpadding="0" cellspacing="0" style="border-collapse: separate;font-size:15px;">
                                <tbody>
                                <tr>
                                    <td colspan="3">
                                        <table cellpadding="0" cellspacing="0" style="border-collapse: separate;font-size:15px;">
                                            <tbody>
                                            <tr>
                                                <td>Добрый день!</td>
                                            </tr>
                                            <tr height="20px" style="height: 20px">
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: justify">Мы получили вашу анкету посупающего в ШАД, однако email, который вы в ней указали, уже испольузется другим участником отбора. Возможно вы уже регистрировались? В таком случае на указанный email должно было прийти письмо с дальнейшими инструкциями по участию в отборе в ШАД (если его не видно, на всякий случай проверьте папку спам).</td>
                                            </tr>
                                            <tr height="20px" style="height: 20px">
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: justify">Если письмо не нашлось или есть другие вопросы - пожалуйста, напишите нам на&nbsp;<a
                                                        href="mailto:shad@yandex-team.ru"
                                                        style="text-decoration:none;color:#4d7fd2;"
                                                >shad@yandex-team.ru</a>.</td>
                                            </tr>
                                            <tr height="20px" style="height: 20px">
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr height="20px" style="height: 20px">
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: justify">С уважением,</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: justify">Команда кураторов ШАД</td>
                                            </tr>
                                            <tr height="20px" style="height: 20px">
                                                <td>&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </tr>
        </tbody>
    </table>
    {#    <table cellpadding="0" cellspacing="0" style="border-collapse: separate;margin: 0 auto;">#}
    {#        <tbody>#}
    {#        <tr>#}
    {#            <td colspan="3" height="20px">&nbsp;</td>#}
    {#        </tr>#}
    {#        <tr>#}
    {#            <td style="color: #777;font-size:9px;line-height:20px;font-weight:normal;text-align: justify">#}
    {#                Если данное письмо пришло Вам ошибочно, перейдите по&nbsp;<a#}
    {#                    style="text-decoration:none;color:#4d7fd2;"#}
    {#                    href="{{ domain }}/shad2017/decline/{{ activation_key }}"#}
    {#                    target="_blank"#}
    {#            >ссылке</a>, чтобы мы удалили данные о Вас или просто проигнорируйте его.#}
    {#            </td>#}
    {#        </tr>#}
    {#        </tbody>#}
    {#    </table>#}
</div>
