{% extends "base.html" %}

{% load sanitize_html %}

{% block title %}Описание задач курса {{ cource.name }} | {{ cource.year }}{% endblock %}

{% block content %}

<div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="{% url cources.views.tasks_list cource_id=cource.id %}">Список по группам</a></li>
      <li class="active"><a href="{% url cources.views.tasks_description cource.id %}">Описание задач</a></li>
    </ul>
</div>

<h3>{{ cource.name }} <small>{{ cource.year }}</small></h3>

<div class="row span8">
	{% for group,tasks in group_x_tasks.items %}
		<h2>{{ group.name }}</h2>
		<dl>
			{% for task in tasks %}
				<dt>{{ task.title }}</dt>
				<dd>{{ task.task_text|sanitize|safe }}</dd>
				<br>
			{% endfor %}
		</dl>
	{% endfor %}
	{% if cource_tasks %}
		<h2>Задачи курса</h2>
		<dl>
		{% for task in cource_tasks %}
				<dt>{{ task.title }}</dt>
				<dd>{{ task.task_text|sanitize|safe }}</dd>
				<br>
		{% endfor %}
		</dl>
	{% endif %}
</div>
{% endblock %}