<div class="row">
    <div class="span9">
        <p>
            Вот что мы отправим:
        </p>
        <form id="submit_review_form" action="{{ request.get_full_path }}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="rev_a" value="{{ rev_a }}">
            <input type="hidden" name="rev_b" value="{{ rev_b }}">
            <table class="table">
                <tr><th>Revision<th>Author<th>Datetime<th>Log message</tr>
                {% for log in logs %}
                    <tr><td>{{ log.0 }}
                        <td>{{ log.1 }}
                        <td>{{ log.2 }}
                        <td>{{ log.3 }}
                    </tr>
                {% endfor %}
            </table>
            <button type="submit" id="submit" class="btn btn-primary">Отправить</button>
        </form>

    </div>
</div>
