@media (min-width: 991px) {
    .mailbox_menu {
        padding-right: 0;
    }
}

@media (max-width: 991px) {
    .form-control-label {
        padding: 0 .9375rem;
        margin-bottom: .5rem;
    }
}

.form-control-label {
    padding: .375rem .9375rem;
    margin-bottom: .5rem;
}

.fa {
    line-height: 1.5;
}

.mailbox_menu li {
    color: #0275d8;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mailbox_menu li:focus,
.mailbox_menu li:hover {
    color: #014c8c;
}

.mailbox_menu li.active {
    color: #fff;
    background-color: #0275d8;
}

.mailbox_menu li .label {
    line-height: 1.5;
    padding: .25em .5em;
}

.mail-option,
.mail-new-option {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mail-checkbox {
    vertical-align: middle;
    cursor: pointer;
}

.table-mailbox {
    border: 1px solid #eceeef;
    margin-bottom: 0;
    table-layout: fixed;
}

.table-mailbox thead {
    display: none;
}

.table-mailbox tr {
    cursor: pointer;
}

.table-mailbox td {
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.table-mailbox .inbox-small-cells {
    width: 1rem;
    text-align: right;
}

.table-mailbox .sender {
    width: 30%;
}

.table-mailbox .title {
    width: 50%;
}

.table-mailbox .date {
    width: 20%;
}

.table-mailbox tr.unread {
    font-weight: bold;
}

.table-mailbox tr.unread td:first-child {
    border-left: 2px solid #0275d8;
}

.table-mailbox .text-right {
    text-align: right;
}

.dataTables_filter .input-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
    width: 100% !important;
    margin-left: 0 !important;
}

.dataTables_filter label {
    width: 100%;
}

.dataTables_info {
    padding-top: 0.475em !important;
    font-size: .875rem;
}

.dataTables_processing {
    color: #333;
    background-color: rgba(0, 0, 0, 0.09);
}

.loading {
    text-align: center;
}

tr.selected {
    background-color: rgba(2, 133, 255, 0.14);
}

tr.selected:hover {
    background-color: rgba(2, 133, 255, 0.29) !important;
}

img.avatar-sm {
    width: 30px;
    height: 30px;
}

.muted-info {
    opacity: 0.5;
    margin-right: 5px;
}

.muted-info:hover,
.muted-info:active,
.muted-info:focus {
    opacity: 1;
}

.muted-info:after {
    content: ", ";
}

.muted-info:last-child:after {
    content: normal;
}

.muted-info:hover:after,
.muted-info:active:after,
.muted-info:focus:after {
    opacity: 0;
}

.bootstrap-tagsinput {
    display: block;
    width: 100%;
    padding: .375rem 2.375rem .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: .25rem;
    margin-bottom: 1.2rem;
}

.bootstrap-tagsinput.focus {
    border-color: #66afe9;
    outline: 0;
}

.bootstrap-tagsinput .twitter-typeahead {
    float: none !important;
    display: inline !important;
    position: static !important;
}

.bootstrap-tagsinput .tt-menu {
    padding: 0;
    left: .9375rem !important;
    width: calc(100% - 1.875rem);
    margin-top: -1.2rem;
}

.bootstrap-tagsinput input {
    padding: 0;
}

.btn-add {
    cursor: pointer;
    background: 0 0;
    border: 0;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

.btn-add:hover,
.btn-add:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    outline: 0;
}

.has-danger .bootstrap-tagsinput {
    border-color: #d9534f;
}

div.controls #new_title {
    margin-bottom: 1.2rem;
}

small.text-help .error {
    margin: -1.2rem 0 0 0;
}

.ms-container {
    width: 100%;
}

.multiselect-container li:not(.multiselect-item) {
    padding-left: 20px;
}

.multiselect-container li.multiselect-group label {
    padding-left: 40px;
}

.build-in {
    position: relative;
    margin: 0 -15px;
}

.build-in .filter {
    margin: 0 15px;
}

.build-in li label{
    text-overflow: ellipsis;
    overflow: hidden;
}

#blockDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: rgba(255, 253, 253, 0.57);
}

#blockDiv div {
    position: absolute;
    top: 50%;
    right: 50%;
}