{% extends "base.html" %}
{% load i18n %}
{% load sanitize_html icon %}
{% load dict_func %}
{#{% load task_taken_func %}#}
{% load django_bootstrap_breadcrumbs %}


{% block title %}{% if is_create %}{% trans "sozdanie_zaniatia" %}{% else %}{{ lesson.title }}{% endif %} | {{ course.name }} | {{ course.year }}{% endblock %}

{% block scripts %}
    <link href="{{ STATIC_URL }}lesson.css" rel='stylesheet'/>

    {% include "lesson_create_or_edit_js.html" %}
    {% include "lesson_tinymce_js.html" %}
{% endblock scripts %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if school %}
        {% breadcrumb school.name school.get_absolute_url %}
    {% endif %}
    {% breadcrumb course.name course.get_absolute_url %}
    {% if is_create %}
        {% breadcrumb_for "" %}{% trans "sozdanie_zaniatia" %}{% endbreadcrumb_for %}
    {% else %}
        {% breadcrumb_for "" %}{% trans "redaktirovanie_zaniatia" %}{% endbreadcrumb_for %}
    {% endif %}
{% endblock breadcrumbs %}

{% block content %}
    {{ block.super }}

    <div class="row collapse">
        <div class="col-md-12">
            <div id="lesson_edit" class="card card-block">
                <h5 class="card-title">{% trans "sozdanie_zaniatia" %}</h5>
                <form method="post" id="lesson_edit_form" >
                    {% csrf_token %}
                    <div class="form-group row">
                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" for="lesson_edit_header">{% trans "nazvanie" %}</label>
                        <div class="controls col-lg-4 col-md-6 col-sm-7 col-xs-7">
                            <input class="form-control" id='lesson_edit_header' name='lesson_title' type='text' size='20' data-value="{{lesson.title}}" value="{% if lesson.title %}{{ lesson.title }}{% endif %}" />
                            <small class="text-help" id="lesson_edit_header_error_text"></small>
                        </div>
                    </div>
                    <div id='date_lesson_body' class="form-group row">
                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" for="lesson_edit_date_start">{% trans "data_zaniatia" %}
                            <a tabindex="0" data-toggle="popover" data-trigger="hover" data-content="{% trans "vremia_msk" %}" type="button"><i class="fa fa-question-circle help-button" aria-hidden="true"></i></a></label>
                        <div class="controls form-group col-lg-4 col-md-6 col-sm-7 col-xs-7">
                            <div class="input-group date lesson_datetime" id='lesson_edit_date_start'>
                                <input class="form-control datetime" name='lesson_date_start' type='text'>
                                <span class="input-group-addon"><i class="fa fa-times fa-lg"></i></span>
                                <span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
                            </div>
                            <small class="text-help" id="lesson_date_start_error_text"></small>
                        </div>
                        <div class="controls form-group col-lg-4 col-md-6 col-sm-7 col-xs-7">
                            <div class="input-group date lesson_datetime" id='lesson_edit_date_finish'>
                                <input class="form-control datetime" name='lesson_date_finish' type='text'>
                                <span class="input-group-addon"><i class="fa fa-times fa-lg"></i></span>
                                <span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
                            </div>
                            <small class="text-help" id="lesson_date_finish_error_text"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" for="lesson_edit_group"> {% trans "gruppa" %}</label>
                        <div class="controls col-lg-4 col-md-6 col-sm-7 col-xs-7">
                            <select class="form-control" id='lesson_edit_group' name="lesson_group_id[]" multiple="multiple">
                                {% for group in course.groups.all %}
                                    <option value="{{ group.id }}" {% ifequal group.id lesson.group %}selected{% endifequal %}>{{ group.name }}</option>
                                {% endfor %}
                            </select>
                            <small class="text-help" id="lesson_group_id_error_text"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-5  form-control-label" for="lesson_edit_type"> {% trans "povtoriat" %}</label>
                        <div class="controls col-lg-4 col-md-6 col-sm-7 col-xs-7">
                            <select class="form-control" id='lesson_edit_type' name="period_type">
                                {% for type_id, type in period_types %}
                                    <option value="{{ type_id }}" {% ifequal type_id lesson.period %}selected{% endifequal %}>{{ type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div id='week_body' class="{% if lesson.period != lesson.PERIOD_SIMPLE %}in{% endif %} collapse">
                        <div class="form-group row">
                            <label class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" for="lesson_edit_weekday">{% trans "dni_nedeli" %}</label>
                            <div class="controls col-lg-4 col-md-6 col-sm-7 col-xs-7">
                                <select class="form-control" name="days[]" id="lesson_edit_weekday" multiple="multiple">
                                    <option value="0">{% trans "mon" %}</option>
                                    <option value="1">{% trans "tue" %}</option>
                                    <option value="2">{% trans "wed" %}</option>
                                    <option value="3">{% trans "thu" %}</option>
                                    <option value="4">{% trans "fri" %}</option>
                                    <option value="5">{% trans "sat" %}</option>
                                    <option value="6">{% trans "sun" %}</option>
                                </select>
                                <small class="text-help" id="days_error_text"></small>
                            </div>
                        </div>
                    </div>
                    <div id='date_end_body' class="{% if lesson.period != lesson.PERIOD_SIMPLE %}in{% endif %} collapse form-group row">
                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" for="lesson_end_date">{% trans "data_okonchania" %}</label>
                        <div class="controls col-lg-4 col-md-6 col-sm-7 col-xs-7">
                            <div class="input-group date lesson_datetime" id="lesson_end_date">
                                <input class="form-control datetime" name='date_end' type='text'>
                                <span class="input-group-addon"><i class="fa fa-times fa-lg"></i></span>
                                <span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
                            </div>
                            <small class="text-help" id="date_end_error_text"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-md-3 col-sm-4 col-xs-5 form-control-label" for="lesson_edit_body">{% trans "opisanie" %}</label>
                        <br>
                        <div class="controls col-xs-12">
                            <textarea class='input-xlarge form-control' id='lesson_edit_body' name='lesson_text'>{{ lesson.description }}</textarea>
                        </div>
                    </div>
                    <div class="form-group row footer-buttons">
                        <div id="lesson_submit_error_text" class="col-xs-12"></div>
                        <div class="col-sm-12 col-lg-2">
                            <button type="button" id="button_preview" class="btn btn-secondary pull-xs-left">{% trans "predprosmotr" %}</button>
                        </div>
                        <div class="col-sm-12 col-lg-10">
                            <div class="btn-group pull-xs-right" role="group">
                                <button type="button" id="button_cancel_quit" class="btn btn-secondary">{% trans "otmenit_i_vyjti" %}</button>
                                <button type="button" id="button_save" class="btn btn-secondary">{% trans "sohranit_i_prodolzhit" %}</button>
                                <button type="button" id="button_save_quit" class="btn btn-primary">{% trans "sohranit_i_vyjti" %}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="modal_lesson_preview" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_lesson_header" aria-hidden="true">
        <div class="modal-dialog modal-lg"  role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h5 class="modal-title" id="modal_lesson_header"></h5>
                    <div id="modal_lesson_date"></div>
                </div>
                <div class="modal-body">
                    <div id="modal_lesson_body"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
